<!--Accordion-->
<div id="faqs-accordion" class="appkit-accordion accordion-primary">
    <!-- Accordion Card -->
    <div class="appkit-card">
        <!--Header-->
        <div class="appkit-card-header">
            <a class="akit-accordion--toggler appkit-btn-link collapsed" href="#"
               data-akit-toggle="collapse"
               data-target="#collapse-1"
               aria-expanded="false">

                <span class="akit-accordion-title">How long has your company been established?</span>
                <!-- Icons -->
                <div class="akit_accordion_icon_group">
                    <div class="akit_accordion_normal_icon">
                        <!-- Normal Icon -->
                        <i class="icon icon-plus"></i>
                    </div>
                    <div class="akit_accordion_active_icon">
                        <!-- Active Icon -->
                        <i class="icon icon-cross"></i>
                    </div>
                </div>
            </a>
        </div>
        <!-- Collapse -->
        <div id="collapse-1" class="collapse" data-parent="#faqs-accordion">
            <!--Card body -->
            <div class="appkit-card-body akit-accordion--content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean porta rhoncus
                    leo, eget iaculis arcu dapibus vel. Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit. Proin porttitor, erat mollis, magna augue consectetur
                    lorem.
                </p>
            </div>
        </div>
    </div>
</div>
