<div class="mfp-bg mfp-fade mfp-ready"></div>
<div class="mfp-wrap mfp-close-btn-in mfp-auto-cursor mfp-fade mfp-ready">
    <div class="mfp-container mfp-s-ready mfp-iframe-holder">
        <div class="mfp-content">
            <div class="mfp-iframe-scaler">
                <button title="Close (Esc)" type="button" class="mfp-close akit-popup-close">×</button>
                <iframe class="mfp-iframe" src="https://www.youtube.com/embed/VhBl3dHT5SY?feature=oembed?playlist=VhBl3dHT5SY&mute=0&autoplay=0&loop=no&controls=0&start=0&end=" frameborder="0"></iframe>
            </div>
        </div>
        <div class="mfp-preloader">Loading...</div>
    </div>
</div>
