@import "../../framework/css/framework-vidda-kit.css";
@import "../../css/header-footer.css";
@import "../../css/app-vidda.css";

.app-home .app-element.app-element-section-404 {
    --display:flex;
    --flex-direction:column;
    --container-widget-width:100%;
    --container-widget-height:initial;
    --container-widget-flex-grow:0;
    --container-widget-align-self:initial;
    --flex-wrap-mobile:wrap;
    --padding-top:100px;
    --padding-bottom:100px;
    --padding-left:0;
    --padding-right:0;
}
.app-home .app-element.app-element-page-card {
    --display:flex;
    --border-radius:10px;
    --padding-top:70px;
    --padding-bottom:70px;
    --padding-left:70px;
    --padding-right:70px;
}
.app-home .app-element.app-element-page-card:not(.app-motion-effects-element-type-background),
.app-home .app-element.app-element-page-card > .app-motion-effects-container > .app-motion-effects-layer {
    background-color:#F8F6EF;
}
.app-home .app-element.app-element-page-card-image img {
    width:47%;
}
.app-home .app-element.app-element-404-heading > .app-widget-container {
    margin:0 0 0 0;
}
.app-home .app-element.app-element-404-heading.app-element {
    --align-self:center;
}
.app-home .app-element.app-element-404-heading {
    text-align:center;
}
.app-home .app-element.app-element-404-heading .app-heading-title {
    font-family:var( --global-typography-secondary-font-family ), sans-serif;
    font-size:var( --global-typography-secondary-font-size );
    font-weight:var( --global-typography-secondary-font-weight );
    text-transform:var( --global-typography-secondary-text-transform );
    font-style:var( --global-typography-secondary-font-style );
    text-decoration:var( --global-typography-secondary-text-decoration );
    line-height:var( --global-typography-secondary-line-height );
    letter-spacing:var( --global-typography-secondary-letter-spacing );
}
/*===================================== Mobile 1024 ===============================================*/
@media(max-width:1024px) {
    .app-home .app-element.app-element-section-404 {
        --padding-top:70px;
        --padding-bottom:70px;
        --padding-left:30px;
        --padding-right:30px;
    }
    .app-home .app-element.app-element-page-card {
        --padding-top:50px;
        --padding-bottom:50px;
        --padding-left:50px;
        --padding-right:50px;
    }
    .app-home .app-element.app-element-page-card-image img {
        width:52%;
    }
    .app-home .app-element.app-element-404-heading .app-heading-title {
        font-size:var( --global-typography-secondary-font-size );
        line-height:var( --global-typography-secondary-line-height );
        letter-spacing:var( --global-typography-secondary-letter-spacing );
    }
}
/*====================================== 767 ========================================================*/
@media(max-width:767px) {
    .app-home .app-element.app-element-section-404 {
        --padding-top:70px;
        --padding-bottom:70px;
        --padding-left:20px;
        --padding-right:20px;
    }
    .app-home .app-element.app-element-page-card {
        --padding-top:50px;
        --padding-bottom:50px;
        --padding-left:30px;
        --padding-right:30px;
    }
    .app-home .app-element.app-element-page-card-image img {
        width:80%;
    }
    .app-home .app-element.app-element-404-heading .app-heading-title {
        font-size:var( --global-typography-secondary-font-size );
        line-height:var( --global-typography-secondary-line-height );
        letter-spacing:var( --global-typography-secondary-letter-spacing );
    }
}
@media(min-width:768px) {
    .app-home .app-element.app-element-section-404 {
        --content-width:900px;
    }

}
@media(max-width:1024px) and (min-width:768px) {

}
