@import "../../framework/css/framework-vidda-kit.css";
@import "../../css/header-footer.css";
@import "../../css/app-vidda.css";

.app-home .app-element.app-element-section-about {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --padding-top: 100px;
    --padding-bottom: 100px;
    --padding-left: 0;
    --padding-right: 0;
}
.app-home .app-element.app-element-section-about-header {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --gap: 20px 100px;
    --row-gap: 20px;
    --column-gap: 100px;
    --flex-wrap: nowrap;
    --margin-top: 0px;
    --margin-bottom: 10px;
    --margin-left: 0;
    --margin-right: 0;
    --padding-top: 0;
    --padding-bottom: 0;
    --padding-left: 0;
    --padding-right: 0;
}
.app-home .app-element.app-element-section-about-header-left {
    --display: flex;
    --padding-top: 0;
    --padding-bottom: 0;
    --padding-left: 0;
    --padding-right: 0;
}
.app-home .app-element.app-element-section-about-heading .app-heading-title {
    font-family: var( --global-typography-secondary-font-family ),  sans-serif;
    font-size: var( --global-typography-secondary-font-size );
    font-weight: var( --global-typography-secondary-font-weight );
    text-transform: var( --global-typography-secondary-text-transform );
    font-style: var( --global-typography-secondary-font-style );
    text-decoration: var( --global-typography-secondary-text-decoration );
    line-height: var( --global-typography-secondary-line-height );
    letter-spacing: var( --global-typography-secondary-letter-spacing );
}
.app-home .app-element.app-element-section-about-header-right {
    --display: flex;
    --padding-top: 0;
    --padding-bottom: 0;
    --padding-left: 0;
    --padding-right: 0;
}
.app-home .app-element.app-element-section-about-header-right.app-con {
    --align-self: flex-end;
}
.app-home .app-element.app-element-section-about-header-text > .app-widget-container {
    margin: 0 0 -5px 0;
}
.app-home .app-element.app-element-section-about-content {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --gap: 20px 20px;
    --row-gap: 20px;
    --column-gap: 20px;
    --flex-wrap: nowrap;
    --padding-top: 0;
    --padding-bottom: 0;
    --padding-left: 0;
    --padding-right: 0;
}
.app-home .app-element.app-element-section-about-content-left {
    --display: flex;
    --justify-content: space-between;
    --padding-top: 0;
    --padding-bottom: 0;
    --padding-left: 0;
    --padding-right: 0;
}
.app-widget-image-box .app-image-box-title {
    font-family: var( --global-typography-primary-font-family ),  sans-serif;
    font-size: var( --global-typography-primary-font-size );
    font-weight: var( --global-typography-primary-font-weight );
    text-transform: var( --global-typography-primary-text-transform );
    font-style: var( --global-typography-primary-font-style );
    text-decoration: var( --global-typography-primary-text-decoration );
    line-height: var( --global-typography-primary-line-height );
    letter-spacing: var( --global-typography-primary-letter-spacing );
    color: var( --global-color-primary );
}
.app-widget-image-box:has(:hover) .app-image-box-title,
.app-widget-image-box:has(:focus) .app-image-box-title {
    color: var( --global-color-primary );
}
.app-widget-image-box .app-image-box-description {
    font-family: var( --global-typography-text-font-family ),  sans-serif;
    font-size: var( --global-typography-text-font-size );
    font-weight: var( --global-typography-text-font-weight );
    text-transform: var( --global-typography-text-text-transform );
    font-style: var( --global-typography-text-font-style );
    text-decoration: var( --global-typography-text-text-decoration );
    line-height: var( --global-typography-text-line-height );
    letter-spacing: var( --global-typography-text-letter-spacing );
    color: var( --global-color-text );
}
.app-home .app-element.app-element-section-about-image img {
    border-radius: 10px;
}
.app-home .app-element.app-element-section-about-content-right {
    --display: flex;
    --padding-top: 0;
    --padding-bottom: 0;
    --padding-left: 0;
    --padding-right: 0;
}
.app-home .app-element.app-element-section-counter-grid {
    --display: grid;
    --con-grid-template-columns: repeat(4,  1fr);
    --con-grid-template-rows: repeat(1,  1fr);
    --gap: 20px 0px;
    --row-gap: 20px;
    --column-gap: 0;
    --grid-auto-flow: row;
    --padding-top: 0;
    --padding-bottom: 100px;
    --padding-left: 0;
    --padding-right: 0;
}
.app-widget-counter .app-counter-number-wrapper {
    color: var( --global-color-primary );
    font-family: var( --global-typography-primary-font-family ),  sans-serif;
    font-size: var( --global-typography-primary-font-size );
    font-weight: var( --global-typography-primary-font-weight );
    text-transform: var( --global-typography-primary-text-transform );
    font-style: var( --global-typography-primary-font-style );
    text-decoration: var( --global-typography-primary-text-decoration );
    line-height: var( --global-typography-primary-line-height );
    letter-spacing: var( --global-typography-primary-letter-spacing );
}
.app-widget-counter .app-counter-title {
    color: var( --global-color-secondary );
    font-family: var( --global-typography-secondary-font-family ),  sans-serif;
    font-size: var( --global-typography-secondary-font-size );
    font-weight: var( --global-typography-secondary-font-weight );
    text-transform: var( --global-typography-secondary-text-transform );
    font-style: var( --global-typography-secondary-font-style );
    text-decoration: var( --global-typography-secondary-text-decoration );
    line-height: var( --global-typography-secondary-line-height );
    letter-spacing: var( --global-typography-secondary-letter-spacing );
}
.app-home .app-element.app-element-section-counter-item .app-counter-title {
    text-align: center;
    font-family: var( --global-typography-text-font-family ),  sans-serif;
    font-size: var( --global-typography-text-font-size );
    font-weight: var( --global-typography-text-font-weight );
    text-transform: var( --global-typography-text-text-transform );
    font-style: var( --global-typography-text-font-style );
    text-decoration: var( --global-typography-text-text-decoration );
    line-height: var( --global-typography-text-line-height );
    letter-spacing: var( --global-typography-text-letter-spacing );
}
.app-home .app-element.app-element-section-counter-item > .app-widget-container {
    margin: 0;
    padding: 5px 0 15px 0;
    border-style: solid;
    border-width: 0 1px 0 0;
    border-color: #2A1A1330;
}
.app-home .app-element.app-element-section-counter-item.item-4 > .app-widget-container {
    border-width: 0;
}
.app-home .app-element.app-element-section-counter-item .app-counter-number-wrapper {
    font-family: var( --global-typography-105-font-family ),  sans-serif;
    font-size: var( --global-typography-105-font-size );
    font-weight: var( --global-typography-105-font-weight );
    text-transform: var( --global-typography-105-text-transform );
    font-style: var( --global-typography-105-font-style );
    text-decoration: var( --global-typography-105-text-decoration );
    line-height: var( --global-typography-105-line-height );
    letter-spacing: var( --global-typography-105-letter-spacing );
}

/*======================================== Mobile 1024 =======================================*/
@media(max-width:1024px) {

    .app-home .app-element.app-element-section-about {
        --padding-top: 70px;
        --padding-bottom: 70px;
        --padding-left: 30px;
        --padding-right: 30px;
    }
    .app-home .app-element.app-element-section-about-header {
        --gap: 20px 50px;
        --row-gap: 20px;
        --column-gap: 50px;
    }
    .app-home .app-element.app-element-section-about-heading .app-heading-title {
        font-size: var( --global-typography-secondary-font-size );
        line-height: var( --global-typography-secondary-line-height );
        letter-spacing: var( --global-typography-secondary-letter-spacing );
    }
    .app-widget-image-box .app-image-box-title {
        font-size: var( --global-typography-primary-font-size );
        line-height: var( --global-typography-primary-line-height );
        letter-spacing: var( --global-typography-primary-letter-spacing );
    }
    .app-widget-image-box .app-image-box-description {
        font-size: var( --global-typography-text-font-size );
        line-height: var( --global-typography-text-line-height );
        letter-spacing: var( --global-typography-text-letter-spacing );
    }
    .app-home .app-element.app-element-section-counter-grid {
        --con-grid-template-columns: repeat(2,  1fr);
        --gap: 0 0;
        --row-gap: 0;
        --column-gap: 0;
        --grid-auto-flow: row;
        --padding-top: 0;
        --padding-bottom: 70px;
        --padding-left: 30px;
        --padding-right: 30px;
    }
    .app-widget-counter .app-counter-number-wrapper {
        font-size: var( --global-typography-primary-font-size );
        line-height: var( --global-typography-primary-line-height );
        letter-spacing: var( --global-typography-primary-letter-spacing );
    }
    .app-widget-counter .app-counter-title {
        font-size: var( --global-typography-secondary-font-size );
        line-height: var( --global-typography-secondary-line-height );
        letter-spacing: var( --global-typography-secondary-letter-spacing );
    }
    .app-home .app-element.app-element-section-counter-item > .app-widget-container {
        margin: 0;
        border-width: 0 1px 1px 0;
    }
    .app-home .app-element.app-element-section-counter-item.item-2 > .app-widget-container {
        border-width: 0 0 1px 0;
    }
    .app-home .app-element.app-element-section-counter-item.item-3 > .app-widget-container {
        border-width: 0 1px 0 0;
    }
    .app-home .app-element.app-element-section-counter-item.item-4 > .app-widget-container {
        margin: 0;
        border-width: 0;
    }
    .app-home .app-element.app-element-section-counter-item .app-counter-number-wrapper {
        font-size: var( --global-typography-105-font-size );
        line-height: var( --global-typography-105-line-height );
        letter-spacing: var( --global-typography-105-letter-spacing );
    }
    .app-home .app-element.app-element-section-counter-item .app-counter-title {
        font-size: var( --global-typography-text-font-size );
        line-height: var( --global-typography-text-line-height );
        letter-spacing: var( --global-typography-text-letter-spacing );
    }
}
/*======================================== 767 ==================================================*/
@media(max-width:767px) {

    .app-home .app-element.app-element-section-about {
        --padding-top: 70px;
        --padding-bottom: 70px;
        --padding-left: 20px;
        --padding-right: 20px;
    }
    .app-home .app-element.app-element-section-about-header {
        --flex-wrap: wrap;
    }
    .app-home .app-element.app-element-section-about-heading .app-heading-title {
        font-size: var( --global-typography-secondary-font-size );
        line-height: var( --global-typography-secondary-line-height );
        letter-spacing: var( --global-typography-secondary-letter-spacing );
    }
    .app-home .app-element.app-element-section-about-content {
        --flex-wrap: wrap;
    }
    .app-widget-image-box .app-image-box-title {
        font-size: var( --global-typography-primary-font-size );
        line-height: var( --global-typography-primary-line-height );
        letter-spacing: var( --global-typography-primary-letter-spacing );
    }
    .app-widget-image-box .app-image-box-description {
        font-size: var( --global-typography-text-font-size );
        line-height: var( --global-typography-text-line-height );
        letter-spacing: var( --global-typography-text-letter-spacing );
    }
    .app-home .app-element.app-element-section-about-content-right.app-con {
        --order: -99999 /* order start hack */;
    }
    .app-home .app-element.app-element-section-counter-grid {
        --con-grid-template-columns: repeat(1,  1fr);
        --grid-auto-flow: row;
        --padding-top: 0;
        --padding-bottom: 70px;
        --padding-left: 50px;
        --padding-right: 50px;
    }
    .app-widget-counter .app-counter-number-wrapper {
        font-size: var( --global-typography-primary-font-size );
        line-height: var( --global-typography-primary-line-height );
        letter-spacing: var( --global-typography-primary-letter-spacing );
    }
    .app-widget-counter .app-counter-title {
        font-size: var( --global-typography-secondary-font-size );
        line-height: var( --global-typography-secondary-line-height );
        letter-spacing: var( --global-typography-secondary-letter-spacing );
    }
    .app-home .app-element.app-element-section-counter-item > .app-widget-container {
        padding: 0 0 30px 0;
        border-width: 0 0 1px 0;
    }
    .app-home .app-element.app-element-section-counter-item.item-2 > .app-widget-container {
        padding: 30px 0;
    }
    .app-home .app-element.app-element-section-counter-item.item-3 > .app-widget-container {
        padding: 30px 0;
        border-width: 0 0 1px 0;
    }
    .app-home .app-element.app-element-section-counter-item.item-4 > .app-widget-container {
        padding: 30px 0;
    }
    .app-home .app-element.app-element-section-counter-item .app-counter-number-wrapper {
        font-size: var( --global-typography-105-font-size );
        line-height: var( --global-typography-105-line-height );
        letter-spacing: var( --global-typography-105-letter-spacing );
    }
    .app-home .app-element.app-element-section-counter-item .app-counter-title {
        font-size: var( --global-typography-text-font-size );
        line-height: var( --global-typography-text-line-height );
        letter-spacing: var( --global-typography-text-letter-spacing );
    }
}
@media(min-width:768px) {
    .app-home .app-element.app-element-section-about {
        --content-width: 1300px;
    }
    .app-home .app-element.app-element-section-about-content-left {
        --width: 60%;
    }
    .app-home .app-element.app-element-section-about-content-right {
        --width: 40%;
    }
    .app-home .app-element.app-element-section-counter-grid {
        --content-width: 1300px;
    }
}
