@import "../../framework/css/framework-vidda-kit.css";
@import "../../css/header-footer.css";
@import "../../css/app-vidda.css";

.app-home .app-element.app-element-section-blogs {
    --display:flex;
    --flex-direction:column;
    --container-widget-width:100%;
    --container-widget-height:initial;
    --container-widget-flex-grow:0;
    --container-widget-align-self:initial;
    --flex-wrap-mobile:wrap;
    --padding-top:100px;
    --padding-bottom:100px;
    --padding-left:0;
    --padding-right:0;
}
.app-home .app-element.app-widget-appkit-blog-posts .appkit-blog-block-post,
.app-home .app-element.app-widget-appkit-blog-posts .appkit-post-image-card,
.app-home .app-element.app-widget-appkit-blog-posts .appkit-post-card {
    background-color:#F8F6EF;
    box-shadow:2px 2px 4px 0 rgba(0, 0, 0, 0);
    border-radius:10px;
    padding:0;
    margin:0 0 30px 0;
    border-style:solid;
    border-width:0;
    border-color:#0000001F;
}
.app-home .app-element.app-widget-appkit-blog-posts > .app-widget-container {
    margin:0 0 -30px 0;
}
.app-home .app-element.app-widget-appkit-blog-posts .appkit-post-image-card {
    display:block;
}
.app-home .app-element.app-widget-appkit-blog-posts .appkit-blog-block-post .appkit-post-body {
    padding:15px 25px 25px 25px;
}
.app-home .app-element.app-widget-appkit-blog-posts .appkit-post-image-card .appkit-post-body {
    padding:15px 25px 25px 25px;
}
.app-home .app-element.app-widget-appkit-blog-posts .appkit-entry-thumb {
    border-radius:9px 9px 0 0;
    margin:0;
}
.app-home .app-element.app-widget-appkit-blog-posts .akit-wid-con .appkit-entry-thumb {
    padding:0;
}
.app-home .app-element.app-widget-appkit-blog-posts .post-meta-list a,
.app-home .app-element.app-widget-appkit-blog-posts .post-meta-list .meta-date-text {
    font-family:var( --global-typography-accent-font-family ), sans-serif;
    font-size:var( --global-typography-accent-font-size );
    font-weight:var( --global-typography-accent-font-weight );
    text-transform:var( --global-typography-accent-text-transform );
    font-style:var( --global-typography-accent-font-style );
    text-decoration:var( --global-typography-accent-text-decoration );
    letter-spacing:var( --global-typography-accent-letter-spacing );
}
.app-home .app-element.app-widget-appkit-blog-posts .post-meta-list {
    text-align:left;
    margin:0;
}
.app-home .app-element.app-widget-appkit-blog-posts .post-meta-list > span {
    margin:0 0 20px 0;
    padding:0;
    color:var( --global-color-accent );
    fill:var( --global-color-accent );
}
.app-home .app-element.app-widget-appkit-blog-posts .post-meta-list > span > i,
.app-home .app-element.app-widget-appkit-blog-posts .post-meta-list > span > svg {
    margin:0 2px 0 7px;
}
.app-home .app-element.app-widget-appkit-blog-posts .post-meta-list > span :is(i,
svg) {
    font-size:11px;
    color:var( --global-color-secondary );
    fill:var( --global-color-secondary );
}
.app-home .app-element.app-widget-appkit-blog-posts .post-meta-list > span:hover {
    color:var( --global-color-accent );
    fill:var( --global-color-accent );
}
.app-home .app-element.app-widget-appkit-blog-posts.akit-blog-posts--bg-hover .appkit-post-image-card:hover .post-meta-list > span {
    color:var( --global-color-accent );
    fill:var( --global-color-accent );
}
.app-home .app-element.app-widget-appkit-blog-posts .appkit-post-body .entry-title,
.app-home .app-element.app-widget-appkit-blog-posts .appkit-entry-header .entry-title,
.app-home .app-element.app-widget-appkit-blog-posts .appkit-post-image-card .appkit-post-body .entry-title  a,
.app-home .app-element.app-widget-appkit-blog-posts .appkit-post-card .appkit-entry-header .entry-title  a,
.app-home .app-element.app-widget-appkit-blog-posts .appkit-blog-block-post .appkit-post-body .entry-title a {
    font-family:var( --global-typography-101-font-family ), sans-serif;
    font-size:var( --global-typography-101-font-size );
    font-weight:var( --global-typography-101-font-weight );
    text-transform:var( --global-typography-101-text-transform );
    font-style:var( --global-typography-101-font-style );
    text-decoration:var( --global-typography-101-text-decoration );
    line-height:var( --global-typography-101-line-height );
    letter-spacing:var( --global-typography-101-letter-spacing );
}
.app-home .app-element.app-widget-appkit-blog-posts .appkit-post-body .entry-title a {
    color:var( --global-color-primary );
}
.app-home .app-element.app-widget-appkit-blog-posts .appkit-entry-header .entry-title a {
    color:var( --global-color-primary );
}
.app-home .app-element.app-widget-appkit-blog-posts .appkit-post-body .entry-title {
    text-align:left;
    margin:-5px 0 5px 0;
}
.app-home .app-element.app-widget-appkit-blog-posts .appkit-entry-header .entry-title {
    text-align:left;
    margin:-5px 0 5px 0;
}
.app-home .app-element.app-widget-appkit-blog-posts .appkit-post-footer > p {
    color:var( --global-color-text );
}
.app-home .app-element.app-widget-appkit-blog-posts .appkit-post-body > p {
    color:var( --global-color-text );
    text-align:left;
    margin:0;
}
.app-home .app-element.app-widget-appkit-blog-posts .appkit-post-footer > p,
.app-home .app-element.app-widget-appkit-blog-posts .appkit-post-body > p {
    font-family:var( --global-typography-text-font-family ), sans-serif;
    font-size:var( --global-typography-text-font-size );
    font-weight:var( --global-typography-text-font-weight );
    text-transform:var( --global-typography-text-text-transform );
    font-style:var( --global-typography-text-font-style );
    text-decoration:var( --global-typography-text-text-decoration );
    line-height:var( --global-typography-text-line-height );
    letter-spacing:var( --global-typography-text-letter-spacing );
}
.app-home .app-element.app-widget-appkit-blog-posts .appkit-post-footer {
    text-align:left;
    margin:0;
}
.app-home .app-element.app-widget-appkit-blog-posts .appkit-blog-block-post .appkit-post-footer > p {
    margin:0;
}
/*===================================== Mobile 1024 ===============================================*/
@media(max-width:1024px) {
    .app-home .app-element.app-element-section-blogs {
        --padding-top:70px;
        --padding-bottom:70px;
        --padding-left:30px;
        --padding-right:30px;
    }
    .app-home .app-element.app-widget-appkit-blog-posts > .app-widget-container {
        margin:0 0 -30px 0;
    }
    .app-home .app-element.app-widget-appkit-blog-posts .appkit-blog-block-post,
    .app-home .app-element.app-widget-appkit-blog-posts .appkit-post-image-card,
    .app-home .app-element.app-widget-appkit-blog-posts .appkit-post-card {
        margin:0 0 30px 0;
    }
    .app-home .app-element.app-widget-appkit-blog-posts .post-meta-list a,
    .app-home .app-element.app-widget-appkit-blog-posts .post-meta-list .meta-date-text {
        font-size:var( --global-typography-accent-font-size );
        letter-spacing:var( --global-typography-accent-letter-spacing );
    }
    .app-home .app-element.app-widget-appkit-blog-posts .appkit-post-body .entry-title,
    .app-home .app-element.app-widget-appkit-blog-posts .appkit-entry-header .entry-title,
    .app-home .app-element.app-widget-appkit-blog-posts .appkit-post-image-card .appkit-post-body .entry-title  a,
    .app-home .app-element.app-widget-appkit-blog-posts .appkit-post-card .appkit-entry-header .entry-title  a,
    .app-home .app-element.app-widget-appkit-blog-posts .appkit-blog-block-post .appkit-post-body .entry-title a {
        font-size:var( --global-typography-101-font-size );
        line-height:var( --global-typography-101-line-height );
        letter-spacing:var( --global-typography-101-letter-spacing );
    }
    .app-home .app-element.app-widget-appkit-blog-posts .appkit-post-footer > p,
    .app-home .app-element.app-widget-appkit-blog-posts .appkit-post-body > p {
        font-size:var( --global-typography-text-font-size );
        line-height:var( --global-typography-text-line-height );
        letter-spacing:var( --global-typography-text-letter-spacing );
    }
}
/*====================================== 767 ========================================================*/
@media(max-width:767px) {
    .app-home .app-element.app-element-section-blogs {
        --padding-top:70px;
        --padding-bottom:70px;
        --padding-left:20px;
        --padding-right:20px;
    }
    .app-home .app-element.app-widget-appkit-blog-posts > .app-widget-container {
        margin:0 0 -20px 0;
    }
    .app-home .app-element.app-widget-appkit-blog-posts .appkit-blog-block-post,
    .app-home .app-element.app-widget-appkit-blog-posts .appkit-post-image-card,
    .app-home .app-element.app-widget-appkit-blog-posts .appkit-post-card {
        margin:0 0 20px 0;
    }
    .app-home .app-element.app-widget-appkit-blog-posts .appkit-blog-block-post .appkit-post-body {
        padding:20px 20px 25px 20px;
    }
    .app-home .app-element.app-widget-appkit-blog-posts .appkit-post-image-card .appkit-post-body {
        padding:20px 20px 25px 20px;
    }
    .app-home .app-element.app-widget-appkit-blog-posts .post-meta-list a,
    .app-home .app-element.app-widget-appkit-blog-posts .post-meta-list .meta-date-text {
        font-size:var( --global-typography-accent-font-size );
        letter-spacing:var( --global-typography-accent-letter-spacing );
    }
    .app-home .app-element.app-widget-appkit-blog-posts .appkit-post-body .entry-title,
    .app-home .app-element.app-widget-appkit-blog-posts .appkit-entry-header .entry-title,
    .app-home .app-element.app-widget-appkit-blog-posts .appkit-post-image-card .appkit-post-body .entry-title  a,
    .app-home .app-element.app-widget-appkit-blog-posts .appkit-post-card .appkit-entry-header .entry-title  a,
    .app-home .app-element.app-widget-appkit-blog-posts .appkit-blog-block-post .appkit-post-body .entry-title a {
        font-size:var( --global-typography-101-font-size );
        line-height:var( --global-typography-101-line-height );
        letter-spacing:var( --global-typography-101-letter-spacing );
    }
    .app-home .app-element.app-widget-appkit-blog-posts .appkit-post-footer > p,
    .app-home .app-element.app-widget-appkit-blog-posts .appkit-post-body > p {
        font-size:var( --global-typography-text-font-size );
        line-height:var( --global-typography-text-line-height );
        letter-spacing:var( --global-typography-text-letter-spacing );
    }
}
@media(min-width:768px) {
    .app-home .app-element.app-element-section-blogs {
        --content-width:1300px;
    }

}
@media(max-width:1024px) and (min-width:768px) {

}
