@import "../../framework/css/framework-vidda-kit.css";
@import "../../css/header-footer.css";
@import "../../css/app-vidda.css";

.app-home .app-element.app-element-our-classes {
    --display:flex;
    --flex-direction:column;
    --container-widget-width:100%;
    --container-widget-height:initial;
    --container-widget-flex-grow:0;
    --container-widget-align-self:initial;
    --flex-wrap-mobile:wrap;
    --padding-top:100px;
    --padding-bottom:100px;
    --padding-left:0;
    --padding-right:0;
}
.app-home .app-element.app-element-our-classes-heading {
    width:var( --container-widget-width, 55% );
    max-width:55%;
    --container-widget-width:55%;
    --container-widget-flex-grow:0;
    text-align:center;
}
.app-home .app-element.app-element-our-classes-heading > .app-widget-container {
    margin:0 0 50px 0;
}
.app-home .app-element.app-element-our-classes-heading.app-element {
    --align-self:center;
}
.app-home .app-element.app-element-our-classes-heading .app-heading-title {
    font-family:var( --global-typography-secondary-font-family ), sans-serif;
    font-size:var( --global-typography-secondary-font-size );
    font-weight:var( --global-typography-secondary-font-weight );
    text-transform:var( --global-typography-secondary-text-transform );
    font-style:var( --global-typography-secondary-font-style );
    text-decoration:var( --global-typography-secondary-text-decoration );
    line-height:var( --global-typography-secondary-line-height );
    letter-spacing:var( --global-typography-secondary-letter-spacing );
    color:var( --global-color-primary );
}
.app-home .app-element.app-element-our-classes-cards-grid {
    --display:grid;
    --con-grid-template-columns:repeat(3, 1fr);
    --con-grid-template-rows:repeat(2, 1fr);
    --grid-auto-flow:row;
    --padding-top:0;
    --padding-bottom:0;
    --padding-left:0;
    --padding-right:0;
}
.app-home .app-element.app-element-our-classes-card {
    --display:flex;
    --flex-direction:row;
    --container-widget-width:initial;
    --container-widget-height:100%;
    --container-widget-flex-grow:1;
    --container-widget-align-self:stretch;
    --flex-wrap-mobile:wrap;
    --gap:20px 10px;
    --row-gap:20px;
    --column-gap:10px;
    --flex-wrap:wrap;
    --border-radius:10px;
    --padding-top:30px;
    --padding-bottom:30px;
    --padding-left:30px;
    --padding-right:30px;
}
.app-home .app-element.app-element-our-classes-card:not(.app-motion-effects-element-type-background),
.app-home .app-element.app-element-our-classes-card > .app-motion-effects-container > .app-motion-effects-layer {
    background-color:#F8F6EF;
}
.app-home .app-element.app-element-get-started.secondary-background:not(.app-motion-effects-element-type-background),
.app-home .app-element.app-element-get-started.secondary-background > .app-motion-effects-container > .app-motion-effects-layer {
    background-color:var( --global-color-8c75c4b );
}
/*===================================== Mobile 1024 ===============================================*/
@media(max-width:1024px) {
    .app-home .app-element.app-element-our-classes {
        --padding-top:70px;
        --padding-bottom:70px;
        --padding-left:30px;
        --padding-right:30px;
    }
    .app-home .app-element.app-element-our-classes-heading > .app-widget-container {
        margin:0px 0px 30px 0px;
    }
    .app-home .app-element.app-element-our-classes-heading {
        --container-widget-width:80%;
        --container-widget-flex-grow:0;
        width:var( --container-widget-width, 80% );
        max-width:80%;
    }
    .app-home .app-element.app-element-our-classes-heading .app-heading-title {
        font-size:var( --global-typography-secondary-font-size );
        line-height:var( --global-typography-secondary-line-height );
        letter-spacing:var( --global-typography-secondary-letter-spacing );
    }
    .app-home .app-element.app-element-our-classes-cards-grid {
        --con-grid-template-columns:repeat(2, 1fr);
        --grid-auto-flow:row;
    }
}
/*====================================== 767 ========================================================*/
@media(max-width:767px) {
    .app-home .app-element.app-element-our-classes {
        --padding-top:70px;
        --padding-bottom:70px;
        --padding-left:20px;
        --padding-right:20px;
    }
    .app-home .app-element.app-element-our-classes-heading {
        --container-widget-width:100%;
        --container-widget-flex-grow:0;
        width:var( --container-widget-width, 100% );
        max-width:100%;
    }
    .app-home .app-element.app-element-our-classes-heading .app-heading-title {
        font-size:var( --global-typography-secondary-font-size );
        line-height:var( --global-typography-secondary-line-height );
        letter-spacing:var( --global-typography-secondary-letter-spacing );
    }
    .app-home .app-element.app-element-our-classes-cards-grid {
        --con-grid-template-columns:repeat(1, 1fr);
        --grid-auto-flow:row;
    }
}
@media(min-width:768px) {
    .app-home .app-element.app-element-our-classes {
        --content-width:1300px;
    }
}
