.app-home .app-element.hero {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 30px;
    --padding-right: 30px
}

.app-home .app-element.hero-video-wrapper {
    --display: flex;
    --min-height: 720px;
    --justify-content: flex-end;
    --align-items: flex-start;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );
    --flex-wrap: wrap;
    --overlay-opacity: 0.8;
    --border-radius: 10px 10px 10px 10px;
    --padding-top: 100px;
    --padding-bottom: 70px;
    --padding-left: 70px;
    --padding-right: 70px;
}
.app-home .app-element.hero-video-wrapper::before,
.app-home .app-element.hero-video-wrapper > .app-background-video-container::before,
.app-home .app-element.hero-video-wrapper > .app-con-inner > .app-background-video-container::before,
.app-home .app-element.hero-video-wrapper > .app-background-slideshow::before,
.app-home .app-element.hero-video-wrapper > .app-con-inner > .app-background-slideshow::before,
.app-home .app-element.hero-video-wrapper > .app-motion-effects-container > .app-motion-effects-layer::before {
    background-color: transparent;
    --background-overlay: '';
    background-image: linear-gradient(200deg,  #2A1A1300 0%,  var( --global-color-primary ) 100%);
}

.app-home .app-element.hero-video-wrapper:not(.app-motion-effects-element-type-background),
.app-home .app-element.hero-video-wrapper > .app-motion-effects-container > .app-motion-effects-layer {
    background: url("../../assets/images/women-exercising-with-instructor-in-gym-.jpg") 50% 50%;
    background-size: cover;
}

@media(max-width:1024px) {

    .app-home .app-element.hero {
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 20px;
        --padding-right: 20px;
    }
    .app-home .app-element.hero-video-wrapper {
        --min-height: 650px;
        --padding-top: 70px;
        --padding-bottom: 50px;
        --padding-left: 50px;
        --padding-right: 50px;
    }
}

@media(max-width:767px) {

    .app-home .app-element.hero {
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 10px;
        --padding-right: 10px;
    }
    .app-home .app-element.hero-video-wrapper {
        --padding-top: 70px;
        --padding-bottom: 30px;
        --padding-left: 20px;
        --padding-right: 20px;
    }
}
