
@font-face {
  font-family: "Instrument Sans";
  src: url("../fonts/InstrumentSans.ttf");
}
@font-face {
  font-family: "Taviraj";
  src: url("../fonts/Taviraj-Light.ttf");
}
@font-face {
  font-family: "Taviraj Thin";
  src: url("../fonts/Taviraj-Thin.ttf");
}
p {
  margin-block-end: .9rem;
  margin-block-start: 0;
}
.app-kit-3-vidda {
  --global-color-primary:#2A1A13;
  --global-color-secondary:#683826;
  --global-color-text:#675249;
  --global-color-accent:#31452D;
  --global-color-2d8c8bd:#F0EDE1;
  --global-color-8c75c4b:#E9E5D7; /* Main background*/
  --global-color-chocklet: #20140E;
  --global-typography-primary-font-family:"Taviraj";
  --global-typography-primary-font-size:68px;
  --global-typography-primary-font-weight:300;
  --global-typography-primary-text-transform:none;
  --global-typography-primary-font-style:normal;
  --global-typography-primary-text-decoration:none;
  --global-typography-primary-line-height:1.3em;
  --global-typography-primary-letter-spacing:0px;
  --global-typography-secondary-font-family:"Taviraj";
  --global-typography-secondary-font-size:45px;
  --global-typography-secondary-font-weight:300;
  --global-typography-secondary-text-transform:none;
  --global-typography-secondary-font-style:normal;
  --global-typography-secondary-text-decoration:none;
  --global-typography-secondary-line-height:1.3em;
  --global-typography-secondary-letter-spacing:0px;

  --global-typography-secondary-thin-font-family:"Taviraj Thin";
  --global-typography-secondary-thin-font-size:45px;
  --global-typography-secondary-thin-font-weight:300;
  --global-typography-secondary-thin-text-transform:none;
  --global-typography-secondary-thin-font-style:normal;
  --global-typography-secondary-thin-text-decoration:none;
  --global-typography-secondary-thin-line-height:1.3em;
  --global-typography-secondary-thin-letter-spacing:0px;

  --global-typography-text-font-family:"Instrument Sans";
  --global-typography-text-font-size:16px;
  --global-typography-text-font-weight:400;
  --global-typography-text-text-transform:none;
  --global-typography-text-font-style:normal;
  --global-typography-text-text-decoration:none;
  --global-typography-text-line-height:1.7em;
  --global-typography-text-letter-spacing:0px;
  --global-typography-accent-font-family:"Instrument Sans";
  --global-typography-accent-font-size:14px;
  --global-typography-accent-font-weight:500;
  --global-typography-accent-text-transform:none;
  --global-typography-accent-font-style:normal;
  --global-typography-accent-text-decoration:none;
  --global-typography-accent-letter-spacing:0px;
  --global-typography-100-font-family:"Taviraj";
  --global-typography-100-font-size:30px;
  --global-typography-100-font-weight:300;
  --global-typography-100-text-transform:none;
  --global-typography-100-font-style:normal;
  --global-typography-100-text-decoration:none;
  --global-typography-100-line-height:1.4em;
  --global-typography-100-letter-spacing:0px;
  --global-typography-101-font-family:"Taviraj";
  --global-typography-101-font-size:25px;
  --global-typography-101-font-weight:300;
  --global-typography-101-text-transform:none;
  --global-typography-101-font-style:normal;
  --global-typography-101-text-decoration:none;
  --global-typography-101-line-height:1.4em;
  --global-typography-101-letter-spacing:0px;
  --global-typography-102-font-family:"Taviraj";
  --global-typography-102-font-size:22px;
  --global-typography-102-font-weight:300;
  --global-typography-102-text-transform:none;
  --global-typography-102-font-style:normal;
  --global-typography-102-text-decoration:none;
  --global-typography-102-line-height:1.4em;
  --global-typography-102-letter-spacing:0px;
  --global-typography-bd2d915-font-family:"Taviraj";
  --global-typography-bd2d915-font-size:19px;
  --global-typography-bd2d915-font-weight:300;
  --global-typography-bd2d915-text-transform:none;
  --global-typography-bd2d915-font-style:normal;
  --global-typography-bd2d915-text-decoration:none;
  --global-typography-bd2d915-line-height:1.5em;
  --global-typography-bd2d915-letter-spacing:0px;
  --global-typography-f911175-font-family:"Instrument Sans";
  --global-typography-f911175-font-size:14px;
  --global-typography-f911175-font-weight:600;
  --global-typography-f911175-text-transform:uppercase;
  --global-typography-f911175-font-style:normal;
  --global-typography-f911175-text-decoration:none;
  --global-typography-f911175-line-height:1.6em;
  --global-typography-f911175-letter-spacing:5px;
  --global-typography-1a61658-font-family:"Taviraj";
  --global-typography-1a61658-font-size:64px;
  --global-typography-1a61658-font-weight:300;
  --global-typography-1a61658-text-transform:none;
  --global-typography-1a61658-font-style:normal;
  --global-typography-1a61658-text-decoration:none;
  --global-typography-1a61658-line-height:1.3em;
  --global-typography-1a61658-letter-spacing:0px;
  --global-typography-658dc5b-font-family:"Instrument Sans";
  --global-typography-658dc5b-font-size:15px;
  --global-typography-658dc5b-font-weight:500;
  --global-typography-658dc5b-text-transform:none;
  --global-typography-658dc5b-font-style:normal;
  --global-typography-658dc5b-text-decoration:none;
  --global-typography-658dc5b-line-height:1.6em;
  --global-typography-658dc5b-letter-spacing:0px;
  --global-typography-2eec24c-font-family:"Instrument Sans";
  --global-typography-2eec24c-font-size:14px;
  --global-typography-2eec24c-font-weight:500;
  --global-typography-2eec24c-text-transform:none;
  --global-typography-2eec24c-font-style:normal;
  --global-typography-2eec24c-text-decoration:none;
  --global-typography-2eec24c-line-height:1.6em;
  --global-typography-2eec24c-letter-spacing:0px;
  background-color:var( --global-color-2d8c8bd );
  color:var( --global-color-text );
  font-family:var( --global-typography-text-font-family ), sans-serif;
  font-size:var( --global-typography-text-font-size );
  font-weight:var( --global-typography-text-font-weight );
  text-transform:var( --global-typography-text-text-transform );
  font-style:var( --global-typography-text-font-style );
  text-decoration:var( --global-typography-text-text-decoration );
  line-height:var( --global-typography-text-line-height );
  letter-spacing:var( --global-typography-text-letter-spacing );
}

.app-widget-image {
  text-align: center;
}
.app-widget-image a {
  display: inline-block;
}
.app-widget-image a img[src$=".svg"] {
  width: 48px;
}
.app-widget-image img {
  display: inline-block;
  vertical-align: middle;
}
.app-widget-image-box .app-image-box-content {
  width:100%
}
@media (min-width:768px) {
  .app-widget-image-box.app-position-left .app-image-box-wrapper,
  .app-widget-image-box.app-position-right .app-image-box-wrapper {
    display:flex
  }
  .app-widget-image-box.app-position-right .app-image-box-wrapper {
    flex-direction:row-reverse;
    text-align:end
  }
  .app-widget-image-box.app-position-left .app-image-box-wrapper {
    flex-direction:row;
    text-align:start
  }
  .app-widget-image-box.app-position-top .app-image-box-img {
    margin:auto
  }
  .app-widget-image-box.app-vertical-align-top .app-image-box-wrapper {
    align-items:flex-start
  }
  .app-widget-image-box.app-vertical-align-middle .app-image-box-wrapper {
    align-items:center
  }
  .app-widget-image-box.app-vertical-align-bottom .app-image-box-wrapper {
    align-items:flex-end
  }
}
@media (max-width:767px) {
  .app-widget-image-box .app-image-box-img {
    margin-bottom:15px;
    margin-left:auto!important;
    margin-right:auto!important
  }
}
.app-widget-image-box .app-image-box-img {
  display:inline-block
}
.app-widget-image-box .app-image-box-img img {
  display:block;
  line-height:0
}
.app-widget-image-box .app-image-box-title a {
  color:inherit
}
.app-widget-image-box .app-image-box-wrapper {
  text-align:center
}
.app-widget-image-box .app-image-box-description {
  margin:0
}

.app-widget-text-editor {
  font-family: var( --global-typography-text-font-family ),  sans-serif;
  font-size: var( --global-typography-text-font-size );
  font-weight: var( --global-typography-text-font-weight );
  text-transform: var( --global-typography-text-text-transform );
  font-style: var( --global-typography-text-font-style );
  text-decoration: var( --global-typography-text-text-decoration );
  line-height: var( --global-typography-text-line-height );
  letter-spacing: var( --global-typography-text-letter-spacing );
  color: var( --global-color-text );
}

.app-widget-text-editor.app-drop-cap-view-stacked .app-drop-cap {
  background-color: var( --global-color-primary );
}

.app-widget-text-editor.app-drop-cap-view-framed .app-drop-cap,  .app-widget-text-editor.app-drop-cap-view-default .app-drop-cap {
  color: var( --global-color-primary );
  border-color: var( --global-color-primary );
}

.app-widget-heading .app-heading-title {
  font-family: var( --global-typography-primary-font-family ),  sans-serif;
  font-size: var( --global-typography-primary-font-size );
  font-weight: var( --global-typography-primary-font-weight );
  text-transform: var( --global-typography-primary-text-transform );
  font-style: var( --global-typography-primary-font-style );
  text-decoration: var( --global-typography-primary-text-decoration );
  line-height: var( --global-typography-primary-line-height );
  letter-spacing: var( --global-typography-primary-letter-spacing );
  color: var( --global-color-primary );
}

.app-button {
  display: inline-block;
}
.app-kit-3-vidda button,
.app-kit-3-vidda input[type="button"],
.app-kit-3-vidda input[type="submit"],
.app-kit-3-vidda .app-button {
  background-color:var( --global-color-primary );
  font-family:var( --global-typography-accent-font-family ), sans-serif;
  font-size:var( --global-typography-accent-font-size );
  font-weight:var( --global-typography-accent-font-weight );
  text-transform:var( --global-typography-accent-text-transform );
  font-style:var( --global-typography-accent-font-style );
  text-decoration:var( --global-typography-accent-text-decoration );
  letter-spacing:var( --global-typography-accent-letter-spacing );
  color:#FFFFFF;
  border-radius:6px 6px 6px 6px;
  padding:14px 26px 14px 26px;
  transition: background .3s,border .3s,
              border-radius .3s,
              box-shadow .3s,transform .4s;
}
.app-kit-3-vidda button {
  transition: all .4s ease;
}
.app-kit-3-vidda button:hover,
.app-kit-3-vidda button:focus,
.app-kit-3-vidda input[type="button"]:hover,
.app-kit-3-vidda input[type="button"]:focus,
.app-kit-3-vidda input[type="submit"]:hover,
.app-kit-3-vidda input[type="submit"]:focus,
.app-kit-3-vidda .app-button:hover,
.app-kit-3-vidda .app-button:focus {
  background-color:var( --global-color-secondary );
  color:#FFFFFF;
}
.app-kit-3-vidda a {
  color:var( --global-color-accent );
}
.app-kit-3-vidda a:hover {
  color:var( --global-color-primary );
}
.app-kit-3-vidda h1 {
  color:var( --global-color-primary );
  font-family:var( --global-typography-primary-font-family ), sans-serif;
  font-size:var( --global-typography-primary-font-size );
  font-weight:var( --global-typography-primary-font-weight );
  text-transform:var( --global-typography-primary-text-transform );
  font-style:var( --global-typography-primary-font-style );
  text-decoration:var( --global-typography-primary-text-decoration );
  line-height:var( --global-typography-primary-line-height );
  letter-spacing:var( --global-typography-primary-letter-spacing );

}
.app-kit-3-vidda h2 {
  color:var( --global-color-primary );
  font-family:var( --global-typography-secondary-font-family ), sans-serif;
  font-size:var( --global-typography-secondary-font-size );
  font-weight:var( --global-typography-secondary-font-weight );
  text-transform:var( --global-typography-secondary-text-transform );
  font-style:var( --global-typography-secondary-font-style );
  text-decoration:var( --global-typography-secondary-text-decoration );
  line-height:var( --global-typography-secondary-line-height );
  letter-spacing:var( --global-typography-secondary-letter-spacing );
}
.app-kit-3-vidda h3 {
  color:var( --global-color-primary );
  font-family:var( --global-typography-100-font-family ), sans-serif;
  font-size:var( --global-typography-100-font-size );
  font-weight:var( --global-typography-100-font-weight );
  text-transform:var( --global-typography-100-text-transform );
  font-style:var( --global-typography-100-font-style );
  text-decoration:var( --global-typography-100-text-decoration );
  line-height:var( --global-typography-100-line-height );
  letter-spacing:var( --global-typography-100-letter-spacing );
}
.app-kit-3-vidda h4 {
  color:var( --global-color-primary );
  font-family:var( --global-typography-101-font-family ), sans-serif;
  font-size:var( --global-typography-101-font-size );
  font-weight:var( --global-typography-101-font-weight );
  text-transform:var( --global-typography-101-text-transform );
  font-style:var( --global-typography-101-font-style );
  text-decoration:var( --global-typography-101-text-decoration );
  line-height:var( --global-typography-101-line-height );
  letter-spacing:var( --global-typography-101-letter-spacing );
}
.app-kit-3-vidda h5 {
  color:var( --global-color-primary );
  font-family:var( --global-typography-102-font-family ), sans-serif;
  font-size:var( --global-typography-102-font-size );
  font-weight:var( --global-typography-102-font-weight );
  text-transform:var( --global-typography-102-text-transform );
  font-style:var( --global-typography-102-font-style );
  text-decoration:var( --global-typography-102-text-decoration );
  line-height:var( --global-typography-102-line-height );
  letter-spacing:var( --global-typography-102-letter-spacing );
}
.app-kit-3-vidda h6 {
  color:var( --global-color-primary );
  font-family:var( --global-typography-bd2d915-font-family ), sans-serif;
  font-size:var( --global-typography-bd2d915-font-size );
  font-weight:var( --global-typography-bd2d915-font-weight );
  text-transform:var( --global-typography-bd2d915-text-transform );
  font-style:var( --global-typography-bd2d915-font-style );
  text-decoration:var( --global-typography-bd2d915-text-decoration );
  line-height:var( --global-typography-bd2d915-line-height );
  letter-spacing:var( --global-typography-bd2d915-letter-spacing );
}
.app-section.app-section-boxed > .app-container {
  max-width:1140px;
}
.app-con {
  --container-max-width:1140px;
}
.app-widget:not(:last-child) {
  margin-block-end:20px;
}
.app-element {
  --widgets-spacing:20px 20px;
  --widgets-spacing-row:20px;
  --widgets-spacing-column:20px;
}
.site-header .site-branding {
  flex-direction:column;
  align-items:stretch;
}
.site-header {
  padding-inline-end: 0;
  padding-inline-start: 0;
}
.site-footer .site-branding {
  flex-direction: column;
  align-items: stretch;
}

.icon-list-items {
  display:flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
}
.icon-list-item {
  position: relative;
  display: flex;
  align-items: center;
  font-size: inherit;
  margin: 0;
  padding: 0;
}
.app-kit-3-vidda .app-element.app-element-text {
  font-family: var( --global-typography-2eec24c-font-family ),  sans-serif;
  font-size: var( --global-typography-2eec24c-font-size );
  font-weight: var( --global-typography-2eec24c-font-weight );
  text-transform: var( --global-typography-2eec24c-text-transform );
  font-style: var( --global-typography-2eec24c-font-style );
  text-decoration: var( --global-typography-2eec24c-text-decoration );
  line-height: var( --global-typography-2eec24c-line-height );
  letter-spacing: var( --global-typography-2eec24c-letter-spacing );
  color: #FFFFFF;
}

.app-kit-3-vidda img {
  width: 100%;
  height: auto;
  object-fit: cover;
  user-select: none;
  box-shadow: none;
}
.app-widget-counter .app-counter-number-wrapper {
  color: var( --global-color-primary );
  font-family: var( --global-typography-primary-font-family ),  sans-serif;
  font-size: var( --global-typography-primary-font-size );
  font-weight: var( --global-typography-primary-font-weight );
  text-transform: var( --global-typography-primary-text-transform );
  font-style: var( --global-typography-primary-font-style );
  text-decoration: var( --global-typography-primary-text-decoration );
  line-height: var( --global-typography-primary-line-height );
  letter-spacing: var( --global-typography-primary-letter-spacing );
}
.app-widget-counter .app-counter-title {
  color: var( --global-color-secondary );
  font-family: var( --global-typography-secondary-font-family ),  sans-serif;
  font-size: var( --global-typography-secondary-font-size );
  font-weight: var( --global-typography-secondary-font-weight );
  text-transform: var( --global-typography-secondary-text-transform );
  font-style: var( --global-typography-secondary-font-style );
  text-decoration: var( --global-typography-secondary-text-decoration );
  line-height: var( --global-typography-secondary-line-height );
  letter-spacing: var( --global-typography-secondary-letter-spacing );
}
.app-counter {
  align-items:stretch;
  display:flex;
  flex-direction:column-reverse;
  justify-content:center
}
.app-counter .app-counter-number {
  flex-grow:var(--counter-number-grow,0)
}
.app-counter .app-counter-number-wrapper {
  display:flex;
  flex:1;
  font-size:69px;
  font-weight:600;
  line-height:1;
  text-align:center
}
.app-counter .app-counter-number-prefix {
  flex-grow:var(--counter-prefix-grow,1);
  text-align:end;
  white-space:pre-wrap
}
.app-counter .app-counter-number-suffix {
  flex-grow:var(--counter-suffix-grow,1);
  text-align:start;
  white-space:pre-wrap
}
.app-counter .app-counter-title {
  align-items:center;
  display:flex;
  flex:1;
  font-size:19px;
  font-weight:400;
  justify-content:center;
  line-height:2.5;
  margin:0;
  padding:0
}
.app-kit-3-vidda .app-button-link {
  background-color: #FE6F6200;
  font-family: var( --global-typography-2eec24c-font-family ), sans-serif;
  font-size: var( --global-typography-2eec24c-font-size );
  font-weight: var( --global-typography-2eec24c-font-weight );
  text-transform: var( --global-typography-2eec24c-text-transform );
  font-style: var( --global-typography-2eec24c-font-style );
  text-decoration: var( --global-typography-2eec24c-text-decoration );
  line-height: var( --global-typography-2eec24c-line-height );
  letter-spacing: var( --global-typography-2eec24c-letter-spacing );
  fill: #FFFFFF;
  color: #FFFFFF;
  border-style: solid;
  border-width: 0;
  border-color: #2A1A1330;
  border-radius: 0;
  padding: 0;
  transition: background .3s,border .3s,border-radius .3s,box-shadow .3s,transform .4s;
}
.app-kit-3-vidda .app-button-link:hover {
  color: #CAC0BB;
}
.app-button-menu-close {
  background-color: #FFFFFF00;
  font-family: var( --global-typography-accent-font-family ), sans-serif;
  font-size: var( --global-typography-accent-font-size );
  font-weight: var( --global-typography-accent-font-weight );
  text-transform: var( --global-typography-accent-text-transform );
  font-style: var( --global-typography-accent-font-style );
  text-decoration: var( --global-typography-accent-text-decoration );
  letter-spacing: var( --global-typography-accent-letter-spacing );
  border-style: solid;
  border-color: #02010100;
  color: var( --global-color-accent );
  transition: all .4s ease;
}
.app-button-menu-close:hover {
  background-color: #02010100;
  color: var( --global-color-primary );
}
.app-widget-icon-list .app-icon-list-item:not(:last-child):after {
  border-color: var( --global-color-text );
}
.app-widget-icon-list .app-icon-list-icon i {
  color: var( --global-color-primary );
}
.app-widget-icon-list .app-icon-list-icon svg {
  fill: var( --global-color-primary );
}
.app-widget-icon-list .app-icon-list-item > .app-icon-list-text,
.app-widget-icon-list .app-icon-list-item > a {
  font-family: var( --global-typography-text-font-family ),  sans-serif;
  font-size: var( --global-typography-text-font-size );
  font-weight: var( --global-typography-text-font-weight );
  text-transform: var( --global-typography-text-text-transform );
  font-style: var( --global-typography-text-font-style );
  text-decoration: var( --global-typography-text-text-decoration );
  line-height: var( --global-typography-text-line-height );
  letter-spacing: var( --global-typography-text-letter-spacing );
}
.app-widget-icon-list .app-icon-list-text {
  color: var( --global-color-secondary );
}
.app-widget-divider {
  --divider-color: var( --global-color-secondary );
}
.app-widget-divider .app-divider__text {
  color: var( --global-color-secondary );
  font-family: var( --global-typography-secondary-font-family ),  sans-serif;
  font-size: var( --global-typography-secondary-font-size );
  font-weight: var( --global-typography-secondary-font-weight );
  text-transform: var( --global-typography-secondary-text-transform );
  font-style: var( --global-typography-secondary-font-style );
  text-decoration: var( --global-typography-secondary-text-decoration );
  line-height: var( --global-typography-secondary-line-height );
  letter-spacing: var( --global-typography-secondary-letter-spacing );
}
.app-widget-divider.app-view-stacked .app-icon {
  background-color: var( --global-color-secondary );
}
.app-widget-divider.app-view-framed .app-icon,  .app-widget-divider.app-view-default .app-icon {
  color: var( --global-color-secondary );
  border-color: var( --global-color-secondary );
}
.app-widget-divider.app-view-framed .app-icon,  .app-widget-divider.app-view-default .app-icon svg {
  fill: var( --global-color-secondary );
}
.app-widget-divider {
  --divider-border-style:none;
  --divider-border-width:1px;
  --divider-color:#0c0d0e;
  --divider-icon-size:20px;
  --divider-element-spacing:10px;
  --divider-pattern-height:24px;
  --divider-pattern-size:20px;
  --divider-pattern-url:none;
  --divider-pattern-repeat:repeat-x;
}
.app-widget-divider .app-divider {
  display:flex;
}
.app-widget-divider .app-divider__text {
  font-size:15px;
  line-height:1;
  max-width:95%;
}
.app-widget-divider .app-divider__element {
  flex-shrink:0;
  margin:0 var(--divider-element-spacing);
}
.app-widget-divider .app-icon {
  font-size:var(--divider-icon-size);
}
.app-widget-divider .app-divider-separator {
  direction:ltr;
  display:flex;
  margin:0;
}
.app-widget-divider--view-line_icon .app-divider-separator,
.app-widget-divider--view-line_text .app-divider-separator {
  align-items:center;
}
.app-widget-divider--view-line_icon .app-divider-separator:after,
.app-widget-divider--view-line_icon .app-divider-separator:before,
.app-widget-divider--view-line_text .app-divider-separator:after,
.app-widget-divider--view-line_text .app-divider-separator:before {
  border-block-end:0;
  border-block-start:var(--divider-border-width) var(--divider-border-style) var(--divider-color);
  content:"";
  display:block;
  flex-grow:1;
}
.app-widget-divider--element-align-left .app-divider .app-divider-separator>.app-divider__svg:first-of-type {
  flex-grow:0;
  flex-shrink:100;
}
.app-widget-divider--element-align-left .app-divider-separator:before {
  content:none;
}
.app-widget-divider--element-align-left .app-divider__element {
  margin-left:0;
}
.app-widget-divider--element-align-right .app-divider .app-divider-separator>.app-divider__svg:last-of-type {
  flex-grow:0;
  flex-shrink:100;
}
.app-widget-divider--element-align-right .app-divider-separator:after {
  content:none
}
.app-widget-divider--element-align-right .app-divider__element {
  margin-right:0;
}
.app-widget-divider--element-align-start .app-divider .app-divider-separator>.app-divider__svg:first-of-type {
  flex-grow:0;
  flex-shrink:100;
}
.app-widget-divider--element-align-start .app-divider-separator:before {
  content:none
}
.app-widget-divider--element-align-start .app-divider__element {
  margin-inline-start:0;
}
.app-widget-divider--element-align-end .app-divider .app-divider-separator>.app-divider__svg:last-of-type {
  flex-grow:0;
  flex-shrink:100;
}
.app-widget-divider--element-align-end .app-divider-separator:after {
  content:none;
}
.app-widget-divider--element-align-end .app-divider__element {
  margin-inline-end:0;
}
.app-widget-divider:not(.app-widget-divider--view-line_text):not(.app-widget-divider--view-line_icon) .app-divider-separator {
  border-block-start:var(--divider-border-width) var(--divider-border-style) var(--divider-color)
}
.app-widget-divider--separator-type-pattern {
  --divider-border-style:none;
}
.app-widget-divider--separator-type-pattern.app-widget-divider--view-line .app-divider-separator,
.app-widget-divider--separator-type-pattern:not(.app-widget-divider--view-line) .app-divider-separator:after,
.app-widget-divider--separator-type-pattern:not(.app-widget-divider--view-line) .app-divider-separator:before,
.app-widget-divider--separator-type-pattern:not([class*=app-widget-divider--view]) .app-divider-separator {
  background-color:var(--divider-color);
  -webkit-mask-image:var(--divider-pattern-url);
  mask-image:var(--divider-pattern-url);
  -webkit-mask-repeat:var(--divider-pattern-repeat);
  mask-repeat:var(--divider-pattern-repeat);
  -webkit-mask-size:var(--divider-pattern-size) 100%;
  mask-size:var(--divider-pattern-size) 100%;
  min-height:var(--divider-pattern-height);
  width:100%
}
.app-widget-divider--no-spacing {
  --divider-pattern-size:auto
}
.app-widget-divider--bg-round {
  --divider-pattern-repeat:round
}
.rtl .app-widget-divider .app-divider__text {
  direction:rtl
}
.app-con-inner>.app-widget-divider,
.app-con>.app-widget-divider {
  width:var(--container-widget-width,100%);
  --flex-grow:var( --container-widget-flex-grow )
}
.app-element.app-widget-input .mf-input,
.app-element.app-widget-input .mf-input-file-upload-label,
.app-element.app-widget-input .mf-input-wrapper .iti--separate-dial-code .iti__selected-flag,
.app-element.app-widget-input .mf-input-calculation-total,
.app-element.app-widget-input .mf_multiselect__multi-value__label,
.app-element.app-widget-input .mf_multiselect__multi-value__remove,
.app-element.app-widget-input .mf_multiselect__option,
.app-element.app-widget-input .mf_multiselect__menu-notice--no-options,
.app-element.app-widget-input .mf-input-multiselect .mf_multiselect__control {
  background-color: #3A1D2000;
}
.app-element.app-widget-input .mf-input:hover,
.app-element.app-widget-input .mf-file-upload-container:hover .mf-input-file-upload-label,
.app-element.app-widget-input .mf-input-wrapper:hover .iti--separate-dial-code .iti__selected-flag,
.app-element.app-widget-input .mf-input-calculation-total:hover,
.app-element.app-widget-input .mf_multiselect__option:hover,
.app-element.app-widget-input .mf_multiselect__multi-value:hover .mf_multiselect__multi-value__label,
.app-element.app-widget-input .mf_multiselect__multi-value:hover .mf_multiselect__multi-value__remove,
.app-element.app-widget-input .mf_multiselect__menu-notice--no-options:hover {
  background-color: #3A1D2000;
}
.app-element.app-widget-input .mf-input:focus,
.app-element.app-widget-input .mf-input > .mf_select__control--menu-is-open,
.app-element.app-widget-input .mf-file-upload-container:focus .mf-input-file-upload-label,
.app-element.app-widget-input .mf-input-wrapper:focus .iti--separate-dial-code .iti__selected-flag,
.app-element.app-widget-input .mf-input-calculation-total:focus,
.app-element.app-widget-input .mf-input-calculation-total:focus,
.app-element.app-widget-input .mf_multiselect__option:focus,
.app-element.app-widget-input .mf_multiselect__multi-value:focus .mf_multiselect__multi-value__label,
.app-element.app-widget-input .mf_multiselect__multi-value:focus .mf_multiselect__multi-value__remove,
.app-element.app-widget-input .mf_multiselect__menu-notice--no-options:focus {
  background-color: #3A1D2000;
}
.app-element.app-widget-input > .app-widget-container {
  margin: 0;
}
.app-element.app-widget-input .mf-input-required-indicator {
  color: #FFFFFF;
}
.app-element.app-widget-input .mf-input-wrapper .mf-input[aria-invalid="true"],
.app-element.app-widget-input .mf-input-wrapper .mf-input.mf-invalid {
  border-color: #FFFFFF;
}
.app-element.app-widget-input .mf-error-message {
  color: var( --global-color-2d8c8bd );
  font-family: var( --global-typography-text-font-family ),  sans-serif;
  font-size: var( --global-typography-text-font-size );
  font-weight: var( --global-typography-text-font-weight );
  text-transform: var( --global-typography-text-text-transform );
  font-style: var( --global-typography-text-font-style );
  text-decoration: var( --global-typography-text-text-decoration );
  line-height: var( --global-typography-text-line-height );
  letter-spacing: var( --global-typography-text-letter-spacing );
}
.app-element.app-widget-input .mf-input {
  padding: 10px 15px 10px 15px;
  margin: 0;
  border-radius: 5px;
}
.app-element.app-widget-input .mf-input-file-upload-label {
  padding: 10px 15px 10px 15px;
  margin: 0;
}
.app-element.app-widget-input .mf-input-calculation-total {
  padding: 10px 15px 10px 15px;
  margin: 0;
}
.app-element.app-widget-input .mf_select__control,
.app-element.app-widget-input .mf_multiselect__control .mf_multiselect__value-container,
.app-element.app-widget-input .mf_multiselect__option,
.app-element.app-widget-input .mf_multiselect__menu-notice--no-options {
  padding: 10px 15px 10px 15px;
}
.app-element.app-widget-input .mf-input-wrapper .range-slider {
  padding: 10px 15px 10px 15px;
  margin: 0;
}
.app-element.app-widget-input .mf-input,
.app-element.app-widget-input,
.app-element.app-widget-input .mf-input-wrapper .iti--separate-dial-code .iti__selected-flag,
.app-element.app-widget-input .mf-input-wrapper .iti--separate-dial-code .iti__selected-dial-code {
  color: #FFFFFF;
}
.app-element.app-widget-input .irs--round .irs-bar,
.app-element.app-widget-input .irs--round .irs-from,
.app-element.app-widget-input .irs--round .irs-to,
.app-element.app-widget-input .irs--round .irs-single {
  background-color: #FFFFFF;
}
.app-element.app-widget-input .irs--round .irs-handle {
  border-color: #FFFFFF;
}
.app-element.app-widget-input .irs--round .irs-from:before,
.app-element.app-widget-input .irs--round .irs-to:before,
.app-element.app-widget-input .irs--round .irs-single:before {
  border-top-color: #FFFFFF;
}
.app-element.app-widget-input .mf_select__single-value {
  color: #FFFFFF;
}
.app-element.app-widget-input .mf-input-wrapper {
  border-color: #FFFFFF;
}
.app-element.app-widget-input .mf-input-wrapper .input-range__track--active {
  background-color: #FFFFFF;
}
.app-element.app-widget-input .mf-input-wrapper .asRange .asRange-pointer .asRange-tip {
  background-color: #FFFFFF;
  border-color: #FFFFFF;
}
.app-element.app-widget-input .mf-input-file-upload-label,
.app-element.app-widget-input .mf-input-calculation-total {
  color: #FFFFFF;
}
.app-element.app-widget-input .mf-input-file-upload-label svg path {
  stroke: #FFFFFF;
  fill: #FFFFFF;
}
.app-element.app-widget-input .mf_multiselect__multi-value__label,
.app-element.app-widget-input .mf_multiselect__multi-value__remove,
.app-element.app-widget-input .mf_multiselect__menu-notice--no-options {
  color: #FFFFFF;
}
.app-element.app-widget-input .mf-input,
.app-element.app-widget-input .mf-input-file-upload-label,
.app-element.app-widget-input .mf-input-wrapper .iti--separate-dial-code .iti__selected-flag,
.app-element.app-widget-input .mf-input-calculation-total,
.app-element.app-widget-input .mf-input-select > .mf_select__control,
.app-element.app-widget-input .mf-input-multiselect .mf_multiselect__control,
.app-element.app-widget-input .mf_multiselect__option {
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #F0EDE130;
}
.app-element.app-widget-input .mf-input:hover,
.app-element.app-widget-input .mf-input-wrapper:hover .iti--separate-dial-code .iti__selected-flag,
.app-element.app-widget-input .mf-input-wrapper:hover .iti--separate-dial-code .iti__selected-dial-code {
  color: #FFFFFF;
}
.app-element.app-widget-input .irs--round .irs-handle:hover {
  border-color: #FFFFFF;
}
.app-element.app-widget-input .mf-input-file-upload-label:hover {
  color: #FFFFFF;
}
.app-element.app-widget-input .mf-input:hover .mf_select__single-value {
  color: #FFFFFF;
}
.app-element.app-widget-input .mf-file-upload-container:hover .mf-input-file-upload-label svg path {
  stroke: #FFFFFF;
  fill: #FFFFFF;
}
.app-element.app-widget-input .mf_multiselect__multi-value:hover .mf_multiselect__multi-value__label,
.app-element.app-widget-input .mf_multiselect__multi-value:hover .mf_multiselect__multi-value__remove,
.app-element.app-widget-input .mf_multiselect__menu-notice--no-options:hover {
  color: #FFFFFF;
}
.app-element.app-widget-input .mf-input:hover,
.app-element.app-widget-input .mf-file-upload-container:hover .mf-input-file-upload-label,
.app-element.app-widget-input .mf-input-wrapper:hover .iti--separate-dial-code .iti__selected-flag,
.app-element.app-widget-input .mf-input-calculation-total:hover,
.app-element.app-widget-input .mf-input-select > .mf_select__control:hover,
.app-element.app-widget-input .mf_multiselect__option:hover,
.app-element.app-widget-input .mf_multiselect__menu-notice--no-options:hover {
  border-style: solid;
  border-color: #F0EDE1A8;
}
.app-element.app-widget-input .mf-input:focus,
.app-element.app-widget-input .mf-input-wrapper:focus .iti--separate-dial-code .iti__selected-flag,
.app-element.app-widget-input .mf-input-wrapper:focus .iti--separate-dial-code .iti__selected-dial-code {
  color: #FFFFFF;
}
.app-element.app-widget-input .irs--round .irs-handle:focus {
  border-color: #FFFFFF;
}
.app-element.app-widget-input .mf-file-upload-container:focus .mf-input-file-upload-label,
.app-element.app-widget-input .mf-file-upload-container:focus .mf-image-label,
.app-element.app-widget-input .mf-input-calculation-total:focus {
  color: #FFFFFF;
}
.app-element.app-widget-input .mf-input > .mf_select__control--is-focused .mf_select__single-value {
  color: #FFFFFF;
}
.app-element.app-widget-input .mf-file-upload-container:focus .mf-input-file-upload-label svg path {
  stroke: #FFFFFF;
  fill: #FFFFFF;
}
.app-element.app-widget-input .mf-input-calculation-total:focus,
.app-element.app-widget-input .mf_multiselect__option:focus,
.app-element.app-widget-input .mf_multiselect__multi-value:focus .mf_multiselect__multi-value__label,
.app-element.app-widget-input .mf_multiselect__multi-value:focus .mf_multiselect__multi-value__remove,
.app-element.app-widget-input .mf_multiselect__menu-notice--no-options:focus {
  color: #FFFFFF;
}
.app-element.app-widget-input .mf-input:focus,
.app-element.app-widget-input .mf-file-upload-container:focus .mf-input-file-upload-label,
.app-element.app-widget-input .mf-input-wrapper:focus .iti--separate-dial-code .iti__selected-flag,
.app-element.app-widget-input .mf-input-calculation-total:focus,
.app-element.app-widget-input .mf-input-wrapper > .mf-input-select > .mf_select__control--is-focused,
.app-element.app-widget-input .mf_multiselect__option:focus,
.app-element.app-widget-input .mf_multiselect__menu-notice--no-options:focus {
  border-style: solid;
  border-color: #F0EDE1A8;
}
.app-element.app-widget-input .mf-input,
.app-element.app-widget-input .irs--round .irs-single,
.app-element.app-widget-input .asRange .asRange-pointer .asRange-tip,
.app-element.app-widget-input .mf-file-upload-container .mf-input-file-upload-label,
.app-element.app-widget-input .mf-input-wrapper .iti--separate-dial-code .iti__selected-flag,
.app-element.app-widget-input .mf-input-calculation-total,
.app-element.app-widget-input .mf-input-wrapper .input-range__label-container {
  font-family: var( --global-typography-2eec24c-font-family ),  sans-serif;
  font-size: var( --global-typography-2eec24c-font-size );
  font-weight: var( --global-typography-2eec24c-font-weight );
  text-transform: var( --global-typography-2eec24c-text-transform );
  font-style: var( --global-typography-2eec24c-font-style );
  text-decoration: var( --global-typography-2eec24c-text-decoration );
  line-height: var( --global-typography-2eec24c-line-height );
  letter-spacing: var( --global-typography-2eec24c-letter-spacing );
}
.app-element.app-widget-input .input-range .input-range__track {
  border-radius: 5px;
}
.app-element.app-widget-input .mf-file-upload-container .mf-input-file-upload-label,
.app-element.app-widget-input .mf-input-wrapper .iti--separate-dial-code .iti__selected-flag,
.app-element.app-widget-input .mf-input-calculation-total {
  border-radius: 5px;
}
.app-element.app-widget-input .mf-input-select > .mf_select__control,
.app-element.app-widget-input .mf-input-multiselect .mf_multiselect__control,
.app-element.app-widget-input .mf_multiselect__option,
.app-element.app-widget-input .mf_multiselect__multi-value__label,
.app-element.app-widget-input .mf_multiselect__multi-value__remove,
.app-element.app-widget-input .mf_multiselect__menu-notice--no-options  {
  border-radius: 5px;
}
.app-element.app-widget-input :is(.mf_select__placeholder,  .mf_multiselect__placeholder,  .text),
.app-element.app-widget-input .mf-input::placeholder,
.app-element.app-widget-input .mf-time-input::before {
  font-family: var( --global-typography-2eec24c-font-family ),  sans-serif;
  font-size: var( --global-typography-2eec24c-font-size );
  font-weight: var( --global-typography-2eec24c-font-weight );
  text-transform: var( --global-typography-2eec24c-text-transform );
  font-style: var( --global-typography-2eec24c-font-style );
  text-decoration: var( --global-typography-2eec24c-text-decoration );
  line-height: var( --global-typography-2eec24c-line-height );
  letter-spacing: var( --global-typography-2eec24c-letter-spacing );
}
.app-element.app-widget-input .mf-input:not([type="submit"]):not([type="checkbox"]):not([type="radio"])::placeholder {
  color: #FFFFFFA3;
}
.app-element.app-widget-input .mf-time-input::before {
  color: #FFFFFFA3;
}
.app-element.app-widget-input .mf-input::placeholder {
  color: #FFFFFFA3;
}
.app-element.app-widget-input :is(.mf_select__placeholder,  .mf_multiselect__placeholder) {
  color: #FFFFFFA3;
}
.app-element.app-widget-mf-button .metform-btn {
  background-color: var( --global-color-2d8c8bd );
  padding: 14px 30px 14px 30px;
  font-family: var( --global-typography-accent-font-family ),  sans-serif;
  font-size: var( --global-typography-accent-font-size );
  font-weight: var( --global-typography-accent-font-weight );
  text-transform: var( --global-typography-accent-text-transform );
  font-style: var( --global-typography-accent-font-style );
  text-decoration: var( --global-typography-accent-text-decoration );
  letter-spacing: var( --global-typography-accent-letter-spacing );
  color: var( --global-color-primary );
  border-style: solid;
  border-width: 0;
  border-color: #08090517;
  border-radius: 4px;
  box-shadow: 0 0 0 0 rgba(41.999999999999986,  61.00000000000002,  114.99999999999996,  0);
}
.app-element.app-widget-mf-button .metform-btn:hover {
  background-color: #C6C2B1;
  color: var( --global-color-primary );
  border-color: var( --global-color-primary );
}
.app-element.app-widget-mf-button .metform-btn:focus {
  color: var( --global-color-primary );
}
.app-element.app-widget-mf-button {
  width: auto;
  max-width: 100%;
}
.app-element.app-widget-mf-button .mf-btn-wraper {
  text-align: center;
}
/* ===================================== Mobile ================================ */

@media(max-width:1024px) {
  .app-kit-3-vidda {
    --global-typography-primary-font-size:55px;
    --global-typography-secondary-font-size:40px;
    --global-typography-text-font-size:15px;
    --global-typography-accent-font-size:13px;
    --global-typography-100-font-size:27px;
    --global-typography-101-font-size:23px;
    --global-typography-102-font-size:20px;
    --global-typography-bd2d915-font-size:18px;
    --global-typography-f911175-font-size:13px;
    --global-typography-1a61658-font-size:60px;
    font-size:var( --global-typography-text-font-size );
    line-height:var( --global-typography-text-line-height );
    letter-spacing:var( --global-typography-text-letter-spacing );
  }
  .app-kit-3-vidda h1 {
    font-size:var( --global-typography-primary-font-size );
    line-height:var( --global-typography-primary-line-height );
    letter-spacing:var( --global-typography-primary-letter-spacing );
  }
  .app-kit-3-vidda h2 {
    font-size:var( --global-typography-secondary-font-size );
    line-height:var( --global-typography-secondary-line-height );
    letter-spacing:var( --global-typography-secondary-letter-spacing );
  }
  .app-kit-3-vidda h3 {
    font-size:var( --global-typography-100-font-size );
    line-height:var( --global-typography-100-line-height );
    letter-spacing:var( --global-typography-100-letter-spacing );
  }
  .app-kit-3-vidda h4 {
    font-size:var( --global-typography-101-font-size );
    line-height:var( --global-typography-101-line-height );
    letter-spacing:var( --global-typography-101-letter-spacing );
  }
  .app-kit-3-vidda h5 {
    font-size:var( --global-typography-102-font-size );
    line-height:var( --global-typography-102-line-height );
    letter-spacing:var( --global-typography-102-letter-spacing );
  }
  .app-kit-3-vidda h6 {
    font-size:var( --global-typography-bd2d915-font-size );
    line-height:var( --global-typography-bd2d915-line-height );
    letter-spacing:var( --global-typography-bd2d915-letter-spacing );
  }
  .app-kit-3-vidda button,
  .app-kit-3-vidda input[type="button"],
  .app-kit-3-vidda input[type="submit"],
  .app-kit-3-vidda .app-button {
    font-size:var( --global-typography-accent-font-size );
    letter-spacing:var( --global-typography-accent-letter-spacing );
  }
  .app-kit-3-vidda .app-button {
    padding: 12px 22px 12px 22px;
  }
  .app-section.app-section-boxed > .app-container {
    max-width:1024px;
  }

  .app-kit-3-vidda .app-element.app-element-text {
    font-size: var( --global-typography-2eec24c-font-size );
    line-height: var( --global-typography-2eec24c-line-height );
    letter-spacing: var( --global-typography-2eec24c-letter-spacing );
  }
  .app-con {
    --container-max-width:1024px;
  }
  .app-widget-text-editor {
    font-size: var( --global-typography-text-font-size );
    line-height: var( --global-typography-text-line-height );
    letter-spacing: var( --global-typography-text-letter-spacing );
  }

  .app-widget-counter .app-counter-number-wrapper {
    font-size: var( --global-typography-primary-font-size );
    line-height: var( --global-typography-primary-line-height );
    letter-spacing: var( --global-typography-primary-letter-spacing );
  }
  .app-widget-counter .app-counter-title {
    font-size: var( --global-typography-secondary-font-size );
    line-height: var( --global-typography-secondary-line-height );
    letter-spacing: var( --global-typography-secondary-letter-spacing );
  }
  .app-button-menu-close {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 1.5rem;
    letter-spacing: var( --global-typography-accent-letter-spacing );
    padding: 0 !important;
    cursor: pointer;
  }
  .app-widget-icon-list .app-icon-list-item > .app-icon-list-text,  .app-widget-icon-list .app-icon-list-item > a {
    font-size: var( --global-typography-text-font-size );
    line-height: var( --global-typography-text-line-height );
    letter-spacing: var( --global-typography-text-letter-spacing );
  }
  .app-widget-divider .app-divider__text {
    font-size: var( --global-typography-secondary-font-size );
    line-height: var( --global-typography-secondary-line-height );
    letter-spacing: var( --global-typography-secondary-letter-spacing );
  }
}

@media(max-width:767px) {
  .app-kit-3-vidda {
    --global-typography-primary-font-size:45px;
    --global-typography-secondary-font-size:35px;
    --global-typography-text-font-size:15px;
    --global-typography-accent-font-size:13px;
    --global-typography-100-font-size:25px;
    --global-typography-101-font-size:22px;
    --global-typography-102-font-size:19px;
    --global-typography-bd2d915-font-size:17px;
    --global-typography-f911175-font-size:12px;
    --global-typography-1a61658-font-size:56px;
    font-size:var( --global-typography-text-font-size );
    line-height:var( --global-typography-text-line-height );
    letter-spacing:var( --global-typography-text-letter-spacing );
  }
  .app-kit-3-vidda h1 {
    font-size:var( --global-typography-primary-font-size );
    line-height:var( --global-typography-primary-line-height );
    letter-spacing:var( --global-typography-primary-letter-spacing );
  }
  .app-kit-3-vidda h2 {
    font-size:var( --global-typography-secondary-font-size );
    line-height:var( --global-typography-secondary-line-height );
    letter-spacing:var( --global-typography-secondary-letter-spacing );
  }
  .app-kit-3-vidda h3 {
    font-size:var( --global-typography-100-font-size );
    line-height:var( --global-typography-100-line-height );
    letter-spacing:var( --global-typography-100-letter-spacing );
  }
  .app-kit-3-vidda h4 {
    font-size:var( --global-typography-101-font-size );
    line-height:var( --global-typography-101-line-height );
    letter-spacing:var( --global-typography-101-letter-spacing );
  }
  .app-kit-3-vidda h5 {
    font-size:var( --global-typography-102-font-size );
    line-height:var( --global-typography-102-line-height );
    letter-spacing:var( --global-typography-102-letter-spacing );
  }
  .app-kit-3-vidda h6 {
    font-size:var( --global-typography-bd2d915-font-size );
    line-height:var( --global-typography-bd2d915-line-height );
    letter-spacing:var( --global-typography-bd2d915-letter-spacing );
  }
  .app-kit-3-vidda button,
  .app-kit-3-vidda input[type="button"],
  .app-kit-3-vidda input[type="submit"],
  .app-kit-3-vidda .app-button {
    font-size:var( --global-typography-accent-font-size );
    letter-spacing:var( --global-typography-accent-letter-spacing );
  }
  .app-kit-3-vidda .app-button {
    padding: 11px 18px 11px 18px;
  }
  .app-section.app-section-boxed > .app-container {
    max-width:767px;
  }

  .app-kit-3-vidda .app-element.app-element-text {
    font-size: var( --global-typography-2eec24c-font-size );
    line-height: var( --global-typography-2eec24c-line-height );
    letter-spacing: var( --global-typography-2eec24c-letter-spacing );
  }
  .app-con {
    --container-max-width:767px;
  }
  .app-widget-text-editor {
    font-size: var( --global-typography-text-font-size );
    line-height: var( --global-typography-text-line-height );
    letter-spacing: var( --global-typography-text-letter-spacing );
  }

  .app-widget-counter .app-counter-number-wrapper {
    font-size: var( --global-typography-primary-font-size );
    line-height: var( --global-typography-primary-line-height );
    letter-spacing: var( --global-typography-primary-letter-spacing );
  }
  .app-widget-counter .app-counter-title {
    font-size: var( --global-typography-secondary-font-size );
    line-height: var( --global-typography-secondary-line-height );
    letter-spacing: var( --global-typography-secondary-letter-spacing );
  }
  .app-widget-icon-list .app-icon-list-item > .app-icon-list-text,
  .app-widget-icon-list .app-icon-list-item > a {
    font-size: var( --global-typography-text-font-size );
    line-height: var( --global-typography-text-line-height );
    letter-spacing: var( --global-typography-text-letter-spacing );
  }
  .app-widget-divider .app-divider__text {
    font-size: var( --global-typography-secondary-font-size );
    line-height: var( --global-typography-secondary-line-height );
    letter-spacing: var( --global-typography-secondary-letter-spacing );
  }

}
