:root
{
    --ap--preset--aspect-ratio--square:  1;
    --ap--preset--aspect-ratio--4-3:  4/3;
    --ap--preset--aspect-ratio--3-4:  3/4;
    --ap--preset--aspect-ratio--3-2:  3/2;
    --ap--preset--aspect-ratio--2-3:  2/3;
    --ap--preset--aspect-ratio--16-9:  16/9;
    --ap--preset--aspect-ratio--9-16:  9/16;
    --ap--preset--color--black:  #000000;
    --ap--preset--color--cyan-bluish-gray:  #abb8c3;
    --ap--preset--color--white:  #ffffff;
    --ap--preset--color--pale-pink:  #f78da7;
    --ap--preset--color--vivid-red:  #cf2e2e;
    --ap--preset--color--luminous-vivid-orange:  #ff6900;
    --ap--preset--color--luminous-vivid-amber:  #fcb900;
    --ap--preset--color--light-green-cyan:  #7bdcb5;
    --ap--preset--color--vivid-green-cyan:  #00d084;
    --ap--preset--color--pale-cyan-blue:  #8ed1fc;
    --ap--preset--color--vivid-cyan-blue:  #0693e3;
    --ap--preset--color--vivid-purple:  #9b51e0;
    --ap--preset--gradient--vivid-cyan-blue-to-vivid-purple:  linear-gradient(135deg, rgba(6, 147, 227, 1) 0%, rgb(155, 81, 224) 100%);
    --ap--preset--gradient--light-green-cyan-to-vivid-green-cyan:  linear-gradient(135deg, rgb(122, 220, 180) 0%, rgb(0, 208, 130) 100%);
    --ap--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange:  linear-gradient(135deg, rgba(252, 185, 0, 1) 0%, rgba(255, 105, 0, 1) 100%);
    --ap--preset--gradient--luminous-vivid-orange-to-vivid-red:  linear-gradient(135deg, rgba(255, 105, 0, 1) 0%, rgb(207, 46, 46) 100%);
    --ap--preset--gradient--very-light-gray-to-cyan-bluish-gray:  linear-gradient(135deg, rgb(238, 238, 238) 0%, rgb(169, 184, 195) 100%);
    --ap--preset--gradient--cool-to-warm-spectrum:  linear-gradient(135deg, rgb(74, 234, 220) 0%, rgb(151, 120, 209) 20%, rgb(207, 42, 186) 40%, rgb(238, 44, 130) 60%, rgb(251, 105, 98) 80%, rgb(254, 248, 76) 100%);
    --ap--preset--gradient--blush-light-purple:  linear-gradient(135deg, rgb(255, 206, 236) 0%, rgb(152, 150, 240) 100%);
    --ap--preset--gradient--blush-bordeaux:  linear-gradient(135deg, rgb(254, 205, 165) 0%, rgb(254, 45, 45) 50%, rgb(107, 0, 62) 100%);
    --ap--preset--gradient--luminous-dusk:  linear-gradient(135deg, rgb(255, 203, 112) 0%, rgb(199, 81, 192) 50%, rgb(65, 88, 208) 100%);
    --ap--preset--gradient--pale-ocean:  linear-gradient(135deg, rgb(255, 245, 203) 0%, rgb(182, 227, 212) 50%, rgb(51, 167, 181) 100%);
    --ap--preset--gradient--electric-grass:  linear-gradient(135deg, rgb(202, 248, 128) 0%, rgb(113, 206, 126) 100%);
    --ap--preset--gradient--midnight:  linear-gradient(135deg, rgb(2, 3, 129) 0%, rgb(40, 116, 252) 100%);
    --ap--preset--font-size--small:  13px;
    --ap--preset--font-size--medium:  20px;
    --ap--preset--font-size--large:  36px;
    --ap--preset--font-size--x-large:  42px;
    --ap--preset--spacing--20:  0.44rem;
    --ap--preset--spacing--30:  0.67rem;
    --ap--preset--spacing--40:  1rem;
    --ap--preset--spacing--50:  1.5rem;
    --ap--preset--spacing--60:  2.25rem;
    --ap--preset--spacing--70:  3.38rem;
    --ap--preset--spacing--80:  5.06rem;
    --ap--preset--shadow--natural:  6px 6px 9px rgba(0,  0,  0,  0.2);
    --ap--preset--shadow--deep:  12px 12px 50px rgba(0,  0,  0,  0.4);
    --ap--preset--shadow--sharp:  6px 6px 0px rgba(0,  0,  0,  0.2);
    --ap--preset--shadow--outlined:  6px 6px 0px -3px rgba(255,  255,  255,  1),  6px 6px rgba(0,  0,  0,  1);
    --ap--preset--shadow--crisp:  6px 6px 0px rgba(0,  0,  0,  1);
}
:root  {

    --ap--style--global--content-size:  800px;

    --ap--style--global--wide-size:  1200px;

}
:where(body)
{
    margin:  0;
}

.ap-site-blocks > .alignleft  {
    float:  left;
    margin-right:  2em;
}
.ap-site-blocks > .alignright  {
    float:  right;
    margin-left:  2em;
}
.ap-site-blocks > .aligncenter  {
    justify-content:  center;
    margin-left:  auto;
    margin-right:  auto;
}
:where(.ap-site-blocks) > *  {
    margin-block-start:  24px;
    margin-block-end:  0;
}
:where(.ap-site-blocks) > :first-child  {
    margin-block-start:  0;
}
:where(.ap-site-blocks) > :last-child  {
    margin-block-end:  0;
}
:root  {
    --ap--style--block-gap:  24px;
}
:root :where(.is-layout-flow) > :first-child {
    margin-block-start:  0;
}
:root :where(.is-layout-flow) > :last-child {
    margin-block-end:  0;
}
:root :where(.is-layout-flow) > * {
    margin-block-start:  24px;
    margin-block-end:  0;
}
:root :where(.is-layout-constrained) > :first-child {
    margin-block-start:  0;
}
:root :where(.is-layout-constrained) > :last-child {
    margin-block-end:  0;
}
:root :where(.is-layout-constrained) > * {
    margin-block-start:  24px;
    margin-block-end:  0;
}
:root :where(.is-layout-flex) {
    gap:  24px;
}
:root :where(.is-layout-grid) {
    gap:  24px;
}
.is-layout-flow > .alignleft {
    float:  left;
    margin-inline-start:  0;
    margin-inline-end:  2em;
}
.is-layout-flow > .alignright {
    float:  right;
    margin-inline-start:  2em;
    margin-inline-end:  0;
}
.is-layout-flow > .aligncenter {
    margin-left:  auto !important;
    margin-right:  auto !important;
}
.is-layout-constrained > .alignleft {
    float:  left;
    margin-inline-start:  0;
    margin-inline-end:  2em;
}
.is-layout-constrained > .alignright {
    float:  right;
    margin-inline-start:  2em;
    margin-inline-end:  0;
}
.is-layout-constrained > .aligncenter {
    margin-left:  auto !important;
    margin-right:  auto !important;
}
.is-layout-constrained > :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
    max-width:  var(--ap--style--global--content-size);
    margin-left:  auto !important;
    margin-right:  auto !important;
}
.is-layout-constrained > .alignwide {
    max-width:  var(--ap--style--global--wide-size);
}
body .is-layout-flex {
    display:  flex;
}
.is-layout-flex {
    flex-wrap:  wrap;
    align-items:  center;
}
.is-layout-flex > :is(*,  div) {
    margin:  0;
}
body .is-layout-grid {
    display:  grid;
}
.is-layout-grid > :is(*,  div) {
    margin:  0;
}
body {
    padding: 0;
}

:root :where(.ap-element-button,  .ap-block-button__link) {
    background-color:  #32373c;
    border-width:  0;
    color:  #fff;
    font-family:  inherit;
    font-size:  inherit;
    line-height:  inherit;
    padding:  calc(0.667em + 2px) calc(1.333em + 2px);
    text-decoration:  none;
}
.has-black-color {
    color:  var(--ap--preset--color--black) !important;
}
.has-cyan-bluish-gray-color {
    color:  var(--ap--preset--color--cyan-bluish-gray) !important;
}
.has-white-color {
    color:  var(--ap--preset--color--white) !important;
}
.has-pale-pink-color {
    color:  var(--ap--preset--color--pale-pink) !important;
}
.has-vivid-red-color {
    color:  var(--ap--preset--color--vivid-red) !important;
}
.has-luminous-vivid-orange-color {
    color:  var(--ap--preset--color--luminous-vivid-orange) !important;
}
.has-luminous-vivid-amber-color {
    color:  var(--ap--preset--color--luminous-vivid-amber) !important;
}
.has-light-green-cyan-color {
    color:  var(--ap--preset--color--light-green-cyan) !important;
}
.has-vivid-green-cyan-color {
    color:  var(--ap--preset--color--vivid-green-cyan) !important;
}
.has-pale-cyan-blue-color {
    color:  var(--ap--preset--color--pale-cyan-blue) !important;
}
.has-vivid-cyan-blue-color {
    color:  var(--ap--preset--color--vivid-cyan-blue) !important;
}
.has-vivid-purple-color {
    color:  var(--ap--preset--color--vivid-purple) !important;
}
.has-black-background-color {
    background-color:  var(--ap--preset--color--black) !important;
}
.has-cyan-bluish-gray-background-color {
    background-color:  var(--ap--preset--color--cyan-bluish-gray) !important;
}
.has-white-background-color {
    background-color:  var(--ap--preset--color--white) !important;
}
.has-pale-pink-background-color {
    background-color:  var(--ap--preset--color--pale-pink) !important;
}
.has-vivid-red-background-color {
    background-color:  var(--ap--preset--color--vivid-red) !important;
}
.has-luminous-vivid-orange-background-color {
    background-color:  var(--ap--preset--color--luminous-vivid-orange) !important;
}
.has-luminous-vivid-amber-background-color {
    background-color:  var(--ap--preset--color--luminous-vivid-amber) !important;
}
.has-light-green-cyan-background-color {
    background-color:  var(--ap--preset--color--light-green-cyan) !important;
}
.has-vivid-green-cyan-background-color {
    background-color:  var(--ap--preset--color--vivid-green-cyan) !important;
}
.has-pale-cyan-blue-background-color {
    background-color:  var(--ap--preset--color--pale-cyan-blue) !important;
}
.has-vivid-cyan-blue-background-color {
    background-color:  var(--ap--preset--color--vivid-cyan-blue) !important;
}
.has-vivid-purple-background-color {
    background-color:  var(--ap--preset--color--vivid-purple) !important;
}
.has-black-border-color {
    border-color:  var(--ap--preset--color--black) !important;
}
.has-cyan-bluish-gray-border-color {
    border-color:  var(--ap--preset--color--cyan-bluish-gray) !important;
}
.has-white-border-color {
    border-color:  var(--ap--preset--color--white) !important;
}
.has-pale-pink-border-color {
    border-color:  var(--ap--preset--color--pale-pink) !important;
}
.has-vivid-red-border-color {
    border-color:  var(--ap--preset--color--vivid-red) !important;
}
.has-luminous-vivid-orange-border-color {
    border-color:  var(--ap--preset--color--luminous-vivid-orange) !important;
}
.has-luminous-vivid-amber-border-color {
    border-color:  var(--ap--preset--color--luminous-vivid-amber) !important;
}
.has-light-green-cyan-border-color {
    border-color:  var(--ap--preset--color--light-green-cyan) !important;
}
.has-vivid-green-cyan-border-color {
    border-color:  var(--ap--preset--color--vivid-green-cyan) !important;
}
.has-pale-cyan-blue-border-color {
    border-color:  var(--ap--preset--color--pale-cyan-blue) !important;
}
.has-vivid-cyan-blue-border-color {
    border-color:  var(--ap--preset--color--vivid-cyan-blue) !important;
}
.has-vivid-purple-border-color {
    border-color:  var(--ap--preset--color--vivid-purple) !important;
}
.has-vivid-cyan-blue-to-vivid-purple-gradient-background {
    background:  var(--ap--preset--gradient--vivid-cyan-blue-to-vivid-purple) !important;
}
.has-light-green-cyan-to-vivid-green-cyan-gradient-background {
    background:  var(--ap--preset--gradient--light-green-cyan-to-vivid-green-cyan) !important;
}
.has-luminous-vivid-amber-to-luminous-vivid-orange-gradient-background {
    background:  var(--ap--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange) !important;
}
.has-luminous-vivid-orange-to-vivid-red-gradient-background {
    background:  var(--ap--preset--gradient--luminous-vivid-orange-to-vivid-red) !important;
}
.has-very-light-gray-to-cyan-bluish-gray-gradient-background {
    background:  var(--ap--preset--gradient--very-light-gray-to-cyan-bluish-gray) !important;
}
.has-cool-to-warm-spectrum-gradient-background {
    background:  var(--ap--preset--gradient--cool-to-warm-spectrum) !important;
}
.has-blush-light-purple-gradient-background {
    background:  var(--ap--preset--gradient--blush-light-purple) !important;
}
.has-blush-bordeaux-gradient-background {
    background:  var(--ap--preset--gradient--blush-bordeaux) !important;
}
.has-luminous-dusk-gradient-background {
    background:  var(--ap--preset--gradient--luminous-dusk) !important;
}
.has-pale-ocean-gradient-background {
    background:  var(--ap--preset--gradient--pale-ocean) !important;
}
.has-electric-grass-gradient-background {
    background:  var(--ap--preset--gradient--electric-grass) !important;
}
.has-midnight-gradient-background {
    background:  var(--ap--preset--gradient--midnight) !important;
}
.has-small-font-size {
    font-size:  var(--ap--preset--font-size--small) !important;
}
.has-medium-font-size {
    font-size:  var(--ap--preset--font-size--medium) !important;
}
.has-large-font-size {
    font-size:  var(--ap--preset--font-size--large) !important;
}
.has-x-large-font-size {
    font-size:  var(--ap--preset--font-size--x-large) !important;
}

:root :where(.ap-block-pullquote) {
    font-size:  1.5em;
    line-height:  1.6;
}
