.app-widget.app-icon-list--layout-inline .app-widget-container,
.app-widget:not(:has(.app-widget-container)) .app-widget-container {
    overflow:hidden
}
.app-widget .app-icon-list-items.app-inline-items {
    display:flex;
    flex-wrap:wrap;
    margin-inline:-8px;
}
.app-widget .app-icon-list-items.app-inline-items .app-inline-item {
    word-break:break-word;
}
.app-widget .app-icon-list-items.app-inline-items .app-icon-list-item {
    margin-inline:8px;
}
.app-widget .app-icon-list-items.app-inline-items .app-icon-list-item:after {
    border-width:0;
    border-inline-start-width:1px;
    border-style:solid;
    height:100%;
    inset-inline-end:-8px;
    inset-inline-start:auto;
    position:relative;
    width:auto;
}
.app-widget .app-icon-list-items {
    list-style-type:none;
    margin:0;
    padding:0;
}
.app-widget .app-icon-list-item {
    margin:0;
    padding:0;
    position:relative;
}
.app-widget .app-icon-list-item:after {
    inset-block-end:0;
    position:absolute;
    width:100%;
}
.app-widget .app-icon-list-item,
.app-widget .app-icon-list-item a {
    align-items:var(--icon-vertical-align,center);
    display:flex;
    font-size:inherit;
}
.app-widget .app-icon-list-icon+.app-icon-list-text {
    align-self:center;
    padding-inline-start:5px;
}
.app-widget .app-icon-list-icon {
    display:flex;
    inset-block-start:var(--icon-vertical-offset,initial);
    position:relative;
}
.app-widget .app-icon-list-icon svg {
    height:var(--icon-list-icon-size,1em);
    width:var(--icon-list-icon-size,1em);
}
.app-widget .app-icon-list-icon i {
    font-size:var(--icon-list-icon-size);
    width:1.25em;
}
.app-widget.app-widget-icon-list .app-icon-list-icon {
    text-align:var(--icon-list-icon-align);
}
.app-widget.app-widget-icon-list .app-icon-list-icon svg {
    margin:var(--icon-list-icon-margin,0);
}
.app-widget.app-list-item-link-full_width a {
    width:100%;
}
.app-widget.app-align-center .app-icon-list-item,
.app-widget.app-align-center .app-icon-list-item a {
    justify-content:center;
}
.app-widget.app-align-center .app-icon-list-item:after {
    margin:auto;
}
.app-widget.app-align-center .app-inline-items {
    justify-content:center;
}
.app-widget.app-align-left .app-icon-list-item,
.app-widget.app-align-left .app-icon-list-item a {
    justify-content:flex-start;
    text-align:left;
}
.app-widget.app-align-left .app-inline-items {
    justify-content:flex-start;
}
.app-widget.app-align-right .app-icon-list-item,
.app-widget.app-align-right .app-icon-list-item a {
    justify-content:flex-end;
    text-align:right;
}
.app-widget.app-align-right .app-icon-list-items {
    justify-content:flex-end;
}
.app-widget:not(.app-align-right) .app-icon-list-item:after {
    inset-inline-start:0;
}
.app-widget:not(.app-align-left) .app-icon-list-item:after {
    inset-inline-end:0
}
@media (min-width:-1px) {
    .app-widget.app-widescreen-align-center .app-icon-list-item,
    .app-widget.app-widescreen-align-center .app-icon-list-item a {
        justify-content:center;
    }
    .app-widget.app-widescreen-align-center .app-icon-list-item:after {
        margin:auto;
    }
    .app-widget.app-widescreen-align-center .app-inline-items {
        justify-content:center;
    }
    .app-widget.app-widescreen-align-left .app-icon-list-item,
    .app-widget.app-widescreen-align-left .app-icon-list-item a {
        justify-content:flex-start;
        text-align:left;
    }
    .app-widget.app-widescreen-align-left .app-inline-items {
        justify-content:flex-start;
    }
    .app-widget.app-widescreen-align-right .app-icon-list-item,
    .app-widget.app-widescreen-align-right .app-icon-list-item a {
        justify-content:flex-end;
        text-align:right;
    }
    .app-widget.app-widescreen-align-right .app-icon-list-items {
        justify-content:flex-end;
    }
    .app-widget:not(.app-widescreen-align-right) .app-icon-list-item:after {
        inset-inline-start:0;
    }
    .app-widget:not(.app-widescreen-align-left) .app-icon-list-item:after {
        inset-inline-end:0;
    }
}
@media (max-width:-1px) {
    .app-widget.app-laptop-align-center .app-icon-list-item,
    .app-widget.app-laptop-align-center .app-icon-list-item a {
        justify-content:center;
    }
    .app-widget.app-laptop-align-center .app-icon-list-item:after {
        margin:auto;
    }
    .app-widget.app-laptop-align-center .app-inline-items {
        justify-content:center;
    }
    .app-widget.app-laptop-align-left .app-icon-list-item,
    .app-widget.app-laptop-align-left .app-icon-list-item a {
        justify-content:flex-start;
        text-align:left;
    }
    .app-widget.app-laptop-align-left .app-inline-items {
        justify-content:flex-start;
    }
    .app-widget.app-laptop-align-right .app-icon-list-item,
    .app-widget.app-laptop-align-right .app-icon-list-item a {
        justify-content:flex-end;
        text-align:right;
    }
    .app-widget.app-laptop-align-right .app-icon-list-items {
        justify-content:flex-end;
    }
    .app-widget:not(.app-laptop-align-right) .app-icon-list-item:after {
        inset-inline-start:0;
    }
    .app-widget:not(.app-laptop-align-left) .app-icon-list-item:after {
        inset-inline-end:0;
    }
    .app-widget.app-tablet_extra-align-center .app-icon-list-item,
    .app-widget.app-tablet_extra-align-center .app-icon-list-item a {
        justify-content:center;
    }
    .app-widget.app-tablet_extra-align-center .app-icon-list-item:after {
        margin:auto;
    }
    .app-widget.app-tablet_extra-align-center .app-inline-items {
        justify-content:center;
    }
    .app-widget.app-tablet_extra-align-left .app-icon-list-item,
    .app-widget.app-tablet_extra-align-left .app-icon-list-item a {
        justify-content:flex-start;
        text-align:left;
    }
    .app-widget.app-tablet_extra-align-left .app-inline-items {
        justify-content:flex-start;
    }
    .app-widget.app-tablet_extra-align-right .app-icon-list-item,
    .app-widget.app-tablet_extra-align-right .app-icon-list-item a {
        justify-content:flex-end;
        text-align:right;
    }
    .app-widget.app-tablet_extra-align-right .app-icon-list-items {
        justify-content:flex-end;
    }
    .app-widget:not(.app-tablet_extra-align-right) .app-icon-list-item:after {
        inset-inline-start:0;
    }
    .app-widget:not(.app-tablet_extra-align-left) .app-icon-list-item:after {
        inset-inline-end:0;
    }
}
@media (max-width:1024px) {
    .app-widget.app-tablet-align-center .app-icon-list-item,
    .app-widget.app-tablet-align-center .app-icon-list-item a {
        justify-content:center;
    }
    .app-widget.app-tablet-align-center .app-icon-list-item:after {
        margin:auto;
    }
    .app-widget.app-tablet-align-center .app-inline-items {
        justify-content:center;
    }
    .app-widget.app-tablet-align-left .app-icon-list-item,
    .app-widget.app-tablet-align-left .app-icon-list-item a {
        justify-content:flex-start;
        text-align:left;
    }
    .app-widget.app-tablet-align-left .app-inline-items {
        justify-content:flex-start;
    }
    .app-widget.app-tablet-align-right .app-icon-list-item,
    .app-widget.app-tablet-align-right .app-icon-list-item a {
        justify-content:flex-end;
        text-align:right;
    }
    .app-widget.app-tablet-align-right .app-icon-list-items {
        justify-content:flex-end;
    }
    .app-widget:not(.app-tablet-align-right) .app-icon-list-item:after {
        inset-inline-start:0;
    }
    .app-widget:not(.app-tablet-align-left) .app-icon-list-item:after {
        inset-inline-end:0;
    }
}
@media (max-width:-1px) {
    .app-widget.app-mobile_extra-align-center .app-icon-list-item,
    .app-widget.app-mobile_extra-align-center .app-icon-list-item a {
        justify-content:center;
    }
    .app-widget.app-mobile_extra-align-center .app-icon-list-item:after {
        margin:auto;
    }
    .app-widget.app-mobile_extra-align-center .app-inline-items {
        justify-content:center;
    }
    .app-widget.app-mobile_extra-align-left .app-icon-list-item,
    .app-widget.app-mobile_extra-align-left .app-icon-list-item a {
        justify-content:flex-start;
        text-align:left;
    }
    .app-widget.app-mobile_extra-align-left .app-inline-items {
        justify-content:flex-start;
    }
    .app-widget.app-mobile_extra-align-right .app-icon-list-item,
    .app-widget.app-mobile_extra-align-right .app-icon-list-item a {
        justify-content:flex-end;
        text-align:right;
    }
    .app-widget.app-mobile_extra-align-right .app-icon-list-items {
        justify-content:flex-end;
    }
    .app-widget:not(.app-mobile_extra-align-right) .app-icon-list-item:after {
        inset-inline-start:0;
    }
    .app-widget:not(.app-mobile_extra-align-left) .app-icon-list-item:after {
        inset-inline-end:0;
    }
}
@media (max-width:767px) {
    .app-widget.app-mobile-align-center .app-icon-list-item,
    .app-widget.app-mobile-align-center .app-icon-list-item a {
        justify-content:center;
    }
    .app-widget.app-mobile-align-center .app-icon-list-item:after {
        margin:auto;
    }
    .app-widget.app-mobile-align-center .app-inline-items {
        justify-content:center;
    }
    .app-widget.app-mobile-align-left .app-icon-list-item,
    .app-widget.app-mobile-align-left .app-icon-list-item a {
        justify-content:flex-start;
        text-align:left;
    }
    .app-widget.app-mobile-align-left .app-inline-items {
        justify-content:flex-start;
    }
    .app-widget.app-mobile-align-right .app-icon-list-item,
    .app-widget.app-mobile-align-right .app-icon-list-item a {
        justify-content:flex-end;
        text-align:right;
    }
    .app-widget.app-mobile-align-right .app-icon-list-items {
        justify-content:flex-end;
    }
    .app-widget:not(.app-mobile-align-right) .app-icon-list-item:after {
        inset-inline-start:0;
    }
    .app-widget:not(.app-mobile-align-left) .app-icon-list-item:after {
        inset-inline-end:0;
    }
}
#left-area ul.app-icon-list-items,
.app .app-element ul.app-icon-list-items,
.app-edit-area .app-element ul.app-icon-list-items {
    padding:0
}
