@import "reset.css";
@import "theme.css";
@import "header-footer.css";
@import "alert-toast.css";
@import "widget-styles.css";
@import "app-widget-icon-list.css";
@import "widgit-social-icons.css";
@import "widget-icon-box.css";
@import "metaform.css";
@import "metform-ui.css";
@import "widget-counter.css";
@import "app-kit-3-vidda.css";
@import "frontend-style.css";
@import "frontend-2.css";
@import "app-metform.css";
@import "lazyloaded.css";
