html {
    scroll-behavior: smooth;
}
.app-invisible {
    visibility:hidden;
}
.app-screen-only,
.screen-reader-text,
.screen-reader-text span,
.ui-helper-hidden-accessible {
    height:1px;
    margin:-1px;
    overflow:hidden;
    padding:0;
    position:absolute;
    top:-10000em;
    width:1px;
    clip:rect(0,0,0,0);
    border:0
}
.app-clearfix:after {
    clear:both;
    content:"";
    display:block;
    height:0;
    width:0
}
.app-logo-wrapper {
    background:var(--bg-logo);
    border-radius:50%;
    display:inline-block;
    line-height:1;
    padding:.75em
}
.app-logo-wrapper i {
    color:var(--color-logo);
    font-size:1em
}
.app hr {
    background-color:transparent;
    margin:0
}

.app-background,
.app-background-holder,
.app-background-video-container {
    direction:ltr;
    inset:0;
    overflow:hidden;
    position:absolute;
    z-index:0
}

.app-background-video-container {
    pointer-events:none;
    transition:opacity 1s;
}
.app-background-video-container.app-loading {
    opacity:0;
}
.app .app-background-video,
.app .app-background-video-embed {
    max-width:none;
}
.app-background-video,
.app-background-video-embed,
.app-background-video-hosted {
    inset-block-start:50%;
    inset-inline-start:50%;
    position:absolute;
    transform:translate(-50%,-50%);
}
.app .app-background-video-hosted {
    object-fit:cover;
}
.app-background-overlay {
    inset:0;
    position:absolute;
}
.app-background-slideshow {
    inset:0;
    position:absolute;
    z-index:0;
}
.app-background-slideshow__slide__image {
    background-position:50%;
    background-size:cover;
    height:100%;
    width:100%
}
.app-con {
    --border-radius:0;
    --border-top-width:0px;
    --border-right-width:0px;
    --border-bottom-width:0px;
    --border-left-width:0px;
    --border-style:initial;
    --border-color:initial;
    --container-widget-width:100%;
    --container-widget-height:initial;
    --container-widget-flex-grow:0;
    --container-widget-align-self:initial;
    --content-width:min(100%,var(--container-max-width,1140px));
    --width:100%;
    --min-height:initial;
    --height:auto;
    --text-align:initial;
    --margin-top:0;
    --margin-right:0;
    --margin-bottom:0;
    --margin-left:0;
    --padding-top: 10px;
    --padding-right: 10px;
    --padding-bottom: 10px;
    --padding-left: 10px;
    --position:relative;
    --z-index:revert;
    --overflow:visible;
    --gap:var(--widgets-spacing,20px);
    --row-gap:var(--widgets-spacing-row,20px);
    --column-gap:var(--widgets-spacing-column,20px);
    --overlay-mix-blend-mode:initial;
    --overlay-opacity:1;
    --overlay-transition:0.3s;
    --con-grid-template-columns:repeat(3,1fr);
    --con-grid-template-rows:repeat(2,1fr);
    border-radius:var(--border-radius);
    height:var(--height);
    min-height:var(--min-height);
    min-width:0;
    overflow:var(--overflow);
    position:var(--position);
    width:var(--width);
    z-index:var(--z-index);
    --flex-wrap-mobile:wrap;
    margin-block-end:var(--margin-block-end);
    margin-block-start:var(--margin-block-start);
    margin-inline-end:var(--margin-inline-end);
    margin-inline-start:var(--margin-inline-start);
    padding-inline-end:var(--padding-inline-end);
    padding-inline-start:var(--padding-inline-start);
}
.app-con {
    --margin-block-start:var(--margin-top);
    --margin-block-end:var(--margin-bottom);
    --margin-inline-start:var(--margin-left);
    --margin-inline-end:var(--margin-right);
    --padding-inline-start:var(--padding-left);
    --padding-inline-end:var(--padding-right);
    --padding-block-start:var(--padding-top);
    --padding-block-end:var(--padding-bottom);
    --border-block-start-width:var(--border-top-width);
    --border-block-end-width:var(--border-bottom-width);
    --border-inline-start-width:var(--border-left-width);
    --border-inline-end-width:var(--border-right-width);
}
.app-con.app-con > .app-con-inner > .app-widget,
.app.app .app-con > .app-widget {
    max-width: 100%;
}
.app-con.a-flex {
    --flex-direction:column;
    --flex-basis:auto;
    --flex-grow:0;
    --flex-shrink:1;
    flex:var(--flex-grow) var(--flex-shrink) var(--flex-basis)
}
.app-con-full,
.app-con >.app-con-inner {
    padding-block-end: var(--padding-block-end);
    padding-block-start: var(--padding-block-start);
    text-align: var(--text-align);
}
.app-con-full.a-flex,
.app-con.a-flex > .app-con-inner {
    flex-direction: var(--flex-direction);
}
.app-con,
.app-con>.app-con-inner {
    display: var(--display);
}
.app-con.a-grid {
    --grid-justify-content: start;
    --grid-align-content: start;
    --grid-auto-flow: row;
}
.app-con.a-grid,
.app-con.a-grid > .app-con-inner {
    align-content:var(--grid-align-content);
    align-items:var(--align-items);
    grid-auto-flow:var(--grid-auto-flow);
    grid-template-columns:var(--con-grid-template-columns);
    grid-template-rows:var(--con-grid-template-rows);
    justify-content:var(--grid-justify-content);
    justify-items:var(--justify-items)
}
.app-con-boxed.a-flex {
    align-content:normal;
    align-items:normal;
    flex-direction:column;
    flex-wrap:nowrap;
    justify-content:normal
}
.app-con-boxed.a-grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: legacy;
}
.app-con-boxed {
    gap:initial;
    text-align:initial
}
.app-con.a-flex > .app-con-inner {
    align-content:var(--align-content);
    align-items:var(--align-items);
    align-self:auto;
    flex-basis:auto;
    flex-grow:1;
    flex-shrink:1;
    flex-wrap:var(--flex-wrap);
    justify-content:var(--justify-content);
}
.app-element {
    --flex-direction:initial;
    --flex-wrap:initial;
    --justify-content:initial;
    --align-items:initial;
    --align-content:initial;
    --gap:initial;
    --flex-basis:initial;
    --flex-grow:initial;
    --flex-shrink:initial;
    --order:initial;
    --align-self:initial;
    align-self:var(--align-self);
    flex-basis:var(--flex-basis);
    flex-grow:var(--flex-grow);
    flex-shrink:var(--flex-shrink);
    order:var(--order)
}
.app-con-inner > .app-element.app-absolute,
.app-con > .app-element.app-absolute,
.app-widget-wrap > .app-element.app-absolute {
    position:absolute
}
.app-con-inner > .app-element.app-fixed,
.app-con > .app-element.app-fixed,
.app-widget-wrap > .app-element.app-fixed {
    position:fixed;
}
.app-widget-wrap .app-element.app-widget__width-auto,
.app-widget-wrap .app-element.app-widget__width-initial {
    max-width:100%;
}
.app-widget-wrap .app-element.app-widget__width-inherit {
    max-width:inherit;
}
.app-element.app-widget__width-inherit {
    max-width:inherit;
}
.app-widget:not(:last-child).app-absolute,
.app-widget:not(:last-child).app-widget__width-auto,
.app-widget:not(:last-child).app-widget__width-initial {
    margin-bottom:0;
}
@media (max-width:1024px) {
    .app-widget-wrap .app-element.app-widget-tablet__width-auto,
    .app-widget-wrap .app-element.app-widget-tablet__width-initial {
        max-width:100%;
    }
}
@media (max-width:767px) {
    .app-widget-wrap .app-element.app-widget-mobile__width-auto,
    .app-widget-wrap .app-element.app-widget-mobile__width-initial {
        max-width:100%;
    }
}
.app-element.app-absolute,
.app-element.app-fixed {
    z-index:1
}
.app-element:where(.app-con-full,
.app-widget) {
    align-content:var(--align-content);
    align-items:var(--align-items);
    flex-direction:var(--flex-direction);
    flex-wrap:var(--flex-wrap);
    gap:var(--row-gap) var(--column-gap);
    justify-content:var(--justify-content)
}
.app-con.a-grid > .app-con-inner {
    align-items:var(--align-items);
    justify-items:var(--justify-items);
}
.app-con >.app-con-inner {
    gap:var(--row-gap) var(--column-gap);
    height:100%;
    margin:0 auto;
    max-width:var(--content-width);
    padding-inline-end:0;
    padding-inline-start:0;
    width:100%;
}
:is(.app-section-wrap) >.app-con {
    --margin-left:auto;
    --margin-right:auto;
    max-width:min(100%,var(--width));
}
.app-con .app-widget.app-widget {
    margin-block-end:0
}
.app-con:before,
.app-con > .app-background-slideshow:before,
.app-con > .app-motion-effects-container>.app-motion-effects-layer:before,
:is(.app-con,
.app-con>.app-con-inner)>.app-background-video-container:before {
    border-block-end-width:var(--border-block-end-width);
    border-block-start-width:var(--border-block-start-width);
    border-color:var(--border-color);
    border-inline-end-width:var(--border-inline-end-width);
    border-inline-start-width:var(--border-inline-start-width);
    border-radius:var(--border-radius);
    border-style:var(--border-style);
    content:var(--background-overlay);
    display:block;
    height:max(100% + var(--border-top-width) + var(--border-bottom-width),100%);
    left:calc(0px - var(--border-left-width));
    mix-blend-mode:var(--overlay-mix-blend-mode);
    opacity:var(--overlay-opacity);
    position:absolute;
    top:calc(0px - var(--border-top-width));
    transition:var(--overlay-transition,.3s);
    width:max(100% + var(--border-left-width) + var(--border-right-width),100%);
}
.app-con:before {
    transition:background var(--overlay-transition,.3s),border-radius var(--border-transition,.3s),opacity var(--overlay-transition,.3s);
}
.app-con>.app-background-slideshow,
:is(.app-con,
.app-con >.app-con-inner) > .app-background-video-container {
    border-block-end-width:var(--border-block-end-width);
    border-block-start-width:var(--border-block-start-width);
    border-color:var(--border-color);
    border-inline-end-width:var(--border-inline-end-width);
    border-inline-start-width:var(--border-inline-start-width);
    border-radius:var(--border-radius);
    border-style:var(--border-style);
    height:max(100% + var(--border-top-width) + var(--border-bottom-width),100%);
    left:calc(0px - var(--border-left-width));
    top:calc(0px - var(--border-top-width));
    width:max(100% + var(--border-left-width) + var(--border-right-width),100%);
}
@media (max-width:767px) {
    :is(.app-con,
  .app-con >.app-con-inner) > .app-background-video-container.app-hidden-mobile {
        display:none;
    }
}
:is(.app-con,
.app-con>.app-con-inner) > .app-background-video-container:before {
    z-index:1;
}
:is(.app-con,
.app-con > .app-con-inner)>.app-background-slideshow:before {
    z-index:2;
}
.app-element:where(:not(.app-con)):where(:not(.a-div-block-base)) .app-widget-container,
.app-element:where(:not(.app-con)):where(:not(.a-div-block-base)):not(:has(.app-widget-container)) {
    transition: background .3s,border .3s,border-radius .3s,box-shadow .3s,transform var(--transform-transition-duration,.4s);
}
.app-con .app-widget {
    min-width:0;
}
.app-con .app-widget-empty,
.app-con .app-widget-google_maps,
.app-con .app-widget-video,
.app-con .app-widget.app-widget-swiper {
    width:100%;
}
.app-con > .app-con-inner > .app-widget > .app-widget-container,
.app-con > .app-widget > .app-widget-container {
    height:100%;
}

.app-con > .app-widget {
    max-width:100%;
}
.app-con .app-widget:not(:last-child) {
    --kit-widget-spacing: 0;
}
@media (max-width:767px) {
    .app-con.a-flex {
        --width:100%;
        --flex-wrap:var(--flex-wrap-mobile);
    }
    .app-con.a-flex .app-widget-archive-posts {
        width:100%;
    }
}
.app-form-fields-wrapper {
    display:flex;
    flex-wrap:wrap;
}
.app-form-fields-wrapper.app-labels-above .app-field-group .app-field-subgroup,
.app-form-fields-wrapper.app-labels-above .app-field-group>.app-select-wrapper,
.app-form-fields-wrapper.app-labels-above .app-field-group>input,
.app-form-fields-wrapper.app-labels-above .app-field-group>textarea {
    flex-basis:100%;
    max-width:100%
}
.app-form-fields-wrapper.app-labels-inline>.app-field-group .app-select-wrapper,
.app-form-fields-wrapper.app-labels-inline>.app-field-group>input {
    flex-grow:1
}
.app-field-group {
    align-items:center;
    flex-wrap:wrap
}
.app-field-group.app-field-type-submit {
    align-items:flex-end
}
.app-field-group .app-field-textual {
    background-color:transparent;
    border:1px solid #69727d;
    color:#1f2124;
    flex-grow:1;
    max-width:100%;
    vertical-align:middle;
    width:100%
}
.app-field-group .app-field-textual:focus {
    box-shadow:inset 0 0 0 1px rgba(0,0,0,.1);
    outline:0
}
.app-field-group .app-field-textual::-moz-placeholder {
    color:inherit;
    font-family:inherit;
    opacity:.6
}
.app-field-group .app-field-textual::placeholder {
    color:inherit;
    font-family:inherit;
    opacity:.6
}
.app-field-group .app-select-wrapper {
    display:flex;
    position:relative;
    width:100%
}
.app-field-group .app-select-wrapper select {
    appearance:none;
    color:inherit;
    flex-basis:100%;
    font-family:inherit;
    font-size:inherit;
    font-style:inherit;
    font-weight:inherit;
    letter-spacing:inherit;
    line-height:inherit;
    padding-inline-end:20px;
    text-transform:inherit
}
.app-field-group .app-select-wrapper:before {
    content:"\e92a";
    font-family:eicons;
    font-size:15px;
    inset-block-start:50%;
    inset-inline-end:10px;
    pointer-events:none;
    position:absolute;
    text-shadow:0 0 3px rgba(0,0,0,.3);
    transform:translateY(-50%)
}
.app-field-group.app-field-type-select-multiple .app-select-wrapper:before {
    content:""
}
.app-field-subgroup {
    display:flex;
    flex-wrap:wrap
}
.app-field-subgroup .app-field-option label {
    display:inline-block
}
.app-field-subgroup.app-subgroup-inline .app-field-option {
    padding-inline-end:10px
}
.app-field-subgroup:not(.app-subgroup-inline) .app-field-option {
    flex-basis:100%
}
.app-field-type-acceptance .app-field-subgroup .app-field-option input,
.app-field-type-acceptance .app-field-subgroup .app-field-option label,
.app-field-type-checkbox .app-field-subgroup .app-field-option input,
.app-field-type-checkbox .app-field-subgroup .app-field-option label,
.app-field-type-radio .app-field-subgroup .app-field-option input,
.app-field-type-radio .app-field-subgroup .app-field-option label {
    display:inline
}
.app-field-label {
    cursor:pointer
}
.app-mark-required .app-field-label:after {
    color:red;
    content:"*";
    padding-inline-start:.2em
}
.app-field-textual {
    border-radius:3px;
    font-size:15px;
    line-height:1.4;
    min-height:40px;
    padding:5px 14px
}
.app-field-textual.app-size-xs {
    border-radius:2px;
    font-size:13px;
    min-height:33px;
    padding:4px 12px
}
.app-field-textual.app-size-md {
    border-radius:4px;
    font-size:16px;
    min-height:47px;
    padding:6px 16px
}
.app-field-textual.app-size-lg {
    border-radius:5px;
    font-size:18px;
    min-height:59px;
    padding:7px 20px
}
.app-field-textual.app-size-xl {
    border-radius:6px;
    font-size:20px;
    min-height:72px;
    padding:8px 24px
}
.app-widget {
    position:relative;
}
.app-icon {
    color: #69727d;
    display: inline-block;
    font-size: 50px;
    line-height: 1;
    text-align: center;
    transition: all .3s;
}
.app-icon {
    border-radius: 50%;
}
.app-icon.app-social-icon {
    font-size: var(--icon-size, 25px);
    height: calc(var(--icon-size, 25px) + 2 * var(--icon-padding, .5em));
    line-height: var(--icon-size, 25px);
    width: calc(var(--icon-size, 25px) + 2 * var(--icon-padding, .5em));
}
.app-icon i, .app-icon svg {
    display: block;
    height: 1em;
    position: relative;
    width: 1em;
}
.app-social-icon {
    --social-icon-icon-color: #fff;
    align-items: center;
    background-color: #69727d;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    text-align: center;
}
.app-heading-title {
    line-height:1;
    margin:0;
    padding:0
}
.app-button {
    background-color:#69727d;
    border-radius:3px;
    color:#fff;
    display:inline-block;
    font-size:15px;
    line-height:1;
    padding:12px 24px;
    fill:#fff;
    text-align:center;
    transition:all .3s
}
.app-button:focus,
.app-button:hover,
.app-button:visited {
    color:#fff
}
.app-button-content-wrapper {
    display:flex;
    flex-direction:row;
    gap:5px;
    justify-content:center
}
.app-button-icon {
    align-items:center;
    display:flex
}
.app-button-icon svg {
    height:auto;
    width:1em
}
.app-button-icon .app-font-icon-svg {
    height:1em
}
.app-button-text {
    display:inline-block
}
.app-button.app-size-sm {
    border-radius:2px;
    font-size:10px;
    padding:5px 10px;
}
.app-button.app-size-xs {
    border-radius:2px;
    font-size:13px;
    padding:10px 20px;
}
.app-button.app-size-md {
    border-radius:4px;
    font-size:16px;
    padding:15px 30px;
}
.app-button.app-size-lg {
    border-radius:5px;
    font-size:18px;
    padding:20px 40px;
}
.app-button.app-size-xl {
    border-radius:6px;
    font-size:20px;
    padding:25px 50px;
}
.app-button span {
    text-decoration:inherit;
}
.app-button-content-wrapper * {
    transition: all var(--button-transition-duration, 300ms);
}
.app-element.app-button-info .app-button {
    background-color:#5bc0de;
}
.app-element.app-button-success .app-button {
    background-color:#5cb85c;
}
.app-element.app-button-warning .app-button {
    background-color:#f0ad4e;
}
.app-element.app-button-danger .app-button {
    background-color:#d9534f;
}
.app-widget-button .app-button .app-button-info {
    background-color:#5bc0de;
}
.app-widget-button .app-button .app-button-success {
    background-color:#5cb85c;
}
.app-widget-button .app-button .app-button-warning {
    background-color:#f0ad4e;
}
.app-widget-button .app-button .app-button-danger {
    background-color:#d9534f;
}
.app-view-stacked .app-icon {
    background-color:#69727d;
    color:#fff;
    padding:.5em;
    fill:#fff;
}
.app-view-framed .app-icon {
    background-color:transparent;
    border:3px solid #69727d;
    color:#69727d;
    padding:.5em;
}
.app-icon {
    font-size:50px;
    line-height:1;
    text-align:center;
    transition:all .3s;
}
.app-icon:hover {
    color:#69727d;
}
.app-icon i:before,
.app-icon svg:before {
    left:50%;
    position:absolute;
    transform:translateX(-50%);
}
.app-icon i.fad {
    width:auto;
}
.app-shape-square .app-icon {
    border-radius:0;
}
.app-shape-rounded .app-icon {
    border-radius:10%;
}
.app-shape-circle .app-icon {
    border-radius:50%;
}
@keyframes fadeIn {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
.fadeIn {
    animation-name:fadeIn;
}
.animated {
    animation-duration:1.25s;
}
.animated.animated-slow {
    animation-duration:2s;
}
.animated.animated-fast {
    animation-duration:.75s;
}
.animated.infinite {
    animation-iteration-count:infinite;
}
.animated.reverse {
    animation-direction:reverse;
    animation-fill-mode:forwards;
}
@media (prefers-reduced-motion:reduce) {
    .animated {
        animation:none!important;
    }
}
@media (min-width: 768px) {

}
@media (max-width:767px) {
    .app-hidden-mobile,
    .app-hidden-phone {
        display:none;
    }
}
@media (min-width:768px) and (max-width:1024px) {
    .app-hidden-tablet {
        display:none;
    }
}
@media (min-width:1025px) and (max-width:99999px) {
    .app .app-hidden-desktop {
        display:none
    }
}
.app-button-align-stretch .app-field-type-submit:not(.app-form__buttons__wrapper) .app-button {
    flex-basis:100%;
}
.app-button-align-stretch .app-form__buttons__wrapper {
    flex-basis:50%;
    flex-grow:1;
}
.app-button-align-stretch .app-form__buttons__wrapper__button {
    flex-basis:100%
}
.app-button-align-center .app-form__buttons,
.app-button-align-center .app-field-type-submit {
    justify-content:center;
}
.app-button-align-start .app-form__buttons,
.app-button-align-start .app-field-type-submit {
    justify-content:flex-start;
}
.app-button-align-end .app-form__buttons,
.app-button-align-end .app-field-type-submit {
    justify-content:flex-end;
}
.app-button-align-center .app-field-type-submit:not(.app-form__buttons__wrapper) .app-button,
.app-button-align-end .app-field-type-submit:not(.app-form__buttons__wrapper) .app-button,
.app-button-align-start .app-field-type-submit:not(.app-form__buttons__wrapper) .app-button {
    flex-basis:auto
}
.app-button-align-center .app-form__buttons__wrapper,
.app-button-align-end .app-form__buttons__wrapper,
.app-button-align-start .app-form__buttons__wrapper {
    flex-grow:0;
}
.app-button-align-center .app-form__buttons__wrapper,
.app-button-align-center .app-form__buttons__wrapper__button,
.app-button-align-end .app-form__buttons__wrapper,
.app-button-align-end .app-form__buttons__wrapper__button,
.app-button-align-start .app-form__buttons__wrapper,
.app-button-align-start .app-form__buttons__wrapper__button {
    flex-basis:auto;
}
.app-error .app-field {
    border-color:#d9534f;
}
.app-error .help-inline {
    color:#d9534f;
    font-size:.9em;
}
.app-message {
    font-size:1em;
    line-height:1;
    margin:10px 0;
}
.app-message:before {
    content:"\e90e";
    display:inline-block;
    font-family:eicons;
    font-style:normal;
    font-weight:400;
    margin-inline-end:5px;
    vertical-align:middle;
}
.app-message.app-message-danger {
    color:#d9534f;
}
.app-message.app-message-danger:before {
    content:"\e87f";
}
.app-message.form-message-success {
    color:#5cb85c;
}
.app-form .app-button {
    border:none;
    padding-block-end:0;
    padding-block-start:0;
}
.app-form .app-button-content-wrapper,
.app-form .app-button>span {
    display:flex;
    flex-direction:row;
    gap:5px;
    justify-content:center;
}
.app-form .app-button.app-size-xs {
    min-height:33px;
}
.app-form .app-button.app-size-sm {
    min-height:40px;
}
.app-form .app-button.app-size-md {
    min-height:47px;
}
.app-form .app-button.app-size-lg {
    min-height:59px;
}
.app-form .app-button.app-size-xl {
    min-height:72px;
}
@keyframes aicon-spin {
    0% {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(359deg);
    }
}
.aicon-animation-spin {
    animation:aicon-spin 2s linear infinite;
}
.app-section {
    position:relative;
}
.app-section .app-container {
    display:flex;
    margin-left:auto;
    margin-right:auto;
    position:relative;
}
.app-section.app-section-boxed>.app-container {
    max-width:1140px;
}
.app-section.app-section-stretched {
    position:relative;
    width:100%;
}
.app-section.app-section-items-top>.app-container {
    align-items:flex-start;
}
.app-section.app-section-items-middle>.app-container {
    align-items:center;
}
.app-section.app-section-items-bottom>.app-container {
    align-items:flex-end;
}
.app-bc-flex-widget .app-section-content-top>.app-container>.app-column>.app-widget-wrap {
    align-items:flex-start;
}
.app-bc-flex-widget .app-section-content-middle>.app-container>.app-column>.app-widget-wrap {
    align-items:center;
}
.app-bc-flex-widget .app-section-content-bottom>.app-container>.app-column>.app-widget-wrap {
    align-items:flex-end;
}
.app-widget-wrap {
    align-content:flex-start;
    flex-wrap:wrap;
    position:relative;
    width:100%;
}
.app:not(.app-bc-flex-widget) .app-widget-wrap {
    display:flex;
}
.app-widget-wrap>.app-element {
    width:100%;
}
.app-widget-wrap.app-swiper-container {
    width:calc(100% - (var(--column-margin-left, 0px) + var(--column-margin-right, 0)));
}
.app-column {
    display:flex;
    min-height:1px;
    position:relative;
}
.app-column-gap-narrow>.app-column>.app-element-populated {
    padding:5px;
}
.app-column-gap-default>.app-column>.app-element-populated {
    padding:10px;
}
.app-column-gap-extended>.app-column>.app-element-populated {
    padding:15px;
}
.app-column-gap-wide>.app-column>.app-element-populated {
    padding:20px;
}
.app-column-gap-wider>.app-column>.app-element-populated {
    padding:30px;
}
.app-inner-section .app-column-gap-no .app-element-populated {
    padding:0;
}
.app-grid {
    display:grid;
    grid-column-gap:var(--grid-column-gap);
    grid-row-gap:var(--grid-row-gap);
}
.app-grid .app-grid-item {
    min-width:0;
}
.app-grid-0 .app-grid {
    display:inline-block;
    margin-bottom:calc(-1 * var(--grid-row-gap));
    width:100%;
    word-spacing:var(--grid-column-gap);
}
.app-grid-0 .app-grid .app-grid-item {
    display:inline-block;
    margin-bottom:var(--grid-row-gap);
    word-break:break-word;
}
.app-grid-1 .app-grid {
    grid-template-columns:repeat(1,1fr);
}
.app-grid-2 .app-grid {
    grid-template-columns:repeat(2,1fr);
}
.app-grid-3 .app-grid {
    grid-template-columns:repeat(3,1fr);
}
.app-grid-4 .app-grid {
    grid-template-columns:repeat(4,1fr);
}
.app-grid-5 .app-grid {
    grid-template-columns:repeat(5,1fr);
}
.app-grid-6 .app-grid {
    grid-template-columns:repeat(6,1fr);
}
.app-grid-7 .app-grid {
    grid-template-columns:repeat(7,1fr);
}
.app-grid-8 .app-grid {
    grid-template-columns:repeat(8,1fr);
}
.app-grid-9 .app-grid {
    grid-template-columns:repeat(9,1fr);
}
.app-grid-10 .app-grid {
    grid-template-columns:repeat(10,1fr);
}
.app-grid-11 .app-grid {
    grid-template-columns:repeat(11,1fr);
}
.app-grid-12 .app-grid {
    grid-template-columns:repeat(12,1fr);
}
.app .app-element.app-element-white-card {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --gap: 15px 15px;
    --row-gap: 15px;
    --column-gap: 15px;
    --flex-wrap: wrap;
    --border-radius: 10px 10px 10px 10px;
    --padding-top: 30px;
    --padding-bottom: 30px;
    --padding-left: 30px;
    --padding-right: 30px;
}
.app .app-element.app-element-white-card:not(.app-motion-effects-element-type-background),
.app .app-element.app-element-white-card > .app-motion-effects-container > .app-motion-effects-layer {
    background-color: #F8F6EF;
}
.app .app-element.app-element-white-card-rating {
    width: 100%;
    max-width: 100%;
    --rating-icon-font-size: 14px;
    --rating-gap: 5px;
    --rating-icon-marked-color: #F5AE10;
    --rating-icon-color: #0129211F;
}
.app .app-element.app-element-white-card-rating > .app-widget-container {
    margin: 0 0 5px 0;
}
.app-widget-rating {
    --rating-gap:0px;
    --rating-icon-font-size:16px;
    --rating-icon-color:#ccd6df;
    --rating-icon-marked-color:#f0ad4e;
    --rating-icon-marked-width:100%;
    --rating-justify-content:flex-start;
}
.app-widget-rating .app-rating {
    display:flex;
    justify-content:var(--rating-justify-content);
}
.app-widget-rating .app-rating-wrapper {
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:inherit;
    margin-block-end:calc(0px - var(--rating-gap));
    margin-inline-end:calc(0px - var(--rating-gap));
    width:fit-content
}
.app-widget-rating .app-rating .a-icon {
    margin-block-end:var(--rating-gap);
    margin-inline-end:var(--rating-gap);
    position:relative;
}
.app-widget-rating .app-rating .a-icon-wrapper.a-icon-marked {
    --rating-icon-color:var(--rating-icon-marked-color);
    height:100%;
    inset-block-start:0;
    inset-inline-start:0;
    overflow:hidden;
    position:absolute;
    width:var(--rating-icon-marked-width);
    z-index:1;
}
.app-widget-rating .app-rating .a-icon-wrapper :is(i,
svg) {
    display:flex;
    flex-shrink:0;
}
.app-widget-rating .app-rating .a-icon-wrapper i {
    color:var(--rating-icon-color);
    font-size:var(--rating-icon-font-size);
}
.app-widget-rating .app-rating .a-icon-wrapper svg {
    height:var(--rating-icon-font-size);
    width:auto;
    fill:var(--rating-icon-color);
}
.app-widget-heading .app-heading-title[class*=app-size-]>a {
    color:inherit;
    font-size:inherit;
    line-height:inherit
}
.app-widget-heading .app-heading-title.app-size-small {
    font-size:15px
}
.app-widget-heading .app-heading-title.app-size-medium {
    font-size:19px
}
.app-widget-heading .app-heading-title.app-size-large {
    font-size:29px
}
.app-widget-heading .app-heading-title.app-size-xl {
    font-size:39px
}
.app-widget-heading .app-heading-title.app-size-xxl {
    font-size:59px
}
.app-tag {
    display:inline-flex;
}
.app-ken-burns {
    transition-duration:10s;
    transition-property:transform;
    transition-timing-function:linear;
}
.app-ken-burns--out {
    transform:scale(1.3);
}
.app-ken-burns--active {
    transition-duration:20s;
}
.app-ken-burns--active.app-ken-burns--out {
    transform:scale(1);
}
.app-ken-burns--active.app-ken-burns--in {
    transform:scale(1.3);
}
.app-align-center {
    text-align:center;
}
.app-align-right {
    text-align:right
}
.app-align-left {
    text-align:left;
}
.app-align-center .app-button,
.app-align-left .app-button,
.app-align-right .app-button {
    width:auto;
}
.app-align-justify .app-button {
    width:100%;
}
.app-animation-float {
    transition-duration:.3s;
    transition-property:transform;
    transition-timing-function:ease-out;
}
.app-animation-float:active,
.app-animation-float:focus,
.app-animation-float:hover {
    transform:translateY(-8px)
}
/*=============================================== Mobile =====================================*/
@media screen and (max-width:1024px) {
    .app .app-element.app-element-white-card {
        --padding-top: 30px;
        --padding-bottom: 30px;
        --padding-left: 30px;
        --padding-right: 30px;
    }
    .app-tablet-button-align-stretch .app-field-type-submit:not(.app-form__buttons__wrapper) .app-button {
        flex-basis:100%;
    }
    .app-tablet-button-align-stretch .app-form__buttons__wrapper {
        flex-basis:50%;
        flex-grow:1;
    }
    .app-tablet-button-align-stretch .app-form__buttons__wrapper__button {
        flex-basis:100%;
    }
    .app-tablet-button-align-center .app-form__buttons,
    .app-tablet-button-align-center .app-field-type-submit {
        justify-content:center;
    }
    .app-tablet-button-align-start .app-form__buttons,
    .app-tablet-button-align-start .app-field-type-submit {
        justify-content:flex-start;
    }
    .app-tablet-button-align-end .app-form__buttons,
    .app-tablet-button-align-end .app-field-type-submit {
        justify-content:flex-end;
    }
    .app-tablet-button-align-center .app-field-type-submit:not(.app-form__buttons__wrapper) .app-button,
    .app-tablet-button-align-end .app-field-type-submit:not(.app-form__buttons__wrapper) .app-button,
    .app-tablet-button-align-start .app-field-type-submit:not(.app-form__buttons__wrapper) .app-button {
        flex-basis:auto;
    }
    .app-tablet-button-align-center .app-form__buttons__wrapper,
    .app-tablet-button-align-end .app-form__buttons__wrapper,
    .app-tablet-button-align-start .app-form__buttons__wrapper {
        flex-grow:0;
    }
    .app-tablet-button-align-center .app-form__buttons__wrapper,
    .app-tablet-button-align-center .app-form__buttons__wrapper__button,
    .app-tablet-button-align-end .app-form__buttons__wrapper,
    .app-tablet-button-align-end .app-form__buttons__wrapper__button,
    .app-tablet-button-align-start .app-form__buttons__wrapper,
    .app-tablet-button-align-start .app-form__buttons__wrapper__button {
        flex-basis:auto;
    }
    .app-tablet-align-center {
        text-align:center
    }
    .app-tablet-align-right {
        text-align:right;
    }
    .app-tablet-align-left {
        text-align:left;
    }
    .app-tablet-align-center .app-button,
    .app-tablet-align-left .app-button,
    .app-tablet-align-right .app-button {
        width:auto;
    }
    .app-tablet-align-justify .app-button {
        width:100%;
    }
    .app-section .app-container {
        flex-wrap:wrap;
    }
}

@media screen and (max-width:767px) {
    .app-mobile-button-align-stretch .app-field-type-submit:not(.app-form__buttons__wrapper) .app-button {
        flex-basis:100%;
    }
    .app-mobile-button-align-stretch .app-form__buttons__wrapper {
        flex-basis:50%;
        flex-grow:1;
    }
    .app-mobile-button-align-stretch .app-form__buttons__wrapper__button {
        flex-basis:100%;
    }
    .app-mobile-button-align-center .app-form__buttons,
    .app-mobile-button-align-center .app-field-type-submit {
        justify-content:center;
    }
    .app-mobile-button-align-start .app-form__buttons,
    .app-mobile-button-align-start .app-field-type-submit {
        justify-content:flex-start;
    }
    .app-mobile-button-align-end .app-form__buttons,
    .app-mobile-button-align-end .app-field-type-submit {
        justify-content:flex-end;
    }
    .app-mobile-button-align-center .app-field-type-submit:not(.app-form__buttons__wrapper) .app-button,
    .app-mobile-button-align-end .app-field-type-submit:not(.app-form__buttons__wrapper) .app-button,
    .app-mobile-button-align-start .app-field-type-submit:not(.app-form__buttons__wrapper) .app-button {
        flex-basis:auto;
    }
    .app-mobile-button-align-center .app-form__buttons__wrapper,
    .app-mobile-button-align-end .app-form__buttons__wrapper,
    .app-mobile-button-align-start .app-form__buttons__wrapper {
        flex-grow:0;
    }
    .app-mobile-button-align-center .app-form__buttons__wrapper,
    .app-mobile-button-align-center .app-form__buttons__wrapper__button,
    .app-mobile-button-align-end .app-form__buttons__wrapper,
    .app-mobile-button-align-end .app-form__buttons__wrapper__button,
    .app-mobile-button-align-start .app-form__buttons__wrapper,
    .app-mobile-button-align-start .app-form__buttons__wrapper__button {
        flex-basis:auto;
    }
    .app-mobile-align-center {
        text-align:center;
    }
    .app-mobile-align-right {
        text-align:right;
    }
    .app-mobile-align-left {
        text-align:left;
    }
    .app-mobile-align-center .app-button,
    .app-mobile-align-left .app-button,
    .app-mobile-align-right .app-button {
        width:auto;
    }
    .app-mobile-align-justify .app-button {
        width:100%;
    }
}
@media (min-width:-1px) {
    .app-widescreen-align-center {
        text-align:center;
    }
    .app-widescreen-align-right {
        text-align:right;
    }
    .app-widescreen-align-left {
        text-align:left;
    }
    .app-widescreen-align-center .app-button,
    .app-widescreen-align-left .app-button,
    .app-widescreen-align-right .app-button {
        width:auto;
    }
    .app-widescreen-align-justify .app-button {
        width:100%;
    }
}
@media (max-width:-1px) {
    .app-laptop-align-center {
        text-align:center;
    }
    .app-laptop-align-right {
        text-align:right;
    }
    .app-laptop-align-left {
        text-align:left;
    }
    .app-laptop-align-center .app-button,
    .app-laptop-align-left .app-button,
    .app-laptop-align-right .app-button {
        width:auto;
    }
    .app-laptop-align-justify .app-button {
        width:100%;
    }
    .app-tablet_extra-align-center {
        text-align:center;
    }
    .app-tablet_extra-align-right {
        text-align:right;
    }
    .app-tablet_extra-align-left {
        text-align:left;
    }
    .app-tablet_extra-align-center .app-button,
    .app-tablet_extra-align-left .app-button,
    .app-tablet_extra-align-right .app-button {
        width:auto;
    }
    .app-tablet_extra-align-justify .app-button {
        width:100%;
    }
}
@media (max-width:1024px) {
    .app-tablet-align-center {
        text-align:center;
    }
    .app-tablet-align-right {
        text-align:right;
    }
    .app-tablet-align-left {
        text-align:left;
    }
    .app-tablet-align-center .app-button,
    .app-tablet-align-left .app-button,
    .app-tablet-align-right .app-button {
        width:auto;
    }
    .app-tablet-align-justify .app-button {
        width:100%;
    }
}
@media (max-width:1024px) {
    .app-section .app-container {
        flex-wrap:wrap;
    }
}
.app-section.app-section-boxed>.app-container {
    max-width:1140px
}
.app-section.app-section-stretched {
    position:relative;
    width:100%;
}
.app-section.app-section-items-top>.app-container {
    align-items:flex-start;
}
.app-section.app-section-items-middle>.app-container {
    align-items:center;
}
.app-section.app-section-items-bottom>.app-container {
    align-items:flex-end
}
@media (min-width:768px) {

    .app-section.app-section-height-full {
        height:100vh;
    }
    .app-section.app-section-height-full>.app-container {
        height:100%;
    }
    .app-column.app-col-10,
    .app-column[data-col="10"] {
        width:10%;
    }
    .app-column.app-col-11,
    .app-column[data-col="11"] {
        width:11.111%;
    }
    .app-column.app-col-12,
    .app-column[data-col="12"] {
        width:12.5%;
    }
    .app-column.app-col-14,
    .app-column[data-col="14"] {
        width:14.285%;
    }
    .app-column.app-col-16,
    .app-column[data-col="16"] {
        width:16.666%;
    }
    .app-column.app-col-20,
    .app-column[data-col="20"] {
        width:20%;
    }
    .app-column.app-col-25,
    .app-column[data-col="25"] {
        width:25%;
    }
    .app-column.app-col-30,
    .app-column[data-col="30"] {
        width:30%;
    }
    .app-column.app-col-33,
    .app-column[data-col="33"] {
        width:33.333%;
    }
    .app-column.app-col-40,
    .app-column[data-col="40"] {
        width:40%;
    }
    .app-column.app-col-50,
    .app-column[data-col="50"] {
        width:50%;
    }
    .app-column.app-col-60,
    .app-column[data-col="60"] {
        width:60%;
    }
    .app-column.app-col-66,
    .app-column[data-col="66"] {
        width:66.666%;
    }
    .app-column.app-col-70,
    .app-column[data-col="70"] {
        width:70%;
    }
    .app-column.app-col-75,
    .app-column[data-col="75"] {
        width:75%;
    }
    .app-column.app-col-80,
    .app-column[data-col="80"] {
        width:80%;
    }
    .app-column.app-col-83,
    .app-column[data-col="83"] {
        width:83.333%;
    }
    .app-column.app-col-90,
    .app-column[data-col="90"] {
        width:90%;
    }
    .app-column.app-col-100,
    .app-column[data-col="100"] {
        width:100%;
    }
}
@media (max-width:479px) {
    .app-column.app-xs-10 {
        width:10%;
    }
    .app-column.app-xs-11 {
        width:11.111%
    }
    .app-column.app-xs-12 {
        width:12.5%;
    }
    .app-column.app-xs-14 {
        width:14.285%;
    }
    .app-column.app-xs-16 {
        width:16.666%;
    }
    .app-column.app-xs-20 {
        width:20%;
    }
    .app-column.app-xs-25 {
        width:25%;
    }
    .app-column.app-xs-30 {
        width:30%;
    }
    .app-column.app-xs-33 {
        width:33.333%;
    }
    .app-column.app-xs-40 {
        width:40%;
    }
    .app-column.app-xs-50 {
        width:50%;
    }
    .app-column.app-xs-60 {
        width:60%;
    }
    .app-column.app-xs-66 {
        width:66.666%;
    }
    .app-column.app-xs-70 {
        width:70%;
    }
    .app-column.app-xs-75 {
        width:75%;
    }
    .app-column.app-xs-80 {
        width:80%;
    }
    .app-column.app-xs-83 {
        width:83.333%;
    }
    .app-column.app-xs-90 {
        width:90%;
    }
    .app-column.app-xs-100 {
        width:100%;
    }
}
@media (max-width:767px) {
    .app-column {
        width:100%;
    }
    .app-column.app-sm-10 {
        width:10%;
    }
    .app-column.app-sm-11 {
        width:11.111%;
    }
    .app-column.app-sm-12 {
        width:12.5%;
    }
    .app-column.app-sm-14 {
        width:14.285%;
    }
    .app-column.app-sm-16 {
        width:16.666%;
    }
    .app-column.app-sm-20 {
        width:20%;
    }
    .app-column.app-sm-25 {
        width:25%;
    }
    .app-column.app-sm-30 {
        width:30%;
    }
    .app-column.app-sm-33 {
        width:33.333%;
    }
    .app-column.app-sm-40 {
        width:40%;
    }
    .app-column.app-sm-50 {
        width:50%;
    }
    .app-column.app-sm-60 {
        width:60%;
    }
    .app-column.app-sm-66 {
        width:66.666%;
    }
    .app-column.app-sm-70 {
        width:70%;
    }
    .app-column.app-sm-75 {
        width:75%;
    }
    .app-column.app-sm-80 {
        width:80%;
    }
    .app-column.app-sm-83 {
        width:83.333%;
    }
    .app-column.app-sm-90 {
        width:90%;
    }
    .app-column.app-sm-100 {
        width:100%;
    }
}
@media (min-width:768px) and (max-width:1024px) {
    .app-column.app-md-10 {
        width:10%;
    }
    .app-column.app-md-11 {
        width:11.111%;
    }
    .app-column.app-md-12 {
        width:12.5%;
    }
    .app-column.app-md-14 {
        width:14.285%;
    }
    .app-column.app-md-16 {
        width:16.666%;
    }
    .app-column.app-md-20 {
        width:20%;
    }
    .app-column.app-md-25 {
        width:25%;
    }
    .app-column.app-md-30 {
        width:30%;
    }
    .app-column.app-md-33 {
        width:33.333%;
    }
    .app-column.app-md-40 {
        width:40%;
    }
    .app-column.app-md-50 {
        width:50%;
    }
    .app-column.app-md-60 {
        width:60%;
    }
    .app-column.app-md-66 {
        width:66.666%;
    }
    .app-column.app-md-70 {
        width:70%;
    }
    .app-column.app-md-75 {
        width:75%;
    }
    .app-column.app-md-80 {
        width:80%;
    }
    .app-column.app-md-83 {
        width:83.333%;
    }
    .app-column.app-md-90 {
        width:90%;
    }
    .app-column.app-md-100 {
        width:100%;
    }
}

@media (max-width:1024px) {
    .app-grid-tablet-0 .app-grid {
        display:inline-block;
        margin-bottom:calc(-1 * var(--grid-row-gap));
        width:100%;
        word-spacing:var(--grid-column-gap);
    }
    .app-grid-tablet-0 .app-grid .app-grid-item {
        display:inline-block;
        margin-bottom:var(--grid-row-gap);
        word-break:break-word;
    }
    .app-grid-tablet-1 .app-grid {
        grid-template-columns:repeat(1,1fr);
    }
    .app-grid-tablet-2 .app-grid {
        grid-template-columns:repeat(2,1fr);
    }
    .app-grid-tablet-3 .app-grid {
        grid-template-columns:repeat(3,1fr);
    }
    .app-grid-tablet-4 .app-grid {
        grid-template-columns:repeat(4,1fr);
    }
    .app-grid-tablet-5 .app-grid {
        grid-template-columns:repeat(5,1fr);
    }
    .app-grid-tablet-6 .app-grid {
        grid-template-columns:repeat(6,1fr);
    }
    .app-grid-tablet-7 .app-grid {
        grid-template-columns:repeat(7,1fr);
    }
    .app-grid-tablet-8 .app-grid {
        grid-template-columns:repeat(8,1fr);
    }
    .app-grid-tablet-9 .app-grid {
        grid-template-columns:repeat(9,1fr);
    }
    .app-grid-tablet-10 .app-grid {
        grid-template-columns:repeat(10,1fr);
    }
    .app-grid-tablet-11 .app-grid {
        grid-template-columns:repeat(11,1fr);
    }
    .app-grid-tablet-12 .app-grid {
        grid-template-columns:repeat(12,1fr);
    }
}
@media (max-width:767px) {
    .app-grid-mobile-0 .app-grid {
        display:inline-block;
        margin-bottom:calc(-1 * var(--grid-row-gap));
        width:100%;
        word-spacing:var(--grid-column-gap);
    }
    .app-grid-mobile-0 .app-grid .app-grid-item {
        display:inline-block;
        margin-bottom:var(--grid-row-gap);
        word-break:break-word;
    }
    .app-grid-mobile-1 .app-grid {
        grid-template-columns:repeat(1,1fr);
    }
    .app-grid-mobile-2 .app-grid {
        grid-template-columns:repeat(2,1fr);
    }
    .app-grid-mobile-3 .app-grid {
        grid-template-columns:repeat(3,1fr);
    }
    .app-grid-mobile-4 .app-grid {
        grid-template-columns:repeat(4,1fr);
    }
    .app-grid-mobile-5 .app-grid {
        grid-template-columns:repeat(5,1fr);
    }
    .app-grid-mobile-6 .app-grid {
        grid-template-columns:repeat(6,1fr);
    }
    .app-grid-mobile-7 .app-grid {
        grid-template-columns:repeat(7,1fr);
    }
    .app-grid-mobile-8 .app-grid {
        grid-template-columns:repeat(8,1fr);
    }
    .app-grid-mobile-9 .app-grid {
        grid-template-columns:repeat(9,1fr);
    }
    .app-grid-mobile-10 .app-grid {
        grid-template-columns:repeat(10,1fr);
    }
    .app-grid-mobile-11 .app-grid {
        grid-template-columns:repeat(11,1fr);
    }
    .app-grid-mobile-12 .app-grid {
        grid-template-columns:repeat(12,1fr);
    }
}
