.slide-in {
    position:absolute;
    right:-100%;
    animation:slideIn 1s forwards
}
@keyframes slideIn {
    to {
        right:0
    }
}
[dir=rtl] .slide-in {
    left:-100%;
    right:auto;
    animation:slideInRtl 1s forwards
}
@keyframes slideInRtl {
    to {
        left:0
    }
}
.slide-in-top-0,
[dir=rtl] .slide-in-top-0 {
    position:absolute;
    bottom:-100%;
    right:0;
    left:0;
    animation:slideInTop0 .5s forwards
}
@keyframes slideInTop0 {
    to {
        bottom:0
    }
}
.slide-in-top-50,
[dir=rtl] .slide-in-top-50 {
    position:absolute;
    bottom:0;
    animation:slideInTop50 .5s forwards
}
@keyframes slideInTop50 {
    to {
        bottom:50%
    }
}
.grow-container {
    height:0;
    animation:growContainer 1s forwards
}
@keyframes growContainer {
    to {
        height:100%
    }
}
.decrease-container {
    height:100%;
    animation:decreaseContainer 1s forwards
}
@keyframes decreaseContainer {
    to {
        height:0
    }
}
@keyframes show-up {
    0% {
        top:0;
        opacity:0
    }
    to {
        top:-12px;
        opacity:1
    }
}
@keyframes reveal {
    0% {
        opacity:0
    }
    90% {
        opacity:1
    }
    to {
        opacity:1
    }
}
@keyframes shine {
    to {
        background-position-x:-200%
    }
}
@keyframes show-from-bottom {
    0% {
        opacity:0;
        transform:translate3d(0,spacing(2),0)
    }
    to {
        opacity:1;
        transform:translateZ(0)
    }
}
@keyframes hide-from-bottom {
    0% {
        opacity:1;
        transform:translateZ(0)
    }
    to {
        opacity:0;
        transform:translate3d(0,spacing(-2),0)
    }
}
@keyframes marquee {
    0% {
        transform:translate(0)
    }
    10% {
        transform:translate(0)
    }
    90% {
        transform:translate(calc(-1 * (100% - 100vw + var(--button-width) + var(--animations-scroll))))
    }
    to {
        transform:translate(calc(-1 * (100% - 100vw + var(--button-width) + var(--animations-scroll))))
    }
}
@keyframes marqueertl {
    0% {
        transform:translate(0)
    }
    10% {
        transform:translate(0)
    }
    90% {
        transform:translate(calc(100% - 100vw + var(--button-width) + var(--animations-scroll)))
    }
    to {
        transform:translate(calc(100% - 100vw + var(--button-width) + var(--animations-scroll)))
    }
}
@keyframes traslateUp {
    0% {
        transform:translateZ(0)
    }
    10% {
        transform:translate3d(0,-50px,0)
    }
    90% {
        transform:translate3d(0,-50px,0)
    }
    to {
        transform:translateZ(0)
    }
}
@keyframes shimmer {
    0% {
        background-position:100% 50%
    }
    to {
        background-position:0 50%
    }
}
@keyframes slideInLeft {
    0% {
        transform:translate(-170%)
    }
    to {
        transform:translate(0)
    }
}
@keyframes fadeOutLeft {
    0% {
        transform:translate(0)
    }
    to {
        transform:translate(-170%)
    }
}
@keyframes slideInRight {
    0% {
        transform:translate(170%)
    }
    to {
        transform:translate(0)
    }
}
@keyframes fadeOutRight {
    0% {
        transform:translate(0)
    }
    to {
        transform:translate(170%)
    }
}
@keyframes slideInUp {
    0% {
        transform:translateY(200%)
    }
    to {
        transform:translateY(0)
    }
}
@keyframes fadeOutDown {
    0% {
        transform:translateY(0)
    }
    to {
        transform:translateY(170%)
    }
}
@keyframes shake {
    0% {
        transform:translate(0)
    }
    20% {
        transform:translate(-5px)
    }
    40% {
        transform:translate(5px)
    }
    60% {
        transform:translate(-5px)
    }
    80% {
        transform:translate(5px)
    }
    to {
        transform:translate(0)
    }
}
