/* Generic CSS for popup*/
.mc-modal-bg {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9995;
    height: 100%;
    width: 100%;
    display: none;
    background-color: #000000;
    /* settings for velocity */
    opacity: 0;
}
.mc-modal-bg.active {
    display: block;
    opacity: 0.9;
}
.mc-layout__modalContent {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    display: block;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    -webkit-overflow-scrolling: touch; /* Fix iOS scrolling bug */
    border-radius: 6px;
}

.mc-layout__modalContent iframe {
    display: block;
}

.mc-closeModal.mc-closeModal {
    width: 30px;
    height: 30px;
    background-color: #ffffff;
    border-radius: 100%;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);
    cursor: pointer;
    position: absolute;
    right: -10px;
    top: -10px;
    z-index: 2;
    border: none;
    display: block !important;
    margin: 0;
    padding: 0;
}

.mc-closeModal::before,
.mc-closeModal::after {
    background-color: #414141;
    content: '';
    position: absolute;
    left: 14px;
    height: 14px;
    top: 8px;
    width: 2px;
}

.mc-closeModal::before {
    transform: rotate(45deg);
}

.mc-closeModal::after {
    transform: rotate(-45deg);
}

.mc-closeModal.mc-closeModal:hover {
    background-color: #000000;
}
.mc-closeModal.mc-closeModal:hover::before,
.mc-closeModal.mc-closeModal:hover::after {
    background-color: #FFFFFF;
}

/* Box sizing for all elements inside mc-modal */
.mc-modal * {
    box-sizing: border-box;
}

/* Modal basic styles */
.mc-modal {
    display: none;

    /* Set higher than avg top nav index */
    z-index: 9999;
    position: fixed;
    top: 15%;
    bottom: 60px;

    /* center modal */
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    min-height: 330px;
    width: 490px;
    background: transparent;

    /* settings for velocity */
    opacity: 0;
}

.mc-modal.active {
    display: block;
    opacity: 1;
}
/* Banner styles for mobile users */
.mc-banner {
    visibility: hidden;

    /* Set lower than mc-modal */
    z-index: 9998;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;

    /* Fix an issue in the editor preview */
    line-height: 0;
}
/* Banner layout styles */
.bannerContent {
    padding: 18px 22px 24px;
    background-color: #fff;
}

.bannerContent__description {
    font-size: 15px;
    line-height: 20px;
    margin: 6px 0 12px;
    word-wrap: break-word;
}

.bannerContent__buttonContainer {
    height: 36px;
}

.bannerContent__subscribeButton {
    display: block;
    float: left;
    background-color: rgb(206, 158, 68);
    color: rgb(238, 238, 238);
    width: 100%;
}

.bannerContent__closeButton {
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 5px;
}

.bannerContent__closeButton::before,
.bannerContent__closeButton::after {
    content: '';
    background-color: #414141;
    position: absolute;
    left: 14px;
    height: 14px;
    top: 8px;
    width: 2px;
}

.bannerContent__closeButton::before {
    transform: rotate(45deg);
}

.bannerContent__closeButton::after {
    transform: rotate(-45deg);
}


/* Media Queries */

/* Hide modal and show optimized banner if mobile */
@media only screen and (max-width: 768px) {
    .mc-modal,
    .mc-modal-bg {
        visibility: hidden;
    }

    .mc-modal {
        /* Move the modal to the back */
        z-index: 9998;
        top: 0;
        left: 0;
        right: 0;
        width: 100% !important;
        height: 100%;
    }

    .mc-banner.active {
        visibility: visible;

        /* Move the banner to the front */
        z-index: 9999;
    }

    .mc-layout__modalContent {
        border-radius: 0;
        max-height: 100% !important;
    }

    .mc-closeModal.mc-closeModal {
        background-color: rgba(255, 255, 255, 0.8);
        box-shadow: none;
        right: 18px;
        top: 10px;
    }

    .mc-modal-website {
        /* TODO add image of a mock website */
        height: 100%;
        width: 100%;
        position: fixed;
    }
}
/* Turn off webkit default styling */
input:not([type="radio"]):not([type="checkbox"]) { -webkit-appearance: none; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }


input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

label,
input,
select,
textarea {
    font-family: "Helvetica Neue", Arial, Helvetica, Verdana, sans-serif;
    font-size: 15px;
    line-height: 18px;
    font-weight: normal;
    width: 100%;
}

label {
    color: #404040;
    font-weight: bold;
    display: block;
    padding-bottom: 6px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

label * { line-height: inherit; }

textarea {
    height: auto;
    line-height: 24px;
}

ul.radioCheckboxContainer li label { display: inline-block; }

/* Placeholder styling */
input::-webkit-input-placeholder { opacity: 1; }
input:-moz-placeholder { opacity: 1; }
input::-moz-placeholder { opacity: 1; }
input:-ms-input-placeholder { opacity: 1; }

/* Input default styles */
select,
textarea,
input[type="text"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"] {
    background-color: #ffffff;
    border: 2px solid #c9c9c9;
    border-radius: 3px;
    display: inline-block;
    min-height: 36px;
    min-width: 50px;
    padding: 0 0.4em;
    vertical-align: middle;
    width: 100%;
}
textarea:hover,
input[type="text"]:hover,
input[type="datetime"]:hover,
input[type="datetime-local"]:hover,
input[type="date"]:hover,
input[type="month"]:hover,
input[type="time"]:hover,
input[type="week"]:hover,
input[type="number"]:hover,
input[type="email"]:hover {
    border-color: #838383;
}

input[type="radio"],
input[type="checkbox"] {
    float: left;
    margin-right: 10px;
}

select {
    /*Bg sprite hosted on S3*/
    background: #ffffff url("//downloads.mailchimp.com/images/signup-forms/icons/signup-sprite.png") no-repeat right -296px;
    padding: 5px 8px;
    -webkit-appearance: none;
}

/*for IE10*/
select::-ms-expand {
    display: none;
}

/* Modal Button default styles */
.button-loading.button-loading {
    position: relative;
    background-size: 20px;
    background-position: center center;
    background-repeat: no-repeat;
    pointer-events: none;
    background-image: url("https://cdn-images.mailchimp.com/product/buttons/loader-light@2x.png");
    color: transparent;
}

.button.banner-button {
    background-color: #5a5a5a;
    border: 0 none;
    border-radius: 3px;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: "Helvetica Neue",Arial,Helvetica,Verdana,sans-serif;
    font-size: 13px;
    font-weight: 700;
    height: 36px;
    letter-spacing: 0.01em;
    line-height: 36px;
    margin-right: 0;
    overflow: hidden;
    padding: 0 18px;
    text-align: center;
    vertical-align: middle;
    white-space: normal;
}
.button:hover {
    background-color: #646060;
    color: #ffffff;
}

.link-button {
    appearance: none;
    cursor: pointer;
    background-color: transparent;
    border: none;
    text-decoration: underline;
    font-size: 11px;
    color: #241c15;
    text-align: center;
    width: 100%;
    padding: 4px 0;
    margin-top: 8px;
}

.field-wrapper {
    margin: 0 0 24px;
}

/* Validation Styles */

.field-wrapper .invalid-error {
    max-height: 200px;
}

.field-help {
    color: #959595;
}

.invalid-error {
    display: block;
    color: #db3a1b;
    max-height: 200px;
}

.valid-success {
    color: #72c1b0;
}

.field-help,
.invalid-error {
    white-space: normal;
    word-wrap: break-word;
    width: 100%;
    letter-spacing: 0.01em;
    max-width: 550px;
    font-size: 0.8125em;
    line-height: 1.38461538em;
    font-weight: 700;
    position: relative;
}

textarea.invalid,
input.invalid {
    border: 2px solid #e85c41;
}

textarea.valid,
input.valid {
    border: 2px solid #72c1b0;
}


/* Custom Styles for signup fields in popup editor */

/* Date */
.date .date-month {
    width: 45px;
}
.date .date-day {
    width: 45px;
}
.date .date-year {
    width: 60px;
}

/* Birthday */
.birthday .birthday-month {
    width: 45px;
}
.birthday .birthday-day {
    width: 45px;
}

/* Phone */
.phone .phone-area {
    width: 45px;
}
.phone .phone-detail1 {
    width: 45px;
}
.phone .phone-detail2 {
    width: 60px;
}

.field-wrapper.address .address1,
.field-wrapper.address .address2,
.field-wrapper.address .city,
.field-wrapper.address .state,
.field-wrapper.address .zip,
.field-wrapper.address .country {
    margin-bottom: 12px;
}

/* Content styles */
.content__titleDescription,
.content__footer,
.flash-block {
    /* Break any lines longer than content containers */
    word-wrap: break-word;
}

/* Flash block */
.flash-block {
    display: block;
    clear: both;
}
.flash-block a {
    display: inline-block;
    white-space: nowrap;
}
.flash-info,
.flash-errors,
.flash-success {
    padding: 24px 15px 24px 15px;
    margin: 15px 15px 24px 15px;
    border-radius: 6px;
    background-color: #ccebf3;
}
.flash-errors {
    background-color: #f8d0c8;
}
.flash-success {
    background-color: #d4ece6;
}

/* Util classes */
.clearfix {
    content: "";
    display: table;
    clear: both;
}

/* SMS step styling */
.content__smsStep,
.content__continueToSmsButton.content__continueToSmsButton {
    display: none;
}

/* Pop-up form success block */
.popup-signup-success { padding: 60px; }
.popup-signup-success h1 { font-weight: bold; }

/* GDPR */
.content__gdpr {
    margin: 0 -30px 0 -30px;
    padding: 20px 30px 0 30px;
    background: rgba(255, 255, 255, 0.9);
    color: #4a4a4a;
}

.content__gdpr p {
    font-size: 13px;
    line-height: 1.5;
    padding-bottom: 20px;
    margin-bottom: 0;
}

.content__gdprFields {
    padding-bottom: 14px;
    margin-bottom: 0;
}

.content__gdprFields label {
    font-weight: normal;
    font-size: 13px;
}

.content__gdprLegal {
    display: flex;
    margin: 0 -30px 45px -30px;
    padding: 0 30px 30px 30px;
    background: rgba(255, 255, 255, 0.9);
    overflow: auto;
}

.content__gdpr.content__gdpr *:not(a),
.content__gdprLegal.content__gdprLegal p {
    color: #6d6d6d;
}

.content__gdprLegal p {
    font-size: 10px !important;
    line-height: 1.5 !important;
    margin-bottom: 0;
}

.content__gdprLegal a {
    text-decoration: none;
    color: #206578;
}

.content__gdprLegal img {
    width: 65px;
    margin-right: 15px;
}

.content__monkeyRewards {
    clear: both;
    padding: 30px 42px;
    padding-top: 0;
    text-align: center;
}

.content__monkeyRewards a {
    display: inline-block;
    border-radius: 4px;
    width: 125px;
}

.content__monkeyRewards img {
    width: 100%;
    color: #ebebeb;
    padding: 2px 0;
}

.content__fixedBadge {
    display: none;
}

.radio-group .helpText {
    margin-bottom: 6px;
}

.strictContent {
    font-size: 16px;
}

.strictContent.s {
    font-size: 14px;
}

.strictContent.m {
    font-size: 16px;
}
.strictContent.l {
    font-size: 18px;
}

.strictContent h1 {
    font-weight: inherit;
    font-size: 3em;
    line-height: 1.25;
    margin-bottom: 12px;
}

.strictContent h2 {
    font-weight: inherit;
    font-size: 2em;
    line-height: 1.25;
    margin-bottom: 12px;
}

.strictContent h3 {
    font-weight: inherit;
    font-size: 1.5em;
    line-height: 1.4;
    margin-bottom: 12px;
}

.strictContent h4 {
    font-weight: inherit;
    font-size: 1.25em;
    line-height: 1.4;
    margin-bottom: 12px;
}

.strictContent p {
    font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
    font-size: 1em;
    line-height: 1.4;
    margin-bottom: 0;
    color: rgb(74, 74, 74);
}

.strictContent p:empty::after {
    content: "\00a0";
}

.strictContent p.small-text,
.strictContent .helpText {
    font-size: 0.85em;
    line-height: 1.4;
}

.strictContent label {
    font-size: 1em;
}

.strictContent .button {
    font-size: 1em;
}

.strictContent ul.radioCheckboxContainer li label {
    font-weight: normal;
}

.modalContent {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 490px;
    overflow: hidden;
    background-color: #ffffff;
}

/* SMS functionality */
.smsLegal {
    margin-top: 12px;
    margin-bottom: 20px;
    font-size: 12px;
}
.smsLegal div {
    line-height: 1.4;
}

/* Tap to text functionality */
.content__tttContainer {
    display: none;
}

.content_tttLegal {
    text-align: center;
    font-size: 12px;
    color: #403b3b;
    margin-bottom: 16px;
}

.content_tttSubmitButton {
    text-decoration: none;
}

.content__tttOptOut {
    font-size: 9px;
}
.modalContent {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 490px;
    overflow: hidden;
}
.modalContent__image {
    position: absolute;
    top: 0;
    display: block;
    clear: both;
    min-height: 200px;
    width: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
.modalContent__content {
    clear: both;
    width: 100%;
    padding: 200px 30px 30px;
    margin-left: auto;
    margin-right: auto;
}
.content__titleDescription {
    margin-top: 30px;
}
.content__button {
    margin-bottom: 20px;
    height: 36px;
}

.content__formFields {
    margin-top: 20px;
}

/* Mobile Styles via .modalContent--mobile */

.modalContent--mobile {
    width: 100%;
}

.modalContent--mobile .modalContent__content {
    padding: 200px 22px 22px 22px;
}

/* Mobile GDPR */
.modalContent--mobile .content__gdpr,
.modalContent--mobile .content__gdprLegal {
    margin-left: -22px;
    margin-right: -22px;
    padding-left: 22px;
}

.modalContent--mobile .content__gdprLegal img {
    float: none;
    display: block;
    margin: 0 auto 20px auto;
}
