.app-counter {
    align-items:stretch;
    display:flex;
    flex-direction:column-reverse;
    justify-content:center
}
.app-counter .app-counter-number {
    flex-grow:var(--counter-number-grow,0)
}
.app-counter .app-counter-number-wrapper {
    display:flex;
    flex:1;
    font-size:69px;
    font-weight:600;
    line-height:1;
    text-align:center
}
.app-counter .app-counter-number-prefix {
    flex-grow:var(--counter-prefix-grow,1);
    text-align:end;
    white-space:pre-wrap
}
.app-counter .app-counter-number-suffix {
    flex-grow:var(--counter-suffix-grow,1);
    text-align:start;
    white-space:pre-wrap
}
.app-counter .app-counter-title {
    align-items:center;
    display:flex;
    flex:1;
    font-size:19px;
    font-weight:400;
    justify-content:center;
    line-height:2.5;
    margin:0;
    padding:0
}
