@import "reset.css";
@import "widget-styles.css";
@import "app-package.css";
@import "metaform.css";
@import "app-kit-3.css";
@import "frontend.css";
@import "../pages/css/home.css";
@import "app-metform.css";

.app-header .app-element.app-element-subheader {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --justify-content: center;
    --gap: 7px 5px;
    --row-gap: 7px;
    --column-gap: 5px;
    --flex-wrap: nowrap;
    --padding-top: 10px;
    --padding-bottom: 10px;
    --padding-left: 30px;
    --padding-right: 30px;
    --z-index: 94;
}
.app-widget-image .widget-image-caption {
    color: var( --global-color-text );
    font-family: var( --global-typography-text-font-family ),  sans-serif;
    font-size: var( --global-typography-text-font-size );
    font-weight: var( --global-typography-text-font-weight );
    text-transform: var( --global-typography-text-text-transform );
    font-style: var( --global-typography-text-font-style );
    text-decoration: var( --global-typography-text-text-decoration );
    line-height: var( --global-typography-text-line-height );
    letter-spacing: var( --global-typography-text-letter-spacing );
}
.app-header .app-element.app-element-subheader:not(.app-motion-effects-element-type-background),
.app-header .app-element.app-element-subheader > .app-motion-effects-container > .app-motion-effects-layer {
    background-color: var( --global-color-accent );
}
.app-header .app-element.app-element-subheader-text > .app-widget-container {
    margin: -4px 0 -17px 0;
}
.app-header .app-element.app-element-subheader-text {
    font-family: var( --global-typography-2eec24c-font-family ),  sans-serif;
    font-size: var( --global-typography-2eec24c-font-size );
    font-weight: var( --global-typography-2eec24c-font-weight );
    text-transform: var( --global-typography-2eec24c-text-transform );
    font-style: var( --global-typography-2eec24c-font-style );
    text-decoration: var( --global-typography-2eec24c-text-decoration );
    line-height: var( --global-typography-2eec24c-line-height );
    letter-spacing: var( --global-typography-2eec24c-letter-spacing );
    color: #FFFFFF;
}
.app-header .app-element.app-element-subheader-button .app-button {
    background-color: #FE6F6200;
    font-family: var( --global-typography-2eec24c-font-family ),  sans-serif;
    font-size: var( --global-typography-2eec24c-font-size );
    font-weight: var( --global-typography-2eec24c-font-weight );
    text-transform: var( --global-typography-2eec24c-text-transform );
    font-style: var( --global-typography-2eec24c-font-style );
    text-decoration: var( --global-typography-2eec24c-text-decoration );
    line-height: var( --global-typography-2eec24c-line-height );
    letter-spacing: var( --global-typography-2eec24c-letter-spacing );
    fill: #FFFFFF;
    color: #FFFFFF;
    border-style: solid;
    border-width: 0;
    border-color: #2A1A1330;
    border-radius: 0;
    padding: 0;
}
.app-header .app-element.app-element-subheader-button .app-button:hover,
.app-header .app-element.app-element-subheader-button .app-button:focus {
    background-color: #68382600;
    color: #CAC0BB;
    border-color: #683826C9;
}
.app-header .app-element.app-element-subheader-button > .app-widget-container {
    margin: -8px 0 -5px 0;
}
.app-header .app-element.app-element-subheader-button.app-element {
    --align-self: center;
}
.app-header .app-element.app-element-subheader-button .app-button:hover svg,
.app-header .app-element.app-element-subheader-button .app-button:focus svg {
    fill: #CAC0BB;
}
.app-header .app-element.app-element-navbar {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --gap: 0 0;
    --row-gap: 0;
    --column-gap: 0;
    --flex-wrap: wrap;
    --margin-top: 0;
    --margin-bottom: 0;
    --margin-left: 0;
    --margin-right: 0;
    --padding-top: 20px;
    --padding-bottom: 20px;
    --padding-left: 30px;
    --padding-right: 30px;
    --z-index: 95;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.05),inset 0 -1px 0 rgba(0,0,0,.1);
    background-color: rgba(240, 237, 225, 0.9);
    /*backdrop-filter: blur(10px);position fixed doesnt work with it*/
}

@media (min-width: 768px) {
    .app-header {
        position: sticky;
        top: 0;
        z-index: 75;
    }
}

.app-header .app-element.app-element-navbar-menu {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --justify-content: center;
    --padding-top: 0;
    --padding-bottom: 0;
    --padding-left: 0;
    --padding-right: 0;
}
.app-header .app-element.app-element-navbar-menu-wrapper .appkit-navbar-nav .appkit-submenu-panel > li > a:hover,
.app-header .app-element.app-element-navbar-menu-wrapper .appkit-navbar-nav .appkit-submenu-panel > li > a:focus,
.app-header .app-element.app-element-navbar-menu-wrapper .appkit-navbar-nav .appkit-submenu-panel > li > a:active,
.app-header .app-element.app-element-navbar-menu-wrapper .appkit-navbar-nav .appkit-submenu-panel > li:hover > a {
    background-color: #E9E5D7;/*#FDE3A700;*/
}
.app-header .app-element.app-element-navbar-menu-wrapper .appkit-navbar-nav .appkit-submenu-panel {
    background-color: #FCFBF7;
    border-style: solid;
    border-width: 0;
    border-color: #12131710;
    border-radius: 7px;
    min-width: 200px;
    box-shadow: 4px 4px 15px 0 rgba(0,  0,  0,  0);
}
.app-header .app-element.app-element-navbar-menu-wrapper .appkit-menu-hamburger {
    background-color: #2A1A1300;
    float: right;
    border-style: solid;
    border-color: #02010100;
}
.app-header .app-element.app-element-navbar-menu-wrapper .appkit-menu-close {
    background-color: #FFFFFF00;
    font-family: var( --global-typography-accent-font-family ),  sans-serif;
    font-size: var( --global-typography-accent-font-size );
    font-weight: var( --global-typography-accent-font-weight );
    text-transform: var( --global-typography-accent-text-transform );
    font-style: var( --global-typography-accent-font-style );
    text-decoration: var( --global-typography-accent-text-decoration );
    letter-spacing: var( --global-typography-accent-letter-spacing );
    border-style: solid;
    border-color: #02010100;
    color: var( --global-color-accent );
}
.app-header .app-element.app-element-navbar-menu-wrapper .appkit-menu-close:hover {
    background-color: #02010100;
    color: var( --global-color-primary );
}
.app-header .app-element.app-element-navbar-menu-wrapper > .app-widget-container {
    margin: -15px 0 -15px 0;
}
.app-header .app-element.app-element-navbar-menu-wrapper {
    z-index: 98;
}
.app-header .app-element.app-element-navbar-menu-wrapper .appkit-menu-container {
    height: 60px;
    border-radius: 0;
}
.app-header .app-element.app-element-navbar-menu-wrapper .appkit-navbar-nav > li > a {
    font-family: var( --global-typography-658dc5b-font-family ),  sans-serif;
    font-size: var( --global-typography-658dc5b-font-size );
    font-weight: var( --global-typography-658dc5b-font-weight );
    text-transform: var( --global-typography-658dc5b-text-transform );
    font-style: var( --global-typography-658dc5b-font-style );
    text-decoration: var( --global-typography-658dc5b-text-decoration );
    line-height: var( --global-typography-658dc5b-line-height );
    letter-spacing: var( --global-typography-658dc5b-letter-spacing );
    color: #2A1A1387;
    padding: 0 40px 0 0;
}
.app-header .app-element.app-element-navbar-menu-wrapper .appkit-navbar-nav > li > a:hover {
    color: var( --global-color-primary );
}
.app-header .app-element.app-element-navbar-menu-wrapper .appkit-navbar-nav > li > a:focus {
    color: var( --global-color-primary );
}
.app-header .app-element.app-element-navbar-menu-wrapper .appkit-navbar-nav > li > a:active {
    color: var( --global-color-primary );
}
.app-header .app-element.app-element-navbar-menu-wrapper .appkit-navbar-nav > li:hover > a {
    color: var( --global-color-primary );
}
.app-header .app-element.app-element-navbar-menu-wrapper .appkit-navbar-nav > li:hover > a .appkit-submenu-indicator {
    color: var( --global-color-primary );
}
.app-header .app-element.app-element-navbar-menu-wrapper .appkit-navbar-nav > li > a:hover .appkit-submenu-indicator {
    color: var( --global-color-primary );
}
.app-header .app-element.app-element-navbar-menu-wrapper .appkit-navbar-nav > li > a:focus .appkit-submenu-indicator {
    color: var( --global-color-primary );
}
.app-header .app-element.app-element-navbar-menu-wrapper .appkit-navbar-nav > li > a:active .appkit-submenu-indicator {
    color: var( --global-color-primary );
}
.app-header .app-element.app-element-navbar-menu-wrapper .appkit-navbar-nav > li.current-menu-item > a {
    color: var( --global-color-primary );
}
.app-header .app-element.app-element-navbar-menu-wrapper .appkit-navbar-nav > li.current-menu-ancestor > a {
    color: var( --global-color-primary );
}
.app-header .app-element.app-element-navbar-menu-wrapper .appkit-navbar-nav > li.current-menu-ancestor > a .appkit-submenu-indicator {
    color: var( --global-color-primary );
}
.app-header .app-element.app-element-navbar-menu-wrapper .appkit-navbar-nav > li > a .appkit-submenu-indicator {
    font-size: 10px;
    color: #2A1A1387;
    fill: #2A1A1387;
}
.app-header .app-element.app-element-navbar-menu-wrapper .appkit-navbar-nav > li > a .akit-submenu-indicator-icon {
    font-size: 10px;
    color: #2A1A1387;
    fill: #2A1A1387;
}
.app-header .app-element.app-element-navbar-menu-wrapper .appkit-navbar-nav-default .appkit-dropdown-has>a .appkit-submenu-indicator {
    margin: -1px 0 0 8px;
}
.app-header .app-element.app-element-navbar-menu-wrapper .appkit-navbar-nav-default .appkit-dropdown-has>a .akit-submenu-indicator-icon {
    margin: -1px 0 0 8px;
}
.app-header .app-element.app-element-navbar-menu-wrapper .appkit-navbar-nav .appkit-submenu-panel > li > a {
    font-family: var( --global-typography-2eec24c-font-family ),  sans-serif;
    font-size: var( --global-typography-2eec24c-font-size );
    font-weight: var( --global-typography-2eec24c-font-weight );
    text-transform: var( --global-typography-2eec24c-text-transform );
    font-style: var( --global-typography-2eec24c-font-style );
    text-decoration: var( --global-typography-2eec24c-text-decoration );
    line-height: var( --global-typography-2eec24c-line-height );
    letter-spacing: var( --global-typography-2eec24c-letter-spacing );
    padding: 6px 15px 6px 12px;
    color: var( --global-color-text );
    border-style: solid;
    border-width: 0;
    border-color: #02010100;
}
.app-header .app-element.app-element-navbar-menu-wrapper .appkit-navbar-nav .appkit-submenu-panel > li > a:hover {
    color: var( --global-color-primary );
}
.app-header .app-element.app-element-navbar-menu-wrapper .appkit-navbar-nav .appkit-submenu-panel > li > a:focus {
    color: var( --global-color-primary );
}
.app-header .app-element.app-element-navbar-menu-wrapper .appkit-navbar-nav .appkit-submenu-panel > li > a:active {
    color: var( --global-color-primary );
}
.app-header .app-element.app-element-navbar-menu-wrapper .appkit-navbar-nav .appkit-submenu-panel > li:hover > a {
    color: var( --global-color-primary );
}
.app-header .app-element.app-element-navbar-menu-wrapper .appkit-navbar-nav .appkit-submenu-panel > li.current-menu-item > a {
    color: var( --global-color-primary );
}
.app-header .app-element.app-element-navbar-menu-wrapper .appkit-navbar-nav .appkit-submenu-panel > li:last-child > a {
    border-style: solid;
    border-width: 0;
    border-color: #02010100;
}
.app-header .app-element.app-element-navbar-menu-wrapper .appkit-navbar-nav .appkit-submenu-panel > li:first-child > a {
    border-style: solid;
    border-width: 0;
    border-color: #02010100;
}
.app-header .app-element.app-element-navbar-menu-wrapper .appkit-submenu-panel {
    padding: 20px 0;
}
.app-header .app-element.app-element-navbar-menu-wrapper .appkit-menu-hamburger .appkit-menu-hamburger-icon {
    background-color: var( --global-color-primary );
}
.app-header .app-element.app-element-navbar-menu-wrapper .appkit-menu-hamburger > .akit-menu-icon {
    color: var( --global-color-primary );
}
.app-header .app-element.app-element-navbar-menu-wrapper .appkit-menu-hamburger:hover .appkit-menu-hamburger-icon {
    background-color: var( --global-color-accent );
}
.app-header .app-element.app-element-navbar-menu-wrapper .appkit-menu-hamburger:hover > .akit-menu-icon {
    color: var( --global-color-accent );
}
.app-header .app-element.app-element-header-logo {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --justify-content: center;
    --padding-top: 0;
    --padding-bottom: 0;
    --padding-left: 0;
    --padding-right: 0;
}
.app-header .app-element.app-element-header-logo-image > .app-widget-container {
    margin: -2px 0 0 0;
    border-style: solid;
    border-width: 0 0 0 0;
    border-color: #FFFFFF63;
}
.app-header .app-element.app-element-header-logo-image {
    text-align: center;
}
.app-header .app-element.app-element-header-logo-image img {
    width: 105px;
}
.app-header .app-element.app-element-header-buttons {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --justify-content: flex-end;
    --align-items: center;
    --padding-top: 0;
    --padding-bottom: 0;
    --padding-left: 0;
    --padding-right: 0;
}
.app-header .app-element.app-element-header-contactus-button .app-button {
    background-color: #FE6F6200;
    font-family: var( --global-typography-accent-font-family ),  sans-serif;
    font-size: var( --global-typography-accent-font-size );
    font-weight: var( --global-typography-accent-font-weight );
    text-transform: var( --global-typography-accent-text-transform );
    font-style: var( --global-typography-accent-font-style );
    text-decoration: var( --global-typography-accent-text-decoration );
    letter-spacing: var( --global-typography-accent-letter-spacing );
    fill: var( --global-color-primary );
    color: var( --global-color-primary );
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: #2A1A1330;
    border-radius: 0;
    padding: 0 0 4px 0;
}
.app-header .app-element.app-element-header-contactus-button .app-button:hover,
.app-header .app-element.app-element-header-contactus-button .app-button:focus {
    background-color: #68382600;
    color: var( --global-color-primary );
    border-color: #683826C9;
}
.app-header .app-element.app-element-header-contactus-button > .app-widget-container {
    margin: -5px 5px 0 0;
}
.app-header .app-element.app-element-header-contactus-button .app-button:hover svg,  .app-header .app-element.app-element-header-contactus-button .app-button:focus svg {
    fill: var( --global-color-primary );
}
.app-header .app-element.app-element-header-book-button .app-button {
    background-color: var( --global-color-primary );
    font-family: var( --global-typography-accent-font-family ),  sans-serif;
    font-size: var( --global-typography-accent-font-size );
    font-weight: var( --global-typography-accent-font-weight );
    text-transform: var( --global-typography-accent-text-transform );
    font-style: var( --global-typography-accent-font-style );
    text-decoration: var( --global-typography-accent-text-decoration );
    letter-spacing: var( --global-typography-accent-letter-spacing );
    fill: var( --global-color-2d8c8bd );
    color: var( --global-color-2d8c8bd );
    border-style: solid;
    border-width: 0;
    border-color: var( --global-color-accent );
    border-radius: 6px;
    padding: 14px 26px 14px 26px;
}
.app-header .app-element.app-element-header-book-button .app-button:hover,
.app-header .app-element.app-element-header-book-button .app-button:focus {
    background-color: var( --global-color-secondary );
    color: #FFFFFF;
}
.app-header .app-element.app-element-header-book-button .app-button:hover svg,
.app-header .app-element.app-element-header-book-button .app-button:focus svg {
    fill: #FFFFFF;
}
/*============================ Footer =========================== */
.app-footer .app-element.app-element-footer-main {
    --display:flex;
    --flex-direction:row;
    --container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );
    --container-widget-height:100%;
    --container-widget-flex-grow:1;
    --container-widget-align-self:stretch;
    --flex-wrap-mobile:wrap;
    --align-items:stretch;
    --gap:10px 10px;
    --row-gap:10px;
    --column-gap:10px;
    --padding-top:100px;
    --padding-bottom:0;
    --padding-left:0;
    --padding-right:0;
}
.app-footer .app-element.app-element-footer-main:not(.app-motion-effects-element-type-background),
.app-footer .app-element.app-element-footer-main > .app-motion-effects-container > .app-motion-effects-layer {
    background-color:#20140E;
}
.app-footer .app-element.app-element-footer-main-content {
    --display:flex;
    --padding-top:0;
    --padding-bottom:0;
    --padding-left:0;
    --padding-right:0;
}
.app-footer .app-element.app-element-footer-main-content-header {
    --display:flex;
    --flex-direction:row;
    --container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );
    --container-widget-height:100%;
    --container-widget-flex-grow:1;
    --container-widget-align-self:stretch;
    --flex-wrap-mobile:wrap;
    --justify-content:center;
    --align-items:stretch;
    --gap:20px 20px;
    --row-gap:20px;
    --column-gap:20px;
    --flex-wrap:wrap;
    --border-style:solid;
    --border-top-width:0px;
    --border-right-width:0px;
    --border-bottom-width:1px;
    --border-left-width:0;
    --border-color:#F9F4EE30;
    --padding-top:0;
    --padding-bottom:70px;
    --padding-left:0;
    --padding-right:0;
    border-style:solid;
    border-width:0 0 1px 0;
    border-color:#F9F4EE30;
}
.app-footer .app-element.app-element-footer-main-logo {
    width:100%;
    max-width:100%;
    text-align:center;
}
.app-footer .app-element.app-element-footer-main-logo img {
    width:14%;
}
.app-footer .app-element.app-element-footer-main-text {
    width:100%;
    max-width:100%;
    text-align:center;
    color:#FFFFFFC7;
}
.app-footer .app-element.app-element-footer-main-text > .app-widget-container {
    margin:0 400px;
}
.app-footer .app-element.app-element-footer-main-icon-list .app-icon-list-items:not(.app-inline-items) .app-icon-list-item:not(:last-child) {
    padding-bottom:calc(45px/2);
}
.app-footer .app-element.app-element-footer-main-icon-list .app-icon-list-items:not(.app-inline-items) .app-icon-list-item:not(:first-child) {
    margin-top:calc(45px/2);
}
.app-footer .app-element.app-element-footer-main-icon-list .app-icon-list-items.app-inline-items .app-icon-list-item {
    margin-right:calc(45px/2);
    margin-left:calc(45px/2);
}
.app-footer .app-element.app-element-footer-main-icon-list .app-icon-list-items.app-inline-items {
    margin-right:calc(-45px/2);
    margin-left:calc(-45px/2);
}
body.rtl .app-footer .app-element.app-element-footer-main-icon-list .app-icon-list-items.app-inline-items .app-icon-list-item:after {
    left:calc(-45px/2);
}
body:not(.rtl) .app-footer .app-element.app-element-footer-main-icon-list .app-icon-list-items.app-inline-items .app-icon-list-item:after {
    right:calc(-45px/2);
}
.app-footer .app-element.app-element-footer-main-icon-list .app-icon-list-icon i {
    transition:color 0.3s;
}
.app-footer .app-element.app-element-footer-main-icon-list .app-icon-list-icon svg {
    transition:fill 0.3s;
}
.app-footer .app-element.app-element-footer-main-icon-list {
    --icon-list-icon-size:14px;
    --icon-vertical-offset:0;
}
.app-footer .app-element.app-element-footer-main-icon-list .app-icon-list-item > .app-icon-list-text,
.app-footer .app-element.app-element-footer-main-icon-list .app-icon-list-item > a {
    font-family:var( --global-typography-accent-font-family ), sans-serif;
    font-size:var( --global-typography-accent-font-size );
    font-weight:var( --global-typography-accent-font-weight );
    text-transform:var( --global-typography-accent-text-transform );
    font-style:var( --global-typography-accent-font-style );
    text-decoration:var( --global-typography-accent-text-decoration );
    letter-spacing:var( --global-typography-accent-letter-spacing );
}
.app-footer .app-element.app-element-footer-main-icon-list .app-icon-list-text {
    color:var( --global-color-2d8c8bd );
    transition:color 0.3s;
}
.app-footer .app-element.app-element-footer-main-icon-list .app-icon-list-item:hover .app-icon-list-text {
    color:#AAA591;
}
.app-footer .app-element.app-element-footer-main-info {
    --display:flex;
    --flex-direction:row;
    --container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );
    --container-widget-height:100%;
    --container-widget-flex-grow:1;
    --container-widget-align-self:stretch;
    --flex-wrap-mobile:wrap;
    --align-items:stretch;
    --gap:60px 60px;
    --row-gap:60px;
    --column-gap:60px;
    --border-style:solid;
    --border-top-width:0px;
    --border-right-width:0px;
    --border-bottom-width:1px;
    --border-left-width:0px;
    --border-color:#F9F4EE30;
    --padding-top:70px;
    --padding-bottom:70px;
    --padding-left:0;
    --padding-right:0;
    border-width:0 0 1px 0;
    border-style:solid;
    border-color:#F9F4EE30;
}
.app-footer .app-element.app-element-footer-main-info-address {
    --display:flex;
    --margin-top:0;
    --margin-bottom:0;
    --margin-left:0;
    --margin-right:0;
    --padding-top:0;
    --padding-bottom:0;
    --padding-left:0;
    --padding-right:0;
}
.app-footer .app-element.app-element-footer-main-heading > .app-widget-container {
    margin:0 0 -5px 0;
}
.app-footer .app-element.app-element-footer-main-heading .app-heading-title {
    font-family:var( --global-typography-101-font-family ), sans-serif;
    font-size:var( --global-typography-101-font-size );
    font-weight:var( --global-typography-101-font-weight );
    text-transform:var( --global-typography-101-text-transform );
    font-style:var( --global-typography-101-font-style );
    text-decoration:var( --global-typography-101-text-decoration );
    line-height:var( --global-typography-101-line-height );
    letter-spacing:var( --global-typography-101-letter-spacing );
    color:#FFFFFF;
}
.app-footer .app-element.app-element-footer-main-address-icon-list > .app-widget-container {
    margin:0 0 5px 0;
}
.app-footer .app-element.app-element-footer-main-address-icon-list .app-icon-list-icon i {
    transition:color 0.3s;
}
.app-footer .app-element.app-element-footer-main-address-icon-list .app-icon-list-icon svg {
    transition:fill 0.3s;
}
.app-footer .app-element.app-element-footer-main-address-icon-list {
    --icon-list-icon-size:14px;
    --icon-vertical-offset:0px;
}
.app-footer .app-element.app-element-footer-main-address-icon-list .app-icon-list-item > .app-icon-list-text,
.app-footer .app-element.app-element-footer-main-address-icon-list .app-icon-list-item > a {
    font-family:var( --global-typography-text-font-family ), sans-serif;
    font-size:var( --global-typography-text-font-size );
    font-weight:var( --global-typography-text-font-weight );
    text-transform:var( --global-typography-text-text-transform );
    font-style:var( --global-typography-text-font-style );
    text-decoration:var( --global-typography-text-text-decoration );
    line-height:var( --global-typography-text-line-height );
    letter-spacing:var( --global-typography-text-letter-spacing );
}
.app-footer .app-element.app-element-footer-main-address-icon-list .app-icon-list-text {
    color:#FFFFFFC7;
    transition:color 0.3s;
}
.app-footer .app-element.app-element-footer-main-address-icon-list .app-icon-list-item:hover .app-icon-list-text {
    color:var( --global-color-2d8c8bd );
}
.app-footer .app-element.app-element-footer-main-social-icons {
    --grid-template-columns:repeat(0, auto);
    --icon-size:14px;
    --grid-column-gap:7px;
    --grid-row-gap:0;
}
.app-footer .app-element.app-element-footer-main-social-icons .app-widget-container {
    text-align:left;
}
.app-footer .app-element.app-element-footer-main-social-icons .app-social-icon {
    background-color:var( --global-color-2d8c8bd );
    --icon-padding:0.7em;
    border-style:solid;
    border-width:0;
    border-color:#F9F4EE30;
}
.app-footer .app-element.app-element-footer-main-social-icons .app-social-icon i {
    color:var( --global-color-accent );
}
.app-footer .app-element.app-element-footer-main-social-icons .app-social-icon svg {
    fill:var( --global-color-accent );
}
.app-footer .app-element.app-element-footer-main-social-icons .app-social-icon:hover {
    background-color:var( --global-color-8c75c4b );
}
.app-footer .app-element.app-element-footer-main-social-icons .app-social-icon:hover i {
    color:var( --global-color-primary );
}
.app-footer .app-element.app-element-footer-main-social-icons .app-social-icon:hover svg {
    fill:var( --global-color-primary );
}
.app-footer .app-element.app-element-footer-main-contact {
    --display:flex;
    --margin-top:0;
    --margin-bottom:0;
    --margin-left:0;
    --margin-right:0;
    --padding-top:0;
    --padding-bottom:0;
    --padding-left:0;
    --padding-right:0;
}
.app-footer .app-element.app-element-footer-main-contact-icon-list > .app-widget-container {
    margin:0;
}
.app-footer .app-element.app-element-footer-main-contact-icon-list .app-icon-list-icon i {
    transition:color 0.3s;
}
.app-footer .app-element.app-element-footer-main-contact-icon-list .app-icon-list-icon svg {
    transition:fill 0.3s;
}
.app-footer .app-element.app-element-footer-main-contact-icon-list {
    --icon-list-icon-size:14px;
    --icon-vertical-offset:0;
}
.app-footer .app-element.app-element-footer-main-contact-icon-list .app-icon-list-item > .app-icon-list-text,
.app-footer .app-element.app-element-footer-main-contact-icon-list .app-icon-list-item > a {
    font-family:var( --global-typography-text-font-family ), sans-serif;
    font-size:var( --global-typography-text-font-size );
    font-weight:var( --global-typography-text-font-weight );
    text-transform:var( --global-typography-text-text-transform );
    font-style:var( --global-typography-text-font-style );
    text-decoration:var( --global-typography-text-text-decoration );
    line-height:var( --global-typography-text-line-height );
    letter-spacing:var( --global-typography-text-letter-spacing );
}
.app-footer .app-element.app-element-footer-main-contact-icon-list .app-icon-list-text {
    color:#FFFFFFC7;
    transition:color 0.3s;
}
.app-footer .app-element.app-element-footer-main-contact-icon-list .app-icon-list-item:hover .app-icon-list-text {
    color:var( --global-color-2d8c8bd );
}
.app-footer .app-element.app-element-footer-main-subscribe {
    --display:flex;
    --margin-top:0;
    --margin-bottom:0;
    --margin-left:0;
    --margin-right:0;
    --padding-top:0;
    --padding-bottom:0;
    --padding-left:0;
    --padding-right:0;
}
.app-footer .app-element.app-element-footer-main-subscribe-text > .app-widget-container {
    margin:0 0 -15px 0;
}
.app-footer .app-element.app-element-footer-main-subscribe-text {
    font-family:var( --global-typography-text-font-family ), sans-serif;
    font-size:var( --global-typography-text-font-size );
    font-weight:var( --global-typography-text-font-weight );
    text-transform:var( --global-typography-text-text-transform );
    font-style:var( --global-typography-text-font-style );
    text-decoration:var( --global-typography-text-text-decoration );
    line-height:var( --global-typography-text-line-height );
    letter-spacing:var( --global-typography-text-letter-spacing );
    color:#FFFFFFC7;
}
.app-footer .app-element.app-element-footer-main-subscribe-form > .app-widget-container {
    margin:0;
}
.app-footer .app-element.app-element-footer-secondary {
    --display:flex;
    --flex-direction:row;
    --container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );
    --container-widget-height:100%;
    --container-widget-flex-grow:1;
    --container-widget-align-self:stretch;
    --flex-wrap-mobile:wrap;
    --align-items:stretch;
    --gap:10px 10px;
    --row-gap:10px;
    --column-gap:10px;
    --border-style:solid;
    --border-top-width:0;
    --border-right-width:0;
    --border-bottom-width:0;
    --border-left-width:0;
    --border-color:#E2E5F133;
    --padding-top:30px;
    --padding-bottom:30px;
    --padding-left:0;
    --padding-right:0;
    border-width:0;
    border-style:solid;
    border-color:#E2E5F133;
}
.app-footer .app-element.app-element-footer-secondary:not(.app-motion-effects-element-type-background),
.app-footer .app-element.app-element-footer-secondary > .app-motion-effects-container > .app-motion-effects-layer {
    background-color:#20140E;
}
.app-footer .app-element.app-element-footer-secondary-copyright {
    --display:flex;
    --justify-content:center;
    --padding-top:0;
    --padding-bottom:0;
    --padding-left:0;
    --padding-right:0;
}
.app-footer .app-element.app-element-footer-secondary-copyright-text > .app-widget-container {
    margin:0px 0px -15px 0px;
}
.app-footer .app-element.app-element-footer-secondary-copyright-text {
    text-align:left;
    font-family:var( --global-typography-2eec24c-font-family ), sans-serif;
    font-size:var( --global-typography-2eec24c-font-size );
    font-weight:var( --global-typography-2eec24c-font-weight );
    text-transform:var( --global-typography-2eec24c-text-transform );
    font-style:var( --global-typography-2eec24c-font-style );
    text-decoration:var( --global-typography-2eec24c-text-decoration );
    line-height:var( --global-typography-2eec24c-line-height );
    letter-spacing:var( --global-typography-2eec24c-letter-spacing );
    color:#FFFFFF;
}
.app-footer .app-element.app-element-footer-secondary-terms {
    --display:flex;
    --flex-direction:row;
    --container-widget-width:initial;
    --container-widget-height:100%;
    --container-widget-flex-grow:1;
    --container-widget-align-self:stretch;
    --flex-wrap-mobile:wrap;
    --justify-content:flex-end;
    --gap:0;
    --row-gap:0;
    --column-gap:0;
    --padding-top:0;
    --padding-bottom:0;
    --padding-left:0;
    --padding-right:0;
}
.app-footer .app-element.app-element-footer-secondary-button .app-button {
    background-color:transparent;
    font-family:var( --global-typography-2eec24c-font-family ), sans-serif;
    font-size:var( --global-typography-2eec24c-font-size );
    font-weight:var( --global-typography-2eec24c-font-weight );
    text-transform:var( --global-typography-2eec24c-text-transform );
    font-style:var( --global-typography-2eec24c-font-style );
    text-decoration:var( --global-typography-2eec24c-text-decoration );
    line-height:var( --global-typography-2eec24c-line-height );
    letter-spacing:var( --global-typography-2eec24c-letter-spacing );
    fill:#FFFFFF;
    color:#FFFFFF;
    background-image:linear-gradient(180deg, #0A6CFF00 0%, #F2295B00 100%);
    border-style:solid;
    border-width:0;
    border-radius:0;
    padding:0;
}
.app-footer .app-element.app-element-footer-secondary-button {
    width:auto;
    max-width:100%;
}
.app-footer .app-element.app-element-footer-secondary-button.btn-privacy-police > .app-widget-container {
    margin:-2px 30px 0 0;
}
.app-footer .app-element.app-element-footer-secondary-button.btn-terms-services > .app-widget-container {
    margin:-2px 0 0 0;
}
/* =========================================== Mobile ================================== */
@media (max-width: 1024px) {

    .app-widget-image .widget-image-caption {
        font-size: var( --global-typography-text-font-size );
        line-height: var( --global-typography-text-line-height );
        letter-spacing: var( --global-typography-text-letter-spacing );
    }
    .app-header .app-element.app-element-subheader {
        --padding-top: 10px;
        --padding-bottom: 10px;
        --padding-left: 30px;
        --padding-right: 30px;
    }
    .app-header .app-element.app-element-subheader-text {
        font-size: var( --global-typography-2eec24c-font-size );
        line-height: var( --global-typography-2eec24c-line-height );
        letter-spacing: var( --global-typography-2eec24c-letter-spacing );
    }
    .app-header .app-element.app-element-subheader-button .app-button {
        font-size: var( --global-typography-2eec24c-font-size );
        line-height: var( --global-typography-2eec24c-line-height );
        letter-spacing: var( --global-typography-2eec24c-letter-spacing );
    }
    .app-header .app-element.app-element-navbar {
        --margin-top: 0;
        --margin-bottom: 0;
        --margin-left: 0;
        --margin-right: 0;
        --padding-top: 20px;
        --padding-bottom: 20px;
        --padding-left: 20px;
        --padding-right: 20px;
    }
    .app-header .app-element.app-element-navbar-menu.app-con {
        --order: 99999 /* order end hack */;
    }
    .app-header .app-element.app-element-navbar-menu-wrapper > .app-widget-container {
        margin: 3px -9px 0 0;
        padding: 0;
    }
    .app-header .app-element.app-element-navbar-menu-wrapper .appkit-menu-container {
        background-color: #FCFBF7;
        max-width: 350px;
        border-radius: 0;
    }
    .app-header .app-element.app-element-navbar-menu-wrapper .appkit-nav-identity-panel {
        padding: 10px 0 10px 0;
    }
    .app-header .app-element.app-element-navbar-menu-wrapper .appkit-navbar-nav > li > a {
        font-size: var( --global-typography-658dc5b-font-size );
        line-height: var( --global-typography-658dc5b-line-height );
        letter-spacing: var( --global-typography-658dc5b-letter-spacing );
        padding: 8px 15px 8px 30px;
    }
    .app-header .app-element.app-element-navbar-menu-wrapper .appkit-navbar-nav-default .appkit-dropdown-has>a .appkit-submenu-indicator {
        margin-left: auto;
    }
    .app-header .app-element.app-element-navbar-menu-wrapper .appkit-navbar-nav-default .appkit-dropdown-has>a .akit-submenu-indicator-icon {
        margin-left: auto;
    }
    .app-header .app-element.app-element-navbar-menu-wrapper .appkit-navbar-nav .appkit-submenu-panel > li > a {
        font-size: var( --global-typography-2eec24c-font-size );
        line-height: var( --global-typography-2eec24c-line-height );
        letter-spacing: var( --global-typography-2eec24c-letter-spacing );
        padding: 5px 15px;
        border-width: 0;
    }
    .app-header .app-element.app-element-navbar-menu-wrapper .appkit-navbar-nav .appkit-submenu-panel > li:last-child > a {
        border-width: 0;
    }
    .app-header .app-element.app-element-navbar-menu-wrapper .appkit-navbar-nav .appkit-submenu-panel > li:first-child > a {
        border-width: 0;
    }
    .app-header .app-element.app-element-navbar-menu-wrapper .appkit-submenu-panel {
        padding: 10px 0 10px 30px;
    }
    .app-header .app-element.app-element-navbar-menu-wrapper .appkit-navbar-nav .appkit-submenu-panel {
        border-width: 0;
        border-radius: 0;
    }
    .app-header .app-element.app-element-navbar-menu-wrapper .appkit-menu-hamburger {
        float: right;
        padding: 0;
        width: 45px;
        border-radius: 3px;
        border-width: 0;
    }
    .app-header .app-element.app-element-navbar-menu-wrapper .appkit-menu-hamburger > .akit-menu-icon {
        font-size: 27px;
    }
    .app-header .app-element.app-element-navbar-menu-wrapper .appkit-menu-close {
        font-size: var( --global-typography-accent-font-size );
        letter-spacing: var( --global-typography-accent-letter-spacing );
        padding: 0;
        margin: 12px;
        width: 45px;
        border-radius: 0;
        border-width: 0;
    }
    .app-header .app-element.app-element-navbar-menu-wrapper .appkit-nav-logo > img {
        max-width: 120px;
        max-height: 70px;
    }
    .app-header .app-element.app-element-navbar-menu-wrapper .appkit-nav-logo {
        margin: 7px 0 30px 25px;
        padding: 5px;
    }
    .app-header .app-element.app-element-header-logo-image > .app-widget-container {
        margin: 0;
        border-width: 0;
    }
    .app-header .app-element.app-element-header-logo-image {
        text-align: left;
    }
    .app-header .app-element.app-element-header-logo-image img {
        width: 95px;
    }
    .app-header .app-element.app-element-header-contactus-button .app-button {
        font-size: var( --global-typography-accent-font-size );
        letter-spacing: var( --global-typography-accent-letter-spacing );
    }
    .app-header .app-element.app-element-header-book-button > .app-widget-container {
        margin: 0;
        padding: 0;
    }
    .app-header .app-element.app-element-header-book-button .app-button {
        font-size: var( --global-typography-accent-font-size );
        letter-spacing: var( --global-typography-accent-letter-spacing );
        padding: 12px 22px 12px 22px;
    }
    .app-element.app-widget-form > .app-widget-container {
        margin: 0 150px 0 150px;
    }

    .app-header .app-element.app-element-header-logo.app-con {
        --order: -99999 /* order start hack */;
    }
    .app-footer .app-element.app-element-footer-main {
        --padding-top:70px;
        --padding-bottom:0;
        --padding-left:30px;
        --padding-right:30px;
    }
    .app-footer .app-element.app-element-footer-main-content-header {
        --flex-direction:row;
        --container-widget-width:initial;
        --container-widget-height:100%;
        --container-widget-flex-grow:1;
        --container-widget-align-self:stretch;
        --flex-wrap-mobile:wrap;
        --padding-top:0;
        --padding-bottom:50px;
        --padding-left:0;
        --padding-right:0;
    }
    .app-footer .app-element.app-element-footer-main-logo {
        text-align:center;
    }
    .app-footer .app-element.app-element-footer-main-logo img {
        width:22%;
    }
    .app-footer .app-element.app-element-footer-main-text > .app-widget-container {
        margin:0 150px;
    }
    .app-footer .app-element.app-element-footer-main-icon-list .app-icon-list-item > .app-icon-list-text,
    .app-footer .app-element.app-element-footer-main-icon-list .app-icon-list-item > a {
        font-size:var( --global-typography-accent-font-size );
        letter-spacing:var( --global-typography-accent-letter-spacing );
    }
    .app-footer .app-element.app-element-footer-main-info {
        --gap:0px 0;
        --row-gap:0;
        --column-gap:0;
        --flex-wrap:wrap;
        --padding-top:40px;
        --padding-bottom:50px;
        --padding-left:0;
        --padding-right:0;
    }
    .app-footer .app-element.app-element-footer-main-info-address {
        --margin-top:0;
        --margin-bottom:0;
        --margin-left:0;
        --margin-right:0;
        --padding-top:0;
        --padding-bottom:0;
        --padding-left:0;
        --padding-right:50px;
    }
    .app-footer .app-element.app-element-footer-main-heading .app-heading-title {
        font-size:var( --global-typography-101-font-size );
        line-height:var( --global-typography-101-line-height );
        letter-spacing:var( --global-typography-101-letter-spacing );
    }
    .app-footer .app-element.app-element-footer-main-address-icon-list .app-icon-list-item > .app-icon-list-text,
    .app-footer .app-element.app-element-footer-main-address-icon-list .app-icon-list-item > a {
        font-size:var( --global-typography-text-font-size );
        line-height:var( --global-typography-text-line-height );
        letter-spacing:var( --global-typography-text-letter-spacing );
    }
    .app-footer .app-element.app-element-footer-main-social-icons {
        --icon-size:12px;
    }
    .app-footer .app-element.app-element-footer-main-contact {
        --margin-top:0;
        --margin-bottom:0;
        --margin-left:0;
        --margin-right:0;
        --padding-top:0;
        --padding-bottom:0;
        --padding-left:50px;
        --padding-right:0;
    }
    .app-footer .app-element.app-element-footer-main-contact-icon-list .app-icon-list-item > .app-icon-list-text,
    .app-footer .app-element.app-element-footer-main-contact-icon-list .app-icon-list-item > a {
        font-size:var( --global-typography-text-font-size );
        line-height:var( --global-typography-text-line-height );
        letter-spacing:var( --global-typography-text-letter-spacing );
    }
    .app-footer .app-element.app-element-footer-main-subscribe {
        --margin-top:70px;
        --margin-bottom:0;
        --margin-left:0;
        --margin-right:0;
    }
    .app-footer .app-element.app-element-footer-main-heading.subscribe {
        text-align: center;
    }
    .app-footer .app-element.app-element-footer-main-subscribe-text > .app-widget-container {
        margin:0 150px -15px 150px;
    }
    .app-footer .app-element.app-element-footer-main-subscribe-text {
        text-align:center;
        font-size:var( --global-typography-text-font-size );
        line-height:var( --global-typography-text-line-height );
        letter-spacing:var( --global-typography-text-letter-spacing );
    }
    .app-footer .app-element.app-element-footer-main-subscribe-form > .app-widget-container {
        margin:0 150px 0 150px;
    }
    .app-footer .app-element.app-element-footer-secondary {
        --padding-top:25px;
        --padding-bottom:25px;
        --padding-left:30px;
        --padding-right:30px;
    }
    .app-footer .app-element.app-element-footer-secondary-copyright-text > .app-widget-container {
        margin:0px 0px -15px 0px;
    }
    .app-footer .app-element.app-element-footer-secondary-copyright-text {
        text-align:left;
        font-family:var( --global-typography-2eec24c-font-family ), sans-serif;
        font-size:var( --global-typography-2eec24c-font-size );
        font-weight:var( --global-typography-2eec24c-font-weight );
        text-transform:var( --global-typography-2eec24c-text-transform );
        font-style:var( --global-typography-2eec24c-font-style );
        text-decoration:var( --global-typography-2eec24c-text-decoration );
        line-height:var( --global-typography-2eec24c-line-height );
        letter-spacing:var( --global-typography-2eec24c-letter-spacing );
        color:#FFFFFF;
    }
    .app-footer .app-element.app-element-footer-secondary-button .app-button {
        font-size:var( --global-typography-2eec24c-font-size );
        line-height:var( --global-typography-2eec24c-line-height );
        letter-spacing:var( --global-typography-2eec24c-letter-spacing );
    }
}

@media (max-width: 767px) {
    .app-widget-image .widget-image-caption {
        font-size: var( --global-typography-text-font-size );
        line-height: var( --global-typography-text-line-height );
        letter-spacing: var( --global-typography-text-letter-spacing );
    }
    .app-header .app-element.app-element-subheader {
        --gap: 5px 6px;
        --row-gap: 5px;
        --column-gap: 6px;
        --flex-wrap: wrap;
        --padding-top: 10px;
        --padding-bottom: 10px;
        --padding-left: 20px;
        --padding-right: 20px;
    }
    .app-header .app-element.app-element-subheader-text {
        font-size: var( --global-typography-2eec24c-font-size );
        line-height: var( --global-typography-2eec24c-line-height );
        letter-spacing: var( --global-typography-2eec24c-letter-spacing );
    }
    .app-header .app-element.app-element-subheader-button .app-button {
        font-size: var( --global-typography-2eec24c-font-size );
        line-height: var( --global-typography-2eec24c-line-height );
        letter-spacing: var( --global-typography-2eec24c-letter-spacing );
    }
    .app-header .app-element.app-element-navbar {
        --margin-top: 0;
        --margin-bottom: 0;
        --margin-left: 0;
        --margin-right: 0;
        --padding-top: 12px;
        --padding-bottom: 12px;
        --padding-left: 10px;
        --padding-right: 10px;
    }
    .app-header .app-element.app-element-navbar-menu {
        --width: 13%;
    }

    .app-header .app-element.app-element-navbar-menu-wrapper > .app-widget-container {
        margin: 3px -8px 0 0;
    }
    .app-header .app-element.app-element-navbar-menu-wrapper .appkit-navbar-nav > li > a {
        font-size: var( --global-typography-658dc5b-font-size );
        line-height: var( --global-typography-658dc5b-line-height );
        letter-spacing: var( --global-typography-658dc5b-letter-spacing );
    }

    .app-header .app-element.app-element-navbar-menu-wrapper .appkit-navbar-nav .appkit-submenu-panel > li > a {
        font-size: var( --global-typography-2eec24c-font-size );
        line-height: var( --global-typography-2eec24c-line-height );
        letter-spacing: var( --global-typography-2eec24c-letter-spacing );
    }
    .app-header .app-element.app-element-navbar-menu-wrapper .appkit-menu-hamburger > .akit-menu-icon {
        font-size: 27px;
    }
    .app-header .app-element.app-element-navbar-menu-wrapper .appkit-menu-close {
        font-size: var( --global-typography-accent-font-size );
        letter-spacing: var( --global-typography-accent-letter-spacing );
        border-width: 0;
    }
    .app-header .app-element.app-element-navbar-menu-wrapper .appkit-nav-logo > img {
        max-width: 140px;
    }
    .app-header .app-element.app-element-navbar-menu-wrapper .appkit-nav-logo {
        margin: 7px 0 20px 25px;
    }
    .app-header .app-element.app-element-header-logo-image > .app-widget-container {
        margin: -3px 0 0 0;
        border-width: 0;
    }
    .app-header .app-element.app-element-header-logo-image img {
        width: 80%;
    }
    .app-header .app-element.app-element-header-buttons {
        --width: 57%;
    }
    .app-header .app-element.app-element-header-contactus-button .app-button {
        font-size: var( --global-typography-accent-font-size );
        letter-spacing: var( --global-typography-accent-letter-spacing );
    }
    .app-header .app-element.app-element-header-book-button > .app-widget-container {
        margin: 0;
    }
    .app-header .app-element.app-element-header-book-button.app-element {
        --align-self: center;
    }
    .app-header .app-element.app-element-header-book-button .app-button {
        font-size: var( --global-typography-accent-font-size );
        letter-spacing: var( --global-typography-accent-letter-spacing );
        padding: 11px 18px 11px 18px;
    }
    .app-header .app-element.app-element-header-logo {
        --width: 30%;
    }
    .app-footer .app-element.app-element-footer-main {
        --padding-top:70px;
        --padding-bottom:0;
        --padding-left:20px;
        --padding-right:20px;
    }
    .app-footer .app-element.app-element-footer-main-content-header {
        --padding-top:0;
        --padding-bottom:30px;
        --padding-left:0;
        --padding-right:0;
    }
    .app-footer .app-element.app-element-footer-main-content-header.app-con {
        --order:-99999 /* order start hack */;
    }
    .app-footer .app-element.app-element-footer-main-logo img {
        width:42%;
    }
    .app-footer .app-element.app-element-footer-main-text > .app-widget-container {
        margin:0;
    }
    .app-footer .app-element.app-element-footer-main-icon-list .app-icon-list-items:not(.app-inline-items) .app-icon-list-item:not(:last-child) {
        padding-bottom:calc(30px/2);
    }
    .app-footer .app-element.app-element-footer-main-icon-list .app-icon-list-items:not(.app-inline-items) .app-icon-list-item:not(:first-child) {
        margin-top:calc(30px/2);
    }
    .app-footer .app-element.app-element-footer-main-icon-list .app-icon-list-items.app-inline-items .app-icon-list-item {
        margin-right:calc(30px/2);
        margin-left:calc(30px/2);
    }
    .app-footer .app-element.app-element-footer-main-icon-list .app-icon-list-items.app-inline-items {
        margin-right:calc(-30px/2);
        margin-left:calc(-30px/2);
    }
    body.rtl .app-footer .app-element.app-element-footer-main-icon-list .app-icon-list-items.app-inline-items .app-icon-list-item:after {
        left:calc(-30px/2);
    }
    body:not(.rtl) .app-footer .app-element.app-element-footer-main-icon-list .app-icon-list-items.app-inline-items .app-icon-list-item:after {
        right:calc(-30px/2);
    }
    .app-footer .app-element.app-element-footer-main-icon-list .app-icon-list-item > .app-icon-list-text,
    .app-footer .app-element.app-element-footer-main-icon-list .app-icon-list-item > a {
        font-size:var( --global-typography-accent-font-size );
        letter-spacing:var( --global-typography-accent-letter-spacing );
    }
    .app-footer .app-element.app-element-footer-main-info {
        --gap:10px 10px;
        --row-gap:10px;
        --column-gap:10px;
        --padding-top:20px;
        --padding-bottom:50px;
        --padding-left:0;
        --padding-right:0;
    }
    .app-footer .app-element.app-element-footer-main-info-address {
        --margin-top:0;
        --margin-bottom:30px;
        --margin-left:0;
        --margin-right:0;
        --padding-top:0;
        --padding-bottom:0;
        --padding-left:0;
        --padding-right:0;
    }
    .app-footer .app-element.app-element-footer-main-heading .app-heading-title {
        font-size:var( --global-typography-101-font-size );
        line-height:var( --global-typography-101-line-height );
        letter-spacing:var( --global-typography-101-letter-spacing );
    }
    .app-footer .app-element.app-element-footer-main-address-icon-list .app-icon-list-item > .app-icon-list-text,
    .app-footer .app-element.app-element-footer-main-address-icon-list .app-icon-list-item > a {
        font-size:var( --global-typography-text-font-size );
        line-height:var( --global-typography-text-line-height );
        letter-spacing:var( --global-typography-text-letter-spacing );
    }
    .app-footer .app-element.app-element-footer-main-social-icons .app-widget-container {
        text-align:left;
    }
    .app-footer .app-element.app-element-footer-main-contact {
        --margin-top:0;
        --margin-bottom:50px;
        --margin-left:0;
        --margin-right:0;
        --padding-top:0;
        --padding-bottom:0;
        --padding-left:0;
        --padding-right:0;
    }
    .app-footer .app-element.app-element-footer-main-contact-icon-list .app-icon-list-item > .app-icon-list-text,
    .app-footer .app-element.app-element-footer-main-contact-icon-list .app-icon-list-item > a {
        font-size:var( --global-typography-text-font-size );
        line-height:var( --global-typography-text-line-height );
        letter-spacing:var( --global-typography-text-letter-spacing );
    }
    .app-footer .app-element.app-element-footer-main-subscribe {
        --margin-top:0;
        --margin-bottom:0;
        --margin-left:0;
        --margin-right:0;
    }
    .app-footer .app-element.app-element-footer-main-subscribe-text > .app-widget-container {
        margin:0 0 -15px 0;
    }
    .app-footer .app-element.app-element-footer-main-subscribe-text {
        font-size:var( --global-typography-text-font-size );
        line-height:var( --global-typography-text-line-height );
        letter-spacing:var( --global-typography-text-letter-spacing );
    }
    .app-footer .app-element.app-element-footer-main-subscribe-form > .app-widget-container {
        margin:0 10px 0 10px;
    }
    .app-footer .app-element.app-element-footer-secondary {
        --padding-top:20px;
        --padding-bottom:20px;
        --padding-left:20px;
        --padding-right:20px;
    }
    .app-footer .app-element.app-element-footer-secondary-copyright-text {
        text-align:center;
        font-size:var( --global-typography-2eec24c-font-size );
        line-height:var( --global-typography-2eec24c-line-height );
        letter-spacing:var( --global-typography-2eec24c-letter-spacing );
    }
    .app-footer .app-element.app-element-footer-secondary-terms {
        --justify-content:center;
        --align-items:center;
        --container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );
        --padding-top:0;
        --padding-bottom:5px;
        --padding-left:0;
        --padding-right:0;
    }
    .app-footer .app-element.app-element-footer-secondary-terms.app-con {
        --order:-99999 /* order start hack */;
    }
    .app-footer .app-element.app-element-footer-secondary-button .app-button {
        font-size:var( --global-typography-2eec24c-font-size );
        line-height:var( --global-typography-2eec24c-line-height );
        letter-spacing:var( --global-typography-2eec24c-letter-spacing );
    }
}

@media(min-width:768px) {
    .app-header .app-element.app-element-navbar-menu {
        --width: 40%;
    }
    .app-header .app-element.app-element-header-logo {
        --width: 20%;
    }
    .app-header .app-element.app-element-header-buttons {
        --width: 40%;
    }
    .app-footer .app-element.app-element-footer-main {
        --content-width:1300px;
    }
    .app-footer .app-element.app-element-footer-main-content-header {
        --width:1300px;
    }
    .app-footer .app-element.app-element-footer-main-info {
        --width:1300px;
    }
    .app-footer .app-element.app-element-footer-main-info-address {
        --width:35%;
    }
    .app-footer .app-element.app-element-footer-main-contact {
        --width:31%;
    }
    .app-footer .app-element.app-element-footer-main-subscribe {
        --width:34%;
    }
    .app-footer .app-element.app-element-footer-secondary {
        --content-width:1300px;
    }
}
@media(max-width: 1024px) and (min-width: 768px) {
    .app-header .app-element.app-element-navbar-menu {
        --width: 6%;
    }
    .app-header .app-element.app-element-header-buttons {
        --width: 74%;
    }
    .app-footer .app-element.app-element-footer-main-content-header {
        --width:100%;
    }
    .app-footer .app-element.app-element-footer-main-info {
        --width:100%;
    }
    .app-footer .app-element.app-element-footer-main-info-address {
        --width:50%;
    }
    .app-footer .app-element.app-element-footer-main-contact {
        --width:50%;
    }
    .app-footer .app-element.app-element-footer-main-subscribe {
        --width:100%;
    }
}
